<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.produce.mapper.InsMapper">
	  
	  <!-- Ins List -->
	  <select id="getInsList" resultType="ProdInsVO">
	  	SELECT * 
	  	FROM prod_instruction 
	  
	  </select>
	  
	  <!-- Ins Detail List -->
	  <select id="getInsDetailList" parameterType="String" resultType="ProdInsDetailVO">
	  	SELECT * 
	  	FROM prod_d_ins
	  	WHERE ins_code= #{insCode}
	  </select>

	  <!-- checked Ins Detail List -->
	  <select id="getCheckDetailList" parameterType="String" resultType="ProdInsDetailVO">
	  	SELECT * 
	  	FROM prod_d_ins
	  	WHERE d_ins_code= #{dInsCode}
	  </select>
  </mapper>