<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.produce.mapper.PlanMapper">

	<!-- plan list -->
	<select id="selectPlanList" resultType="PlanVO">
		SELECT 
			plan_code,
			ord_code,
			plan_title,
			plan_person,
			plan_date,
			plan_note,
			find_codename(plan_state) plan_state
		FROM PROD_PLAN
		<!--WHERE PLAN_STATE = 'p1'-->
		ORDER BY PLAN_CODE DESC
	</select>

	<!-- plan by ordCode -->
	<select id="selectPlanByOrdCode" resultType="PlanVO">
		SELECT *
		FROM prod_plan
		WHERE ord_code = #{ordCode}
	</select>

	<!-- plan detail list -->
	<select id="selectPlanDList" resultType="PlanDVO">
		SELECT
			PDP.D_PLAN_CODE,
			PDP.PLAN_CODE,
			PDP.PROD_CODE,
			PDP.D_PLAN_COUNT,
			PDP.D_PLAN_START_DATE AS "START",
			PDP.D_PLAN_END_DATE as "END",
			PDP.D_PLAN_PRIORITY,
			PDP.D_PLAN_NOTE,
			MAX(ODDL.DLVY_DATE) AS DLVY_DATE,
			MAX(PL.PROD_COUNT) AS PROD_COUNT,
			MAX(ODDL.ORD_COUNT) AS ORD_COUNT
		FROM
			PROD_D_PLAN PDP
			LEFT JOIN PROD_PLAN PP ON PDP.PLAN_CODE = PP.PLAN_CODE
			LEFT JOIN ORD_LIST OL ON PP.ORD_CODE = OL.ORD_CODE
			LEFT JOIN ORD_D_LIST ODDL ON OL.ORD_CODE = ODDL.ORD_CODE
			LEFT JOIN PROD_LOT PL ON PDP.PROD_CODE = PL.PROD_CODE
		WHERE
			PDP.PLAN_CODE = #{planCode}
		GROUP BY
			PDP.D_PLAN_CODE,
			PDP.PLAN_CODE,
			PDP.PROD_CODE,
			PDP.D_PLAN_COUNT,
			PDP.D_PLAN_START_DATE,
			PDP.D_PLAN_END_DATE,
			PDP.D_PLAN_PRIORITY,
			PDP.D_PLAN_NOTE
		ORDER BY PDP.D_PLAN_CODE

	</select>

	<!-- order list -->
	<select id="selectOrdList" resultType="PlanOrdVO">
		SELECT *
		FROM ord_list
		where ord_state = 'o2'
	</select>

	<!-- order detail list -->
	<select id="selectOrdDList" resultType="PlanOrdDVO">
		SELECT *
		FROM ord_d_list
		WHERE ord_code = #{ordCode}
	</select>

	<insert id="insertPlanInfo" parameterType="PlanVO">
		<selectKey keyProperty="planCode" resultType="string" order="BEFORE">
			SELECT
				'PLAN'||LPAD(PLAN_CODE_SEQ.NEXTVAL,3,0) FROM DUAL
		</selectKey>
		INSERT INTO PROD_PLAN(PLAN_CODE,ORD_CODE, PLAN_TITLE, PLAN_PERSON,
		PLAN_DATE)
		VALUES(#{planCode},#{ordCode},#{planTitle},#{planPerson},#{planDate}) 
	</insert>

	<insert id="insertPlanDInfo" parameterType="PlanDVO">
	
		INSERT INTO
		PROD_D_PLAN(PLAN_CODE, PROD_CODE, D_PLAN_COUNT, D_PLAN_START_DATE,
		D_PLAN_END_DATE)
		VALUES(#{planCode},#{prodCode},#{dplanCount},#{dPlanStartDate},#{dPlanEndDate})
	</insert>


	<update id="updatePlanDInfo" parameterType="PlanDVO">
		UPDATE PROD_D_PLAN
		SET D_PLAN_START_DATE = #{dPlanStartDate},
		D_PLAN_END_DATE = #{dPlanEndDate},
		D_PLAN_COUNT = #{dplanCount}
		WHERE D_PLAN_CODE = #{dplanCode}

	</update>

	<update id="updateOrderStateZero" parameterType="String">
		UPDATE ORD_LIST
		SET ORD_STATE = 'o3'
		WHERE ORD_CODE = #{ordCode}
	</update>

	<update id="updateOrderStateOne" parameterType="String">
		UPDATE ORD_LIST
		SET ORD_STATE = 'o2'
		WHERE ORD_CODE = #{ordCode}
	</update>

	<delete id="deltePlanInfo" parameterType="String">
		DELETE FROM prod_plan
		WHERE plan_code = #{planCode}
	</delete>







	<!-- 생산 지시 -->
	
	<!-- plan list -->
	<select id="selectPlanInsList" resultType="PlanInsVO">
		SELECT *
		FROM PROD_INSTRUCTION
		ORDER BY INS_CODE DESC
	</select>
	
	<select id="selectPlanDInsList" resultType="PlanInsDVO">
		SELECT
			pdi.d_ins_code,
		    pdi.prod_code,
		    MAX(pdp.d_plan_count) AS d_plan_count, 
		    pdi.ins_code,
		    pdi.d_ins_count,
		    MAX(pdi.d_ins_sdate) AS d_ins_sdate,
		    MAX(pdi.d_ins_edate) AS d_ins_edate
		FROM
		    prod_d_plan pdp
		INNER JOIN prod_instruction pi ON pdp.plan_code = pi.plan_code
		INNER JOIN prod_d_ins pdi ON pi.ins_code = pdi.ins_code
		WHERE
		    pdi.ins_code = #{insCode}
		GROUP BY
			pdi.d_ins_code,
		    pdi.prod_code,
		    pdi.ins_code,
		    pdi.d_ins_count
		ORDER BY
		    pdi.prod_code
	
	</select>
	
	<insert id="insertPlanInsInfo" parameterType="PlanInsVO">
		<selectKey keyProperty="insCode" resultType="string" order="BEFORE">
			SELECT
				'INS'||LPAD(INS_CODE_SEQ.NEXTVAL,3,0) FROM DUAL
		</selectKey>
		INSERT INTO PROD_INSTRUCTION(INS_CODE, PLAN_CODE, INS_TITLE, INS_PERSON,
		INS_DATE,INS_NOTE)
		VALUES(#{insCode},#{planCode},#{insTitle},#{insPerson},#{insDate},#{insNote}) 
	</insert>

	<insert id="insertPlanDInsInfo" parameterType="PlanInsDVO">
		<selectKey keyProperty="dinsCode" resultType="string" order="BEFORE">
			SELECT
				'D_INS'||LPAD(d_ins_code_seq.NEXTVAL,3,0) FROM DUAL
		</selectKey>
		INSERT INTO
		PROD_D_INS(D_INS_CODE,INS_CODE, PROD_CODE, D_INS_COUNT, D_INS_SDATE,
		D_INS_EDATE )
		VALUES(#{dinsCode},#{insCode},#{prodCode},#{dinsCount},#{dinsSdate},#{dinsEdate})
	</insert>
	
	<update id="updatePlanStateZero" parameterType="String">
		UPDATE PROD_PLAN
		SET PLAN_STATE = 'p2'
		WHERE PLAN_CODE = #{palnCode}
	</update>
	
	<update id="updatePlanStateOne" parameterType="String">
		UPDATE PROD_PLAN
		SET PLAN_STATE = 'p1'
		WHERE PLAN_CODE = #{palnCode}
	</update>
	
	<delete id="deleteInsInfo" parameterType="String">
		DELETE FROM PROD_INSTRUCTION
		WHERE INS_CODE = #{insCode}
	</delete>
	
	<update id="updateInsDInfo" parameterType="PlanInsDVO">
		UPDATE PROD_D_INS
		SET D_INS_SDATE = #{dinsSdate},
			D_INS_EDATE = #{dinsEdate},
			D_INS_COUNT = #{dinsCount}
		WHERE D_INS_CODE = #{dinsCode}
	</update>
	
	<select id="selectBomByProd" resultType="BomVO">
		select * from bom_material
		where prod_code = #{prodCode}
	</select>
	
	<insert id="insertMatUse">
		insert into 
		mat_use(mat_code, proc_code, d_ins_code, mat_total_con)
		values(#{matCode}, #{procCode}, #{dinsCode}, #{matTotalCon})
		
	</insert>
	
	<select id="selectMatUseList" resultType="MatUseVO">
		select ms.*, m.mat_name 
		from mat_use ms
		join material m on ms.mat_code = m.mat_code
		where d_ins_code = #{dinsCode}
	</select>
	
	
</mapper>