<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.produce.mapper.PlanMapper">
	
	<!-- plan list -->
	<select id="selectPlanList" resultType="PlanVO">
		SELECT *
		FROM prod_plan
	</select>
	
	<!-- plan by ordCode -->
	<select id="selectPlanByOrdCode" resultType="PlanVO">
		SELECT *
		FROM prod_plan
		WHERE ord_code = #{ordCode}
	</select>
	
	<!-- plan detail list -->
	<select id="selectPlanDList" resultType="PlanDVO">
		
		
		SELECT pdp.d_plan_code, pdp.plan_code, pdp.prod_code, pdp.d_plan_count, pdp.d_plan_start_date, 
		       pdp.d_plan_end_date, pdp.d_plan_priority, pdp.d_plan_note, 
		       MAX(oddl.dlvy_date) AS dlvy_date, MAX(pl.prod_count) AS prod_count
		FROM prod_d_plan pdp
		LEFT JOIN prod_plan pp ON pdp.plan_code = pp.plan_code
		LEFT JOIN ord_list ol ON pp.ord_code = ol.ord_code
		LEFT JOIN ord_d_list oddl ON ol.ord_code = oddl.ord_code
		LEFT JOIN prod_lot pl ON pdp.prod_code = pl.prod_code
		where pdp.plan_code = #{planCode}
		GROUP BY pdp.d_plan_code, pdp.plan_code, pdp.prod_code, pdp.d_plan_count, pdp.d_plan_start_date, 
        pdp.d_plan_end_date, pdp.d_plan_priority, pdp.d_plan_note
 
	</select>
	
	<!-- order list -->
	<select id="selectOrdList" resultType="PlanOrdVO">
		SELECT *
		FROM ord_list
		  
	</select>
	
	<!-- order detail list -->
	<select id="selectOrdDList" resultType="PlanOrdDVO">
		SELECT *
		FROM ord_d_list
		WHERE ord_code = #{ordCode}  
	</select>
	
	<insert id="insertPlanInfo" parameterType="PlanVO" useGeneratedKeys="true" keyProperty="planCode">
		INSERT INTO
		prod_plan(ord_code, plan_title, plan_person, plan_date)
		VALUES(#{ordCode},#{planTitle},#{planPerson},#{planDate})
	</insert>
	
	<insert id="insertPlanDInfo" parameterType="PlanDVO" >
		INSERT INTO
		prod_d_plan(plan_code, prod_code, d_plan_count, d_plan_start_date, d_plan_end_date, d_plan_priority, d_plan_note)
		VALUES(#{planCode},#{prodCode},#{dplanCount},#{dPlanStartDate},#{dPlanEndDate},#{dPlanPriority},#{dPlanNote})
		
	</insert>
	
	
	
</mapper>