<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.produce.mapper.WorkMapper">
	
	<!-- workRegistPage LoadData -->
	<select id="getLoadData" parameterType="String" resultType="WorkLoadVO">
		SELECT 
			f.prod_code
			, (SELECT prod_name 
			   FROM product 
			   WHERE prod_code=f.prod_code) AS prod_name
			, f.flow_code
			, f.proc_code
			, p.proc_name
		FROM 
			process_flow f join process p 
			on f.proc_code = p.proc_code 
		WHERE 
			f.prod_code = #{prodCode}
		ORDER BY 
			f.proc_seq
	</select>
	
	
	<select id="getFacSelect" parameterType="String" resultType="FacCateVO">
		SELECT 
			f.fac_code
			, f.fac_name
			, f.proc_code
			, p.proc_name
			, n.fac_not_situation fac_state
		FROM fac_manage f 
		JOIN process p ON f.proc_code=p.proc_code
		JOIN fac_notop n ON f.fac_code=n.fac_code
		WHERE f.proc_code=#{procCode}
	</select>

	<select id="getProcData" resultType="ProcessVO">
		SELECT proc_code, proc_name
		FROM process
	</select>



</mapper>