<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.produce.mapper.WorkMapper">
	
	<!-- workRegistPage LoadData -->
	<select id="getLoadData" parameterType="String" resultType="WorkLoadVO">
		SELECT 
			f.prod_code
			, (SELECT prod_name 
			   FROM product 
			   WHERE prod_code=f.prod_code) AS prod_name
			, f.flow_code
			, f.proc_code
			, p.proc_name
		FROM 
			process_flow f join process p 
			on f.proc_code = p.proc_code 
		WHERE 
			f.prod_code = #{prodCode}
		ORDER BY 
			f.proc_seq
	</select>


</mapper>