<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>생산지시목록</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container">
        <!-- ============================메인============================ -->
        <h2>생산지시목록</h2>
        <div>
          <div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>No</th>
                  <th>생산지시코드</th>
                  <th>주문코드</th>
                  <th>계획명</th>
                  <th>담당자</th>
                  <th>생산지시일자</th>
                  <th>납기/마감일자</th>
                </tr>
              </thead>
              <tbody class="ins">
                <tr
                  th:each="ins : ${insList}"
                  th:data-ins-code="${ins.insCode}"
                  class="ins-row"
                >
                  <td th:text="${insStat.count}"></td>
                  <td th:text="${ins.insCode}"></td>
                  <td th:text="${ins.insCode}"></td>
                  <td th:text="${ins.insTitle}"></td>
                  <td th:text="${ins.insPerson}"></td>
                  <td
                    th:text="${#dates.format(ins.insDate, 'yyyy-MM-dd') }"
                  ></td>
                  <td th:text="${ins.insNote}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- ============================생산상세계획============================ -->
          <div class="mt-5">
            <!-- <button class="btn btn-secondary" style="float: right; margin: 0 5px;">저장</button> -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>생산지시코드</th>
                  <th>제품코드</th>
                  <th>지시량</th>
                  <th>작업시작일자</th>
                  <th>작업종료일자</th>
                  <th>비고</th>
                </tr>
              </thead>
              <tbody id="detailPlanOrder">
                <tr th:block th:each="detail : ${detailList}">
                  <td>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        th:id="${detail.dInsCode}"
                      />
                      <label
                        class="form-check-label"
                        th:for="${detail.dInsCode}"
                      ></label>
                    </div>
                  </td>
                  <td th:text="${detail.insCode}"></td>
                  <td th:text="${detail.prodCode}" th:id="${detail.prodCode}"></td>
                  <td th:text="${detail.dInsCount}"></td>
                  <td
                    th:text="${#dates.format(detail.dInsSdate, 'yyyy-MM-dd') }"
                  ></td>
                  <td
                    th:text="${#dates.format(detail.dInsEdate, 'yyyy-MM-dd') }"
                  ></td>
                  <td th:text="${detail.dInsNote}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-3">
            <button class="btn btn-primary" id="registerButton">
              작업 등록
            </button>
          </div>
        </div>
      </div>
      <script>
        document.querySelectorAll(".ins-row").forEach((row) => {
          row.addEventListener("click", function () {
            const insCode = this.getAttribute("data-ins-code");
            console.log("insCode : ", insCode);
            fetch("planOrderDetail?insCode=" + insCode)
              .then((response) => response.json())
              .then((data) => {
                const detailsTbody = document.getElementById("detailPlanOrder");
                detailsTbody.innerHTML = ""; // 기존 내용 초기화

                // 상세 정보 리스트를 반복하여 tr 요소 생성 및 추가
                data.forEach((detail) => {
                  const tr = document.createElement("tr");
                  const sDate = new Date(detail.dinsSdate);
                  const eDate = new Date(detail.dinsEdate);
                  const formatSdate = sDate.toLocaleDateString("en-CA", {
                    year: "numeric",
                    month: "2-digit",
                    day: "2-digit",
                  });
                  const formatEdate = eDate.toLocaleDateString("en-CA", {
                    year: "numeric",
                    month: "2-digit",
                    day: "2-digit",
                  });
                  console.log(detail);
                  tr.innerHTML = `
							<td>
								<div class="form-check">
								  <input class="form-check-input" type="radio" name="flexRadioDefault" id="${detail.dinsCode}" >
								  <label class="form-check-label" for="${detail.dinsCode}"></label>
								</div>
							</td>
							<td>${detail.insCode}</td>
							<td id="${detail.prodCode}">${detail.prodCode}</td>
							<td>${detail.dinsCount}</td>
							<td>${formatSdate}</td>
							<td>${formatEdate}</td>
							<td>${detail.dinsNote}</td>
						`;
                  detailsTbody.appendChild(tr);
                });
              });
          });
        });

        // 작업 등록 버튼 클릭 이벤트 처리
        document
          .getElementById("registerButton")
          .addEventListener("click", function () {
            // 선택된 라디오 버튼 가져오기
            const selectedRadio = document.querySelector(
              'input[name="flexRadioDefault"]:checked'
            );
            if (selectedRadio) {
              // 선택된 라디오 버튼의 ID 가져오기
              const selectedId = selectedRadio.id;
			  // 선택된 라디오 버튼과 함께 있는 prodCode 값을 가져오기
              const prodCodeElement = document.querySelector('label[for="' + selectedId + '"]').closest('tr').querySelector('td:nth-child(3)');
              const prodCode = prodCodeElement.textContent;
              console.log("선택된 라디오 버튼에 해당하는 prodCode 값:", prodCode);
              // TODO: 선택된 라디오 버튼에 대한 작업 등록 처리
              console.log("선택된 라디오 버튼 ID:", selectedId);
		      window.location.href = '/workRegist?dInsCode=' + selectedId + '&prodCode=' + prodCode;
            } else {
              alert("작업등록을 할 상세생산지시를 선택해주세요.");
            }
          });
      </script>
    </section>
  </body>
</html>
