<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>생산지시관리</title>
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<style>
		.tui-grid-row-odd .ins {
			background-color: #e0f7fa;
			/* 예시로 빨간색을 지정했습니다. */
		}
		.tui-grid-row-odd .ins.insTitle {
			background-color: #FDC0CE;
			/* 예시로 빨간색을 지정했습니다. */
		}
		.tui-grid-row-odd .ins.insNote {
			background-color: #FDC0CE;
			/* 예시로 빨간색을 지정했습니다. */
		}

		.tui-grid-row-odd .detail {
			background-color: #e0f7fa;
			/* 예시로 빨간색을 지정했습니다. */
		}
		.tui-grid-row-odd .dinsSdate {
			background-color: #FDC0CE;
			/* 예시로 빨간색을 지정했습니다. */
		}
		.tui-grid-row-odd .dinsEdate {
			background-color: #FDC0CE;
			/* 예시로 빨간색을 지정했습니다. */
		}
		.tui-grid-row-odd .dinsCount {
			background-color: #FDC0CE;
			/* 예시로 빨간색을 지정했습니다. */
		}

		.tui-grid-row-even .detail {
			background-color: #e0f7fa;
			/* 예시로 빨간색을 지정했습니다. */
		}
		.tui-grid-row-even .dinsSdate {
			background-color: #FDC0CE;
			/* 예시로 빨간색을 지정했습니다. */
		}
		.tui-grid-row-even .dinsEdate {
			background-color: #FDC0CE;
			/* 예시로 빨간색을 지정했습니다. */
		}
		.tui-grid-row-even .dinsCount {
			background-color: #FDC0CE;
			/* 예시로 빨간색을 지정했습니다. */
		}
	</style>
</head>

<body>
	<section layout:fragment="content" class="m-5">
		<div class="container">
			<!-- ============================모달창============================ -->
			<div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<!-- ============================모달 내용============================ -->
						<div class="modal-body">
						<h4>생산 계획</h4>
							<div>
								
								<button class="btn btn-secondary" style="float: right; margin: 0 5px;">선택</button>
								<table class="table">
									<thead>
										<tr>
											<th></th>
											<th>생산 계획 코드</th>
											<th>계획 일자</th>
											<th>비고</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="plan : ${planList}" th:data-plan-code="${plan.planCode}" class="plan-row">
											<td>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="flexRadioDefault" th:id="${plan.planCode}"> <label class="form-check-label" th:for="${plan.planCode}"></label>
												</div>
											</td>
											<td th:text="${plan.planCode}"></td>
											<td th:text="${#dates.format(plan.planDate, 'yyyy-MM-dd')}"></td>
											<td th:text="${plan.planNote}"></td>
										</tr>
										<tr th:unless="${planList.size() > 0}">
											<td colspan="4" style="text-align: center; padding: 50px;">생산계획이 없습니다.</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div id="planDetails"></div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id="addPlanBtn">추가</button>
						</div>
					</div>
				</div>
			</div>

			<!-- ============================메인============================ -->
			<h2>생산 지시 관리</h2>
			<div>
				<button class="btn btn-secondary" style="float: right; margin: 8px 5px;" id="insInsert">저장</button>
				<button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right; margin: 8px 5px;">생산 계획 조회</button>
				<div>
					<div id="planGrid"></div>
					<!-- <table class="table table-hover" id="planTable">
						<thead>
							<tr>
								<th>No</th>
								<th>생산계획코드</th>
								<th>주문코드</th>
								<th>계획명</th>
								<th>담당자</th>
								<th>생산계획일자</th>

							</tr>
						</thead>
						<tbody>

							<tr th:each="plan : ${list}" th:data-plan-code="${plan.planCode}"
								class="plan-row">
								<td th:text="${planStat.count}"></td>
								<td th:text="${plan.planCode}"></td>
								<td th:text="${plan.ordCode}"></td>
								<td th:text="${plan.planTitle}"></td>
								<td th:text="${plan.planPerson}"></td>
								<td th:text="${#dates.format(plan.planDate, 'yyyy-MM-dd')}"></td>


							</tr>

						</tbody>
					</table> -->
				</div>

				<!-- ============================생산상세계획============================ -->

				<div class="mt-4">
				<button class="btn btn-secondary" style="float: right; margin: 8px 5px;" id="registerButton">작업 등록</button>
					<button class="btn btn-secondary" style="float: right; margin: 8px 5px;" id="planDUpdate">수정</button>
					<h5>상세 지시</h5>
					<div id="planDGrid"></div>
					<!-- <table class="table table-hover" id="planDetailTable">
						<thead>
							<tr>
								<th>상세계획코드</th>
								<th>생산계획코드</th>
								<th>제품코드</th>
								<th>생산계획 시작일자</th>
								<th>생산계획 종료일자</th>
								<th>재고량</th>
								<th>주문수량</th>
								<th>계획량</th>
								<th>납기/마감일자</th>
							</tr>
						</thead>
						<tbody id="planDetails">
							<th:block th:each="planD : ${dddddList}">
								<tr>
									<td>1</td>
									<td th:text="${planD.planCode}"></td>
									<td th:text="${planD.prodCode}"></td>
									<td><input type="date" name="startDate"></td>
									<td><input type="date" name="endDate"></td>
									<td th:text="${planD.prodCount}"></td>
									<td th:text="${planD.ordCount}"></td>
									<td><input type="number" name="planCount"></td>
									<td th:text="${#dates.format(planD.dlvyDate, 'yyyy-MM-dd')}"></td>
								</tr>
							</th:block>
						</tbody>
					</table> -->
				</div>
				<br>
				<br>
				<br>
				<!-- <br>
				<br>
				<div id="grid">
					<button class="btn btn-secondary"
						style="float: right; margin: 8px 5px;">저장</button>
				</div> -->
				<div class="mt-4">
					
					<h5>자재 소모량</h5>
					<div id="matUseGrid"></div>
					<button type="button" class="btn btn-outline-primary" style="float: right; margin: 8px 5px;" onclick="downloadCSV()">Excel</button>
				</div>

			</div>
		</div>


		<script th:inline="javascript">
		class RadioButtonRenderer {
		    constructor(props) {
		        const el = document.createElement('input');
		        el.type = 'radio';
		        el.name = 'myRadio'; // 동일한 name 속성을 사용하여 그룹화
		        el.value = props.value;

		        this.el = el;
		    }

		    getElement() {
		        return this.el;
		    }

		    render(props) {
		        this.el.checked = props.value === props.grid.getValue(props.rowKey, 'selectedValue');
		    }
		}
		
		function getOutStatus(value, row) {
			console.log("value : " ,value.value); // 값 확인용 로그
			let statusText, bgColor;
			
			

			// 주문 상태에 따라 원하는 문자열과 배경색 설정
			switch (value.value) {
				case "작업 등록":
					statusText = '작업 등록';
					bgColor = 'green'; // 등록완료에 대한 배경색 설정
					break;
				case "지시 등록":
					statusText = '지시 등록';
					bgColor = 'yellow'; // 계획 진행중에 대한 배경색 설정
					break;
				case "":
				case undefined:
				case null:
					statusText = '등록 중';
					bgColor = 'red'; 
					break;

			}
			return `<div style="background-color: ${bgColor}; ">${statusText}</div>`;
		};
		
		
			let plan = [[${list}]];
			let planGrid, planDGrid, matUseGrid;
			class NumberEditor {
				constructor(props) {
					const el = document.createElement('input');
					el.type = 'number';
					el.value = String(props.value);
					el.min = props.columnInfo.editor.options.min;
					el.step = props.columnInfo.editor.options.step;

					this.el = el;
				}

				getElement() {
					return this.el;
				}

				getValue() {
					return this.el.value;
				}

				mounted() {
					this.el.select();
				}
			};

			class DeleteButtonRenderer {
				constructor(props) {
					const el = document.createElement('button');
					el.textContent = '삭제';
					el.addEventListener('click', () => {

						const rowData = props.grid.getRow(props.rowKey);
						const planCode = rowData.planCode;
						const insCode = rowData.insCode;
						console.log("planCode : " + planCode)
						console.log("ordCode : " + insCode)
						let data = {};
						let insObj = {};
						let planObj = {};

						planObj.planCode = planCode;
						insObj.insCode = insCode;

						data.planVO = planObj;
						data.planInsVO = insObj;

						console.log("data : " + data);

						fetch('/insDelete', {
							method: 'DELETE',
							headers: {
								'Content-Type': 'application/json',

							},
							body: JSON.stringify(data)
						})
							.then(response => {
								if (!response.ok) {
									throw new Error('Network response was not ok');
								}
								return response.text();
							})
							.then(data => {
								console.log('Success:', data);
								alert(data);
								location.href = '/planIns'; // 성공적으로 처리된 후 리디렉트
							})
							.catch(error => {
								console.error('Error:', error);
							});

					});

					this.el = el;
				}

				getElement() {
					return this.el;
				}
			}

			document.addEventListener('DOMContentLoaded', function () {
				planGrid = new tui.Grid({
					el: document.getElementById('planGrid'),
					data: plan,
					// 그리드 컬럼 설정
					columns: [

						{header: '생산 지시 코드', name: 'insCode', className: 'ins-code', align: "center", },
						{header: '생산 계획 코드', name: 'planCode'},
						{
							header: '지시 명',
							name: 'insTitle',
							editor: 'text', // 이 부분을 추가하여 텍스트 입력을 가능하게 함
							className: 'insTitle'
						},
						{header: '담당자', name: 'insPerson', align: "center"},
						{
							header: '생산 지시 일자',
							name: 'insDate',
							align: "center",
							formatter: function ({value}) {
								if (value) {
									var date = new Date(value);
									var year = date.getFullYear();
									var month = (date.getMonth() + 1).toString().padStart(2, '0');
									var day = date.getDate().toString().padStart(2, '0');
									return `${year}-${month}-${day}`;
								}
								return '';
							}
						},
						{
							header: '비고',
							name: 'insNote',
							editor: 'text', // 이 부분을 추가하여 텍스트 입력을 가능하게 함
							className: 'insNote'
						},
						{
							header: '상태',
							name: 'insState',
							align: "center",
							formatter: getOutStatus,

						},
						{
							header: '삭제',
							name: 'deleteButton',
							align: "center",
							renderer: {
								type: DeleteButtonRenderer
							}
						}
					],

					rowHeaders: ['rowNum'],
					pageOptions: {
						useClient: true,
						perPage: 5
					}
				});

				planGrid.on('click', function (ev) {
					console.log(ev.columnName);
					var columnName = ev.columnName;
					if (columnName === 'insCode') {
						var rowKey = ev.rowKey;
						var rowData = planGrid.getRow(rowKey);

						if (rowData) {
							var insCode = rowData.insCode;

							// planCode를 사용하여 상세 데이터 요청
							fetch('/insDetail?insCode=' + insCode)
								.then(response => response.json())
								.then(data => {
									
									// 상세 그리드에 데이터 표시
									// grid는 상세 계획을 표시하는 Toast Grid의 인스턴스를 나타냅니다.
									planDGrid.resetData(data);
								})
								.catch(error => {
									console.error('Error:', error);
								});
						}
					}
				});

				planDGrid = new tui.Grid({
					el: document.getElementById('planDGrid'), // 그리드 요소 ID가 맞는지 확인하세요
					scrollX: false,
					scrollY: false,

					columns: [
						{
				            header: '선택',
				            name: 'radioColumn',
				            renderer: RadioButtonRenderer,
				            width: 50,
				            align: "center",
				        },
						// 데이터 구조에 따라 컬럼을 정의하세요
						{name: 'dinsCode', header: '상세 지시 코드'},
						{name: 'insCode', header: '생산 지시 코드'},

						{name: 'prodCode', header: '제품 코드'},
						{
							name: 'dinsSdate', header: '시작 일자',
							
							formatter: function ({value}) {
								if (value) {
									var date = new Date(value);
									var year = date.getFullYear();
									var month = (date.getMonth() + 1).toString().padStart(2, '0');
									var day = date.getDate().toString().padStart(2, '0');
									return `${year}-${month}-${day}`;
								}
								return '';
							},
							
						},
						{
							name: 'dinsEdate', header: '종료 일자',
							
							formatter: function ({value}) {
								if (value) {
									var date = new Date(value);
									var year = date.getFullYear();
									var month = (date.getMonth() + 1).toString().padStart(2, '0');
									var day = date.getDate().toString().padStart(2, '0');
									return `${year}-${month}-${day}`;
								}
								return '';
							},
							
						},
						
						{name: 'dplanCount', header: '계획량', align: "center", },
						{
							name: 'dinsCount', header: '지시량', align: "center",
							className: 'dinsCount',
							editor: {
								type: NumberEditor,
								options: {
									min: 1, // 최소값 설정
									step: 10  // 증가량 설정
								}
							}
						},
						
						
						// 데이터에 따라 다른 컬럼 추가
					],
					// 여기에 다른 그리드 옵션을 추가할 수 있습니다
					rowHeaders: [],
					
				});

				console.log("planGrid", planGrid)
				
				
				planDGrid.on('click', function (ev) {
					console.log(ev.columnName);
					var columnName = ev.columnName;
					if (columnName === 'dinsCode') {
						var rowKey = ev.rowKey;
						var rowData = planDGrid.getRow(rowKey);

						if (rowData) {
							var dinsCode = rowData.dinsCode;

							// planCode를 사용하여 상세 데이터 요청
							fetch('/matUseList?dinsCode=' + dinsCode)
								.then(response => response.json())
								.then(data => {
									console.log(data);
									// 상세 그리드에 데이터 표시
									// grid는 상세 계획을 표시하는 Toast Grid의 인스턴스를 나타냅니다.
									matUseGrid.resetData(data);
								})
								.catch(error => {
									console.error('Error:', error);
								});
						}
					}
				});
				
				matUseGrid = new tui.Grid({
					el: document.getElementById('matUseGrid'), // 그리드 요소 ID가 맞는지 확인하세요
					scrollX: false,
					scrollY: false,

					columns: [
						// 데이터 구조에 따라 컬럼을 정의하세요
						{name: 'matUseCode', header: '소모 자재 코드'},
						{name: 'dinsCode', header: '상세 지시 코드'},

						{name: 'matCode', header: '자재 코드'},
						{name: 'matName', header: '자재 이름'},
						{name: 'procCode', header: '공정 코드'},
						{name: 'matTotalCon', header: '소모량'},
						
					],
					// 여기에 다른 그리드 옵션을 추가할 수 있습니다
					rowHeaders: [],
					
				});
				
				
				
			});
			
			
			






			//모달 추가 버튼
			document.getElementById('addPlanBtn').addEventListener('click', function () {
				let name = [[${session.userName}]];
				console.log("name : ", name);
				
				var selectedRadio = document.querySelector('input[name="flexRadioDefault"]:checked');
				if (!selectedRadio) {
					alert('계획을 선택해주세요.');
					return;
				}
				const existingRows = planGrid.getData();
			    const isRowAlreadyAdded = existingRows.some(row => row.insState == null);

			    // 이미 추가된 행이 있다면 경고 메시지 출력하고 함수 종료
			    if (isRowAlreadyAdded) {
			        alert('이미 추가된 행이 있습니다.');
			        return;
			    }
			    
			    planDGrid.resetData([]);
			    
				var planCode = selectedRadio.id;

				// 주요 계획 테이블에 행 추가
				var newRowData = {
					insCode: '',
					planCode: planCode,

					insTitle: '', // 사용자 입력에 따라 설정
					insPerson: name, // 예시, 실제 데이터에 맞게 변경
					insDate: new Date().toISOString().substring(0, 10), // 오늘 날짜
					_attributes: {

						className: {
							// Add class name on a row
							row: ['ins']
						}
					}

				};


				planGrid.appendRow(newRowData, {at: 0});





				// 상세 계획 테이블에 행 추가
				tempPlanDetails.forEach(detail => {
					var detailRowData = {
						dInsCode: '', // 새 상세 지시 코드
						
						prodCode: detail.prodCode,
						dinsSdate: detail.start, // 시작 일자, 사용자 입력에 따라 설정
						dinsEdate: detail.end, // 종료 일자, 사용자 입력에 따라 설정
						prodCount: detail.prodCount, // 현재 재고
						ordCount: detail.ordCount, // 주문 수량
						dplanCount: detail.dplanCount, // 계획량, 사용자 입력에 따라 설정
						dlvyDate: detail.dlvyDate, // 납기 일자
						dinsCount: detail.dplanCount,
						_attributes: {

							className: {
								// Add class name on a row
								row: ['detail']
							}
						}

					};

					planDGrid.appendRow(detailRowData);
				});

				// 모달 닫기
				var exampleModal = document.getElementById('exampleModal');
				var modal = bootstrap.Modal.getInstance(exampleModal);
				modal.hide();


			});



			let tempPlanDetails = [];
			// 초기에 모달 창을 만들 때 테이블 헤더를 미리 추가합니다.
			const detailsContainer = document.getElementById('planDetails');
			const table = document.createElement('table');
			table.className = 'table';

			const thead = document.createElement('thead');
			thead.innerHTML = `
		        <tr>
		            <th>제품 코드</th>
		            <th>주문 수량</th>
		            <th>시작 일자</th>
		            <th>종료 일자</th>
		            <th>납기 일자</th>
		        </tr>
		    `;
			table.appendChild(thead);

			detailsContainer.appendChild(table);

			document.querySelectorAll('.plan-row').forEach(row => {
				row.addEventListener('click', function () {
					const planCode = this.getAttribute('data-plan-code');
					fetch('/planDetail?planCode=' + planCode)
						.then(response => response.json())
						.then(data => {
							tempPlanDetails = data;
							// 테이블 본문을 업데이트합니다.
							const tbody = document.createElement('tbody');

							data.forEach(detail => {
								console.log("detail : " , detail);
								const tr = document.createElement('tr');

								const date = new Date(detail.start);
								const date2 = new Date(detail.end);
								const date3 = new Date(detail.dlvyDate);
								const formattedDate = date.toLocaleDateString('en-CA', {year: 'numeric', month: '2-digit', day: '2-digit'});
								const formattedDate2 = date2.toLocaleDateString('en-CA', {year: 'numeric', month: '2-digit', day: '2-digit'});
								const formattedDate3 = date3.toLocaleDateString('en-CA', {year: 'numeric', month: '2-digit', day: '2-digit'});
								
								tr.innerHTML = `
		                            <td>${detail.planCode}</td>
		                            <td>${detail.dplanCount}</td>
		                            <td>${formattedDate}</td>
		                            <td>${formattedDate2}</td>
		                            <td>${formattedDate3}</td>
		                        `;
								tbody.appendChild(tr);
							});

							// 기존 테이블 본문을 제거하고 새로운 테이블 본문으로 교체합니다.
							const existingTbody = table.querySelector('tbody');
							if (existingTbody) {
								table.removeChild(existingTbody);
							}
							table.appendChild(tbody);
						});
				});
			});





			/* document.querySelectorAll('.plan-row').forEach(row => {
				row.addEventListener('click', function () {
					const planCode = this.getAttribute('data-plan-code');

					fetch('/planDetail?planCode=' + planCode)
						.then(response => response.json())
						.then(data => {
							const detailsTbody = document.getElementById('planDetails');
							detailsTbody.innerHTML = ''; // 기존 내용 초기화

							// 상세 정보 리스트를 반복하여 tr 요소 생성 및 추가
							data.forEach(detail => {
								const tr = document.createElement('tr');

								const date = new Date(detail.dlvyDate);
								const sDate = new Date(detail.start);
								const eDate = new Date(detail.end);
								const formattedDate = date.toLocaleDateString('en-CA', {year: 'numeric', month: '2-digit', day: '2-digit'});
								const formattedSDate = sDate.toLocaleDateString('en-CA', {year: 'numeric', month: '2-digit', day: '2-digit'});
								const formattedEDate = eDate.toLocaleDateString('en-CA', {year: 'numeric', month: '2-digit', day: '2-digit'});
								console.log(detail);
								tr.innerHTML = `
									<td>${detail.dplanCode}</td>
		                            <td>${detail.planCode}</td>
		                            <td>${detail.prodCode}</td>
		                            <td><input type="date" value="${formattedSDate}" name="startDate"></td>
		                            <td><input type="date" value="${formattedEDate}" name="endDate"></td>
		                            <td>${detail.prodCount}</td>
		                            <td>${detail.ordCount}</td>
		                            <td><input type="number" value="${detail.dplanCount}" name="planCount"></td>
		                            <td>${formattedDate}</td>
								`;
								detailsTbody.appendChild(tr);
							});
						});
				});
			}); */









			//==========================insert===========================================================
			document.querySelector('#insInsert').addEventListener('click', function () {
				const newPlan = document.querySelectorAll('.ins');
				if (newPlan.length === 0) {
					alert("저장 할 내용이 없습니다.")
					return;
				}
				if (document.querySelector('td[data-column-name="insTitle"] div').innerHTML == '') {
					alert("지시명을 입력해 주세요.")
					return;
				}

				let data = {};
				let insobj = {};
				let planState = {};
				// 'new-row' 클래스를 가진 행들만 선택


				insobj.planCode = document.querySelector('td[data-column-name="planCode"] div').innerHTML;
				insobj.insTitle = document.querySelector('td[data-column-name="insTitle"] div').innerHTML;
				insobj.insPerson = document.querySelector('td[data-column-name="insPerson"] div').innerHTML;
				insobj.insDate = document.querySelector('td[data-column-name="insDate"] div').innerHTML;
				insobj.insNote = document.querySelector('td[data-column-name="insNote"] div').innerHTML;
				
				console.log("insobj : " + insobj);
				
				
				planState.planCode = document.querySelector('td[data-column-name="planCode"] div').innerHTML;

				let plancount;
				let inscount;
				
				var newInsDetailRows = document.querySelectorAll('#planDGrid tbody tr');

				let insDetailData = [];

				for (var i = (newInsDetailRows.length)/2 +1 ; i < newInsDetailRows.length; i++) {
					
					// 현재 tr 요소 내의 prodCode에 해당하는 div를 찾습니다.
					let obj = {};
					let target = $(newInsDetailRows[i]);
					
					if (target.find('td:eq(7)').text() == '') {
						alert("계획량을 입력해 주세요.")
						return;
					}
					
					obj.insCode = target.find('td:eq(2)').text();
					
					obj.prodCode = target.find('td:eq(3)').text();
					console.log("prodCode : " + obj.prodCode);

					obj.dinsSdate = target.find('td:eq(4)').text();
					console.log("dinsSdate : " + obj.dinsSdate);
					obj.dinsEdate = target.find('td:eq(5)').text();
					obj.dinsCount = target.find('td:eq(7)').text();
					
					plancount = target.find('td:eq(6)').text();
					console.log("dinsCount : " + obj.dinsCount);
					if(plancount > parseInt(target.find('td:eq(7)').text())){
						inscount = parseInt(target.find('td:eq(7)').text());
					}
					insDetailData.push(obj);

				}
				console.log("insDetailData : " + insDetailData);
				
				if(plancount > inscount){
					alert(`최소 계획량은 ${plancount}개 입니다.`)
					return;
				}
				
				data.planInsVO = insobj;
				data.planInsDList = insDetailData;
				data.planVO = planState;


				console.log(data);
				// AJAX 요청으로 서버에 데이터 전송
				fetch('/insInsert', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',

					},
					body: JSON.stringify(data)
				})
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						return response.text();
					})
					.then(data => {
						console.log('Success:', data);
						alert(data);
						location.href = '/planIns'; // 성공적으로 처리된 후 리디렉트
					})
					.catch(error => {
						console.error('Error:', error);
					});



			});


			//ins detail update
			document.querySelector('#planDUpdate').addEventListener('click', function () {
				let plancount;
				let inscount;
				
				const newDetail = document.querySelector('#planDGrid .tui-grid-row-odd');
				if (newDetail === null) {
					alert("저장 할 내용이 없습니다.")
					return;
				}

				let data = {};

				var newPlanDetailRows = document.querySelectorAll('#planDGrid tbody tr');

				let planDetailData = [];
				// 인덱스 4부터 시작하여 끝까지 반복합니다.
				for (var i = 4; i < newPlanDetailRows.length; i++) {
					// 현재 tr 요소 내의 prodCode에 해당하는 div를 찾습니다.
					let obj = {};
					let target = $(newPlanDetailRows[i]);
					if (target.find('td:eq(7)').text() == '') {
						alert("계획량을 입력해 주세요.")
						return;
					}
					
					obj.dinsCode = target.find('td:eq(1)').text();
					console.log("prodCode : " + obj.prodCode);
					obj.prodCode = target.find('td:eq(3)').text();
					console.log("prodCode : " + obj.prodCode);

					obj.dinsSdate = target.find('td:eq(4)').text();
					console.log("dinsSdate : " + obj.dinsSdate);
					obj.dinsEdate = target.find('td:eq(5)').text();
					obj.dinsCount = target.find('td:eq(7)').text();
					
					plancount = target.find('td:eq(6)').text();
					console.log("dinsCount : " + obj.dinsCount);
					if(plancount > parseInt(target.find('td:eq(7)').text())){
						inscount = parseInt(target.find('td:eq(7)').text());
					}
					planDetailData.push(obj);

				}
				
				if(plancount > inscount){
					alert(`최소 계획량은 ${plancount}개 입니다.`)
					return;
				}
				
				data.planInsDList = planDetailData;
				console.log(data);
				// AJAX 요청으로 서버에 데이터 전송
				fetch('/insDUpdate', {
					method: 'put',
					headers: {
						'Content-Type': 'application/json',

					},
					body: JSON.stringify(data)
				})
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						return response.text();
					})
					.then(data => {
						console.log('Success:', data);
						alert(data);
						location.href = '/planIns'; // 성공적으로 처리된 후 리디렉트
					})
					.catch(error => {
						console.error('Error:', error);
					});

			});
			
			let selectedRowKey;
			document.getElementById('planDGrid').addEventListener('change', function(e) {
			    if (e.target.type === 'radio') {
			        // 선택된 라디오 버튼의 행 키 저장
			        selectedRowKey = e.target.closest('td').getAttribute('data-row-key');
			        console.log("selectedRowKey : ", selectedRowKey)
			    }
			});
			
			document.getElementById('registerButton').addEventListener('click', function() {
				if (selectedRowKey == null){
					alert("선택된 지시가 없습니다.")
				}
			    // 선택된 행의 데이터가 있으면 서버로 전송
			    if (selectedRowKey !== null) {
					let data = {};
			        const rowData = planDGrid.getRow(selectedRowKey);
			        console.log("dinsdata : " , rowData.dinsCode)
			        let dinsCode = rowData.dinsCode;
			        let prodCode = rowData.prodCode;
			        
			         location.href = '/workRegist?dInsCode=' + dinsCode + '&prodCode=' + prodCode;
					
			        // AJAX를 사용하여 서버로 데이터 전송
			        
			    } else {
			        alert('생산지시를 선택해주세요.');
			    }
			});
			
			
			function downloadCSV() {
			    const grids = [
			    	 { data: planGrid.getData(), 
			    	   header: ['생산 지시 코드', '생산 계획 코드', '지시 명', '담당자', '생산지시일자', '비고','상태'], 
			    	   fields: ['insCode', 'planCode', 'insTitle', 'insPerson', 'insDate','insNote','insState']
			    	 },
			         { data: planDGrid.getData(), 
			    	   header: ['상세 지시 코드', '생산 지시 코드', '제품 코드', '시작일자','종료일자', '계획량','지시량'], 
			    	 fields: ['dinsCode', 'insCode', 'prodCode', 'dinsSdate', 'dinsEdate','dplanCount','dinsCount']
			         },
			    	 { data: matUseGrid.getData(), 
				    	   header: ['소모 자재 코드', '생산 지시 코드', '자재코드', '자재이름','공정 코드', '소모량'], 
				    	 fields: ['matUseCode', 'dinsCode', 'matCode', 'matName', 'procCode','matTotalCon']
				         }
			    	];
			    const fileName = '생산지시.csv'; // 원하는 파일 이름으로 설정
			    const csvRows = [];

			    grids.forEach((grid, index) => {
			        // 한글 헤더 추가
			        if (index > 0) {
			            csvRows.push('');
			            csvRows.push('');
			        }
			        csvRows.push(grid.header.join(','));

			        // 데이터 행 추가
			        grid.data.forEach(row => {
			            const values = grid.fields.map(field => {
			            	
			                const value = row[field] || '';
			                console.log("field : ", field)
			                 if (field == 'insDate' || field == 'dinsSdate' || field == 'dinsEdate') {
			                    return value.split('T')[0];
			                } else {
			                    return value.toString().replace(/,/g, ''); // 쉼표가 있는 경우 제거 또는 대체
			                } 
			            });
			            csvRows.push(values.join(','));
			        });
			    });

			    const csvContent = 'data:text/csv;charset=utf-8,' + csvRows.join('\n');
			    const encodedUri = encodeURI(csvContent);

			    const link = document.createElement('a');
			    link.setAttribute('href', encodedUri);
			    link.setAttribute('download', fileName);
			    document.body.appendChild(link);
			    link.click();
			}

		</script>
	</section>

</body>

</html>