<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sales.mapper.OrdMapper">
	<select id="getOrdList" resultType="OrdVO">
		SELECT * FROM ord_list;
	</select>
</mapper>