<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<style>
.detailInfo{
	display: inline-block;
	font-family: 'Noto Sans KR';
	font-size: 20px;
	color: #666;
	font-weight: 700;
}
.btn.btn-outline-primary {
	float: right;
	margin-left: 10px;
}

input {
	padding-left: 10px;
}

.dlvyStatus {
	margin-left: 755px;
	width: 100px;
	height: 34px;
	border: solid 1px #ebebeb;
	background-color: #fff;
	border-bottom-color: #d8d8d8;
	border-right-color: #d8d8d8;
	border-radius: 3px;
}

.date {
	width: 200px;
	height: 34px;
	border: solid 1px #ebebeb;
	background-color: #fff;
	border-bottom-color: #d8d8d8;
	border-right-color: #d8d8d8;
	border-radius: 3px;
}

.orderSearch {
	font-family: 'Noto Sans KR';
	font-size: 24px;
	color: #333;
	font-weight: 700;
}

.titleOne {
	display: inline-block;
	display: inline-block;
	font-family: 'Noto Sans KR';
	font-size: 20px;
	color: #666;
	font-weight: 700;
}

.outSearch {
	font-family: 'Noto Sans KR';
	font-size: 24px;
	color: #333;
	font-weight: 700;
}

.tui-grid-cell.tui-grid-cell-has-input.tui-grid-cell-editable.outDDate {
	background-color: #FDC0CE;
	border: 0.3px solid white;
}

.containerOne {
	margin: 50px;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="containerOne">
			<h4 class="outSearch">출고 조회</h4>
			<h5 class="titleOne">목록</h5>
			<small class="totalOutCount" style="margin-right: 20px;"> (총 출고 수: <span id="filteredOutCount"></span>)
			</small> <select id="dlvyStatus" class="dlvyStatus">
				<option value="o" selected>상태</option>
				<option value="dlvy2">등록완료</option>
				<option value="dlvy3">처리중</option>
				<option value="dlvy4">출고완료</option>
			</select> <label for="startDate"></label> <input type="date" id="startDate" class="date" name="startDate"> <label for="endDate"> ~ </label> <input
				type="date" id="endDate" class="date" name="endDate"
			>
			<button type="button" class="btn btn-outline-primary" id="excel" onclick="downloadCSV()">EXCEL</button>
			<button type="button" class="btn btn-secondary" id="searchByDate" style="margin-bottom: 5px; float: right;">검색</button>
			<div id="grid"></div>
			<h5 style="float: left;" class="detailInfo">상세</h5>
			<div>
				<button type="button" id="updateOutDDate" class="btn btn-secondary" style="float: right; margin-bottom: 10px;">저장</button>
			</div>
			<div id="detailGrid"></div>
		</div>
		<script th:inline="javascript">
		let prodDlvyList = [[${prodDlvyList}]]
		let grid = tui.Grid;
		let filteredOutCount = prodDlvyList.length;
		grid.applyTheme('clean', {
			  row: {
			    hover: {
			      background: '#d4e9f2'
			    }
			  }
			});
		
		 	 grid = new tui.Grid({
             el: document.getElementById('grid'),
             data: prodDlvyList, 
             scrollX: false,
             scrollY: false,
             
              
 	      columns: [
 	        {
 	          	header: '출고서번호',
 	         	name: 'outCode',
 	          	sortable: true,
 	          	sortingType: 'desc',
 	         	align: "center",
 	        },
 	        {
 	        	header : '주문서번호',
 	        	name : 'ordCode',
 	        	sortable: true,
 	 	        sortingType: 'desc',
 	 	        align: "center",
 	        },
 	        {
 	          	header: '상태',
 	          	name: 'outState',
	          	align: "center",
	          	formatter : getOutStatus,
 	        },
 	        {
 	          	header: '거래처',
 	          	name: 'businessName',
 	          	sortable: true,
 	 	      	sortingType: 'desc',
 	 	      	align: "center",
 	        },
 	        {
 	          	header: '등록일',
 	          	name: 'outDate',
 	          	sortable: true,
	          	sortingType: 'desc',
	          	align: "center",
 	          	formatter: outDateFormatter
 	        },
 	       {
 	 	      	header: '담당자',
 	 	      	name: 'outManager',
 	 	      	sortable: true,
 	 	      	sortingType: 'desc',
 	 	      	align: "center",
 	 	    },
 	      ],
 	      rowHeaders: ['rowNum','checkbox'],
             pageOptions: {
                 useClient: true,
                 perPage: 5
             },
             
 	    });
		 	 
		 	
		 	 
		 // 행 클릭이벤트
		 grid.on('click', (ev) => {
			 console.log(ev.columnName);
		     let columnName = ev.columnName;
		     if (columnName === 'outCode'){
		    	 let rowKey = ev.rowKey;
		    	 console.log(rowKey);
		    	 let rowData = grid.getRow(rowKey);
		    	 console.log(rowData);
		   	 
		     if (rowData) {
		    	 let outCode = rowData.outCode;
		         
		     
		        
		 // 서버에 해당 주문에 대한 상세 목록을 요청
		    	 fetch('/prodDetailDlvyList/' + outCode)
		    	    .then(response => {
		    	        if (!response.ok) {
		    	            throw new Error('Network response was not ok');
		    	        }
		    	        return response.json();
		    	    })
		    	    .then(prodDetailDlvyList => {
		    	        console.log(prodDetailDlvyList);
		    	        // 주문 상세 목록 그리드 갱신
		    	        detailGrid.resetData(prodDetailDlvyList);
		    	    })
		    	    .catch(error => console.error('상세 목록을 불러오는 도중 에러 발생:', error));
		 };
		 };
		 });
		
		let prodDetailDlvyList = [[${prodDetailDlvyList}]]
		let detailGrid = tui.Grid;
		detailGrid.applyTheme('clean', {
			  row: {
			    hover: {
			      background: '#d4e9f2'
			    }
			  }
			});
		detailGrid = new tui.Grid({
            el: document.getElementById('detailGrid'),
            data: prodDetailDlvyList, 
            scrollX: false,
            scrollY: false,
	      	rowHeaders: ['rowNum','checkbox'],
	      columns: [{
	    	  header : '출고상세번호',
	    	  name : 'outDCode',
	    	  sortable: true,
	          sortingType: 'desc',
	    	  align: "center",
	    	  width : 160,
	      },
	        {
	          header: '품목코드',
	          name: 'prodCode',
	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
	        },
	        {
	          header: '품목명',
	          name: 'prodName',
	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
	        },
	        {
	          header: '단위',
	          name: 'prodUnit',
	          sortable: true,
	 	      sortingType: 'desc',
	 	      align: "center",
	        },
	        {
	          header: '제품 LOT 번호',
	          name: 'prodLotCode',
	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
	        },
	       {
	 	      header: '현재고',
	 	      name: 'prodCount',
	 	      sortable: true,
	 	      sortingType: 'desc',
	 	      align: "right",
	 	    },
	 	  {
	 	 	  header: '출고수량',
	 	 	  name: 'outCount',
	 	 	  sortable: true,
	          sortingType: 'desc',
	          align: 'right',
	 	 	  
	 	 	},
	 	  {
		 	  header: '단가',
		 	  name: 'prodPrice',
		 	  sortable: true,
		      sortingType: 'desc',
		      formatter : formatTotalTtlPrice,
		      align: 'right',
		 	},
		 	{
		 		header : '총금액',
		 		name : 'outTtlPrice',
		 		align : 'right',
		 		formatter : formatTotalTtlPrice,
		 	},
		 	{
		 		header : '출고날짜',
		 		name : 'outDDate',
		 		formatter : outDateFormatter,
		 		align : 'center',
		 		className : 'outDDate',
		 		editor: {
					type: 'datePicker',
					options: {
						format: 'yyyy-MM-dd'
					}
				}
		 	},
		 	{
		 		header : '출고상태',
		 		name : 'outDState',
		 		align : 'center',
		 		formatter : getOutDStatus,
		 	}
		  
	      ],
	      
           
	    });
		
		// 날짜 포맷 함수
		function outDateFormatter({value}) {
            if (value) {
                var date = new Date(value);
                var year = date.getFullYear();
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                return `${year}-${month}-${day}`;
            }
            return '';
        }
		
		// 총금액 포맷터 함수
		function formatTotalTtlPrice({ value }) {
		    if (value) {
		        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		    }
		    return '';
		}
		
		// 출고 상세 상태 포매터
		 function getOutDStatus(value, row) {
		     let statusText, bgColor;

		     // 주문 상태에 따라 원하는 문자열과 배경색 설정
		     switch (value.value) {
		         case "대기중":
		        	 statusText = '대기중';
		             bgColor = '#ffc107'; // 등록완료에 대한 배경색 설정
		             break;
		         case "출고완료":
		        	 statusText = '출고완료';
		             bgColor = '#dc3545'; // 계획 진행중에 대한 배경색 설정
		             break;
		     }

		     // 배경색을 포함한 HTML 반환
		     return `<div style="background-color: ${bgColor}; font-weight: bold; color: #f5f6f7; padding: 3px 0px;">${statusText}</div>`;
		 }
		
		// 출고 상태 포매터
		 function getOutStatus(value, row) {
		     console.log(value.value); // 값 확인용 로그
		     let statusText, bgColor;
			
		     // 주문 상태에 따라 원하는 문자열과 배경색 설정
		     switch (value.value) {
		         case "등록완료":
		        	 statusText = '등록완료';
		             bgColor = '#198754'; // 등록완료에 대한 배경색 설정
		             break;
		         case "처리중":
		        	 statusText = '처리중';
		             bgColor = '#ffc107'; // 계획 진행중에 대한 배경색 설정
		             break;
		         case "출고 완료":
		             statusText = "출고 완료";
		             bgColor = '#dc3545';
		             break;
		         
		     }

		     // 배경색을 포함한 HTML 반환
		     return `<div style="background-color: ${bgColor}; font-weight: bold; color: #f5f6f7; padding: 3px 0px;">${statusText}</div>`;
		 }
		 document.querySelector('#updateOutDDate').addEventListener('click', function () {
			    const checkedRows = detailGrid.getCheckedRows();
				
			    if (checkedRows.length === 0) {
			    	Swal.fire({
	    	            icon: 'warning',
	    	            text: '행을 선택해주세요.'
	    	        });
			        return;
			    }
			    
			   // 행 데이터를 모아서 배열에 담기
			   let warningShown = false;
			   
    			const data = checkedRows.map(row => {
        			if (!row.outDDate && !warningShown) {
        				Swal.fire({
    	    	            icon: 'warning',
    	    	            text: '날짜를 입력해주세요.'
    	    	        });
        				warningShown = true;
            			return;
        			}
        			
        			console.log(row.outDState)
        			if(row.outDState === '출고완료' && !warningShown){
        				Swal.fire({
    	    	            icon: 'error',
    	    	            text: '이미 출고완료된 상태입니다'
    	    	        });
        				warningShown = true;
        				return;
        			}

        			return {
        				outDState: row.outDState,
            			outDCode: row.outDCode,
            			outCode: row.outDCode.substring(0, row.outDCode.lastIndexOf("-")),
            			outDDate: row.outDDate,
            			prodLotCode: row.prodLotCode,
            			outCount: row.outCount
        			};
    			});

			    console.log(data);
			    if (!data.every(item => item)) {
			        // 여기서는 각 행의 데이터가 모두 유효한 경우에만 fetch를 실행합니다.
			        return;
			    }
			    fetch('/updateOutDDate', {
			        method: 'PUT',
			        headers: {
			            'Content-Type': 'application/json',
			        },
			        body: JSON.stringify(data)
			    })
			    .then(response => {
			        if (!response.ok) {
			            throw new Error('Network response was not ok');
			        }
			        return response.text();
			    })
			    .then(data => {
				Swal.fire({
					icon: 'success',
					text: '성공적으로 업데이트되었습니다.'
			}).then(() => {
				location.href = '/inOutList'; // 사용자가 Swal 팝업을 닫으면 실행됩니다.
			});
		})
			    .catch(error => {
			        console.error('Error:', error);
			    });
			});
		 
		// 상태 기반 검색
			document.querySelector('#dlvyStatus').addEventListener('change', function(){
				const outState = document.getElementById('dlvyStatus').value;
		        console.log("outState", outState)
				if (outState === 'o') {
					grid.resetData(prodDlvyList);
					updateFilteredOutCount(prodDlvyList);
			    } else {
			        // 그 외에는 선택된 상태에 대한 목록을 가져오기 위해 상태 값을 전송
			        data = {
			            outState: outState
			        };
			        fetch('/dlvyListByOutState/' + outState, {
				        method: 'POST',
				        headers: {
				            'Content-Type': 'application/json',
				        },
				        body: JSON.stringify(data)
				    })
				    .then(response => {
				        if (!response.ok) {
				            throw new Error('Network response was not ok');
				        }
				        return response.json();
				    })
				    .then(data => {
				        console.log('Success:', data);
				        if (data.length === 0) {
				        	Swal.fire({
			    	            icon: 'warning',
			    	            text: '해당 상태에 존재하는 데이터가 없습니다.'
			    	        });
			            } else {
			                grid.resetData(data);
			                updateFilteredOutCount(data);
			            }
				    })
				    .catch(error => {
				        console.error('Error:', error);
				    });
			    }
		        
		        
			})
			
			// 날짜 기반 검색
		document.querySelector('#searchByDate').addEventListener('click', function(){
			const startDate = document.getElementById('startDate').value;
	        const endDate = document.getElementById('endDate').value;
	        
	        if (!startDate && !endDate) {
	        	Swal.fire({
    	            icon: 'warning',
    	            text: '시작날짜와 종료날짜를 모두 선택해주세요.'
    	        });
	            return;
	        }
	        
	        if (!startDate){
	        	Swal.fire({
    	            icon: 'warning',
    	            text: '시작날짜를 선택해주세요'
    	        });
	        	return;
	        }
	        
	        if (!endDate){
	        	Swal.fire({
    	            icon: 'warning',
    	            text: '종료날짜를 선택해주세요'
    	        });
	        	return;
	        }
	        
	        // 날짜 비교를 통해 종료날짜가 시작날짜보다 작을 때 경고창 표시
	        if (startDate > endDate) {
	        	Swal.fire({
    	            icon: 'error',
    	            text: '종료날짜는 시작날짜 이후여야 합니다.'
    	        });
	            return; // 경고창을 표시한 후 함수 종료
	        }
	        
	        let data = {
	        		startDate: formatDate(startDate),
	        		endDate: formatDate(endDate)
	            };
	            
	            console.log(data);
	        
	        fetch('/dlvyListByDateRange', {
		        method: 'POST',
		        headers: {
		            'Content-Type': 'application/json',
		        },
		        body: JSON.stringify(data)
		    })
		    .then(response => {
		        if (!response.ok) {
		            throw new Error('Network response was not ok');
		        }
		        return response.json();
		    })
		    .then(data => {
		        console.log('Success:', data);
		        if (data.length === 0) {
		        	Swal.fire({
	    	            icon: 'error',
	    	            text: '해당하는 기간에 데이터가 없습니다.'
	    	        });
	            } else {
	                grid.resetData(data);
	                updateFilteredOutCount(data);
	            }
		    })
		    .catch(error => {
		        console.error('Error:', error);
		    });
		})
		
		function formatDate(value) {
			  let date = new Date(value);
			  const year = date.getFullYear();
			  const month = String(date.getMonth() + 1).padStart(2, '0');
			  const day = String(date.getDate()).padStart(2, '0');

			  return `${year}-${month}-${day}`;
		}
		
			function downloadCSV() {
	    		const grids = [
	    			{ data : grid.getData(),
	    			  header: ['출고서번호','주문서번호','상태','거래처','등록일','담당자'],
	    			  fields: ['outCode','ordCode','outState','businessName','outDate','outManager']
	    			}
	    		];
	    		
	    		const fileName = '출고서.csv'; // 엑셀파일이름
	    		const csvRows = [];
	    		
	    		 grids.forEach((grid, index) => {

	    		        if (index > 0) {
	    		            csvRows.push('');
	    		            csvRows.push('');
	    		        }
	    		        csvRows.push(grid.header.join(','));

	    		        grid.data.forEach(row => {
	    		            const values = grid.fields.map(field => {
	    		                const value = row[field] || '';
	    		                console.log("field : ", field)
	    		                if (field == 'outDate') {
	    		                    const dateValue = new Date(value);
	    		                    return dateValue.toISOString().split('T')[0]; // Remove time part
	    		                } else {
	    		                    return value.toString().replace(/,/g, ''); // Remove commas if present
	    		                }
	    		            });
	    		            csvRows.push(values.join(','));
	    		        });
	    		    });
	    		
	    		const csvContent = 'data:text/csv;charset=utf-8,' + csvRows.join('\n');
	    		const encodedUri = encodeURI(csvContent);
	    		
	            const link = document.createElement('a');
	            link.setAttribute('href', encodedUri);
	            link.setAttribute('download', 'data.csv');
	            document.body.appendChild(link);
	            link.click();
	        }
			// 필터링된 주문 수를 업데이트하는 함수
		    function updateFilteredOutCount(filteredData) {
		        filteredOutCount = filteredData.length;
		        console.log('주문수',filteredOutCount);
		        document.getElementById('filteredOutCount').innerText = filteredOutCount;
		    }

		    // 필터링된 데이터가 변경될 때마다 호출되는 이벤트 리스너 등록
		    grid.on('afterFilter', function (event) {
		        const filteredData = grid.getFilteredItems();
		        updateFilteredOutCount(filteredData);
		    });
		    
		    document.addEventListener('DOMContentLoaded', function () {
		        // 페이지가 로드될 때 초기 필터링된 주문 수를 설정합니다.
		        document.getElementById('filteredOutCount').innerText = filteredOutCount;
		    });
		
		</script>
	</section>
</body>
</html>