
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>

/* 모달 창 내 주문서 목록 테이블에 마진 추가 */
#staticBackdropOrd table {
	margin-bottom: 40px; /* 원하는 여백 크기로 조정 */
}

.prodLotList td, .prodLotList th {
	width: 156px;
}

.table td, .table th {
	text-align: center;
	white-space: nowrap; /* 텍스트가 너비를 넘어가더라도 줄바꿈 안 함 */
	overflow: hidden; /* 너비를 넘어가는 부분 감춤 */
	text-overflow: ellipsis; /* 너비를 넘어가는 부분에 '...' 추가 */
}

input {
	padding-left: 10px;
}

th {
	background-color: rgba(250, 250, 250);
}

.mainContainerTwo {
	margin: 20px 50px;
	text-align: center;
}

.containerOne {
	margin: 20px 50px;
	text-align: center;
}

.containerTwo {
	margin: 20px 50px;
	text-align: center;
}

table {
	width: 100%;
}

h4 {
	text-align: left;
}

tr {
	height: 42px;
}

input[type=text], input[type=date], select {
	width: 90%;
}

input[type=number] {
	width: 60%;
}

.orderInfoOne th {
	border: solid 1px gray;
	text-align: center;
	width: 156px;
}

.orderInfoOne td, .orderInfoTwo td {
	border: solid 1px gray;
	width: 500px;
}

.orderInfoTwo {
	margin-top: 10px;
	border: solid 1px gray;
}

.orderInfoTwo th {
	border: solid 1px gray;
	width: 156px;
}

.moreInfo, .moreInfo th, .moreInfo td, .orderInfoOne {
	border: solid 1px gray;
}

.ttlCount {
	text-align: right;
	padding-right: 10px;
}

h5 {
	display: inline-block;
	float: left;
	margin-top: 8px;
}

button {
	float: right;
	margin-right: 5px;
	margin-bottom: 10px;
}

.space {
	height: 10px;
	border: solid 1px #fff;
}

.numberOne, .numberTwo, .numberThree {
	text-align: right;
	padding-right: 10px;
}

.containerThree {
	margin-top: 30px;
}

.red {
	color: red;
}

.serch {
	padding-left: 11px;
	padding-right: 22px;
}

.serch input {
	margin-top: 1px;
	width: 40%;
	background-color: rgba(250, 250, 250);
	border: solid 1px gray;
	border-radius: 2px;
}

.serch button {
	margin: 0px;
	width: 50px;
	height: 30px;
}

.serch p {
	font-size: 12px;
}

.readInput {
	background-color: rgba(250, 250, 250);
	border: solid 1px gray;
	border-radius: 2px;
}

.modal-body ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}

.modal-body td {
	border-bottom: solid 1px rgba(220, 220, 220);
	cursor: pointer;
}

.modal-body hr {
	margin: 0;
}

/* 그리드 스타일 */
.subTitle {
	display: inline-block;
}
</style>
<meta charset="UTF-8">
<title>출고관리</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="mainContainerOne">
			<h4>완제품출고 관리</h4>
			<div class="mainContainerTwo">
				<h5>출고서정보</h5>
				<button class="btn btn-primary" onclick="resetForm()">초기화</button>
				<button class="btn btn-primary" id="prodDlvyInsert">등록</button>
				<table class="orderInfoOne">
					<tr>
						<th>출고서번호</th>
						<td><input class="readInput" type="text" id="outCode" name="outCode" placeholder="시스템 자동발번" readonly></td>
						<th>등록일</th>
						<td><input type="date" id="registrationDate" name="outDate" readonly></td>
						<th>출고서상태</th>
						<td><select id="outState" name="outState">
								<option value="dlvy1" selected>등록전
								<option value="dlvy2" disabled>등록완료
								<option value="dlvy3" disabled>출고 대기 중
								<option value="dlvy4" disabled>출고중
								<option value="dlvy5" disabled>출고 완료
								<option value="dlvy6" disabled>도착 완료
						</select></td>
					</tr>
					<tr>
						<th class="red">담당자</th>
						<td class="serch"><input type="text" id="selectedUserCode" readonly> <input type="text" id="selectedUserName" name="outManager">

							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropEmployee">
								<p>검색</p>
							</button></td>
						<th>담당자 연락처</th>
						<td><input class="readInput" id="selectedUserPhone" type="text" readonly></td>
						<td colspan="2"></td>
					</tr>
					<tr class="space"></tr>
					<tr>
						<th class="red">거래처</th>
						<td class="serch"><input type="text" id="selectedBusinessCode" name="businessCode" readonly> <input type="text" id="selectedBusinessName" readonly>
							<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropBusiness">
								<p>검색</p>
							</button></td>
						<th>거래처 담당자</th>
						<td><input class="readInput" type="text" id="selectedBusinessManager" readonly></td>
						<th>거래처 연락처</th>
						<td><input class="readInput" type="text" id="selectedBusinessManagerPhone" readonly></td>
					</tr>
					<tr>
						<th>비고</th>
						<td><input type="text" name="" id=""></td>
					</tr>
				</table>
			</div>
		</div>
		<div class=containerOne>
			<h5>상세정보</h5>
			<button class="btn btn-primary">취소</button>
			<button class="btn btn-primary">추가</button>
			<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdropInventory" onclick="fetchInventory()">재고현황 불러오기</button>
			<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdropOrd">주문서 불러오기</button>
		</div>
		<div id="grid" class="containerOne"></div>

		<div id="outGrid" class="containerTwo"></div>

		<!-- 거래처 모달 -->
		<div class="modal fade" id="staticBackdropEmployee" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #0d6efd;">
						<h1 class="modal-title fs-5" id="staticBackdropLabel" style="font-weight: bold">담당자 목록</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<div class="modal-body">

						<table>
							<thead style="text-align: center;">
								<tr>
									<th>담당자 코드</th>
									<th>담당자 이름</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								<tr th:each="employee : ${employeeList}" th:data-userCode="${employee.userCode}" th:data-userName="${employee.userName}" th:data-userPhone="${employee.userPhone}"
									data-bs-dismiss="modal" onclick="updateInputFieldsTwo(this)">
									<td th:text="${employee.userCode}"></td>
									<td th:text="${employee.userName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer" style="background-color: #0d6efd;">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>

					</div>
				</div>
			</div>
		</div>

		<!-- 거래처 모달 -->
		<div class="modal fade" id="staticBackdropBusiness" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #0d6efd;">
						<h1 class="modal-title fs-5" id="staticBackdropLabel" style="font-weight: bold">거래처 목록</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<div class="modal-body">

						<table>
							<thead style="text-align: center;">
								<tr>
									<th>거래처코드</th>
									<th>거래처명</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								<tr th:each="business : ${businessList}" th:data-businessCode="${business.businessCode}" th:data-businessName="${business.businessName}" th:data-businessManager="${business.businessManager}"
									th:data-businessManagerPhone="${business.businessManagerPhone}" data-bs-dismiss="modal" onclick="updateInputFields(this)">
									<td th:text="${business.businessCode}"></td>
									<td th:text="${business.businessName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer" style="background-color: #0d6efd;">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>

					</div>
				</div>
			</div>
		</div>

		<!-- 주문서 모달 -->
		<div class="modal fade modal-xl" id="staticBackdropOrd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #ffc107;">
						<h1 class="modal-title fs-5" id="staticBackdropLabel" style="font-weight: bold">주문서 목록</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<div class="modal-body">
						<table>
							<thead style="text-align: center;">
								<tr>
									<th>주문서 번호</th>
									<th>상태</th>
									<th>거래처</th>
									<th>등록일</th>
									<th>담당자</th>
									<th>총금액</th>
									<th>비고</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								<tr th:each="ord : ${orderList}" th:data-ordCode="${ord.ordCode}" th:data-ordState="${ord.ordState}" th:data-businessName="${ord.businessName}" th:data-businessCode="${ord.businessCode}"
									th:data-businessManager="${ord.businessManager}" th:data-businessManagerPhone="${ord.businessManagerPhone}" th:data-ordDate="${ord.ordDate}" th:data-ordManager="${ord.ordManager}"
									th:data-totalTtlPrice="${ord.totalTtlPrice}" th:data-ordNote="${ord.ordNote}" th:onclick="'displaySelectedProduct(this)'">
									<td th:text="${ord.ordCode}"></td>
									<td th:text="${ord.ordStateNm}"></td>
									<td th:text="${ord.businessName}"></td>
									<td th:text="${#dates.format(ord.ordDate, 'yyyy-MM-dd')}"></td>
									<td th:text="${ord.ordManager}"></td>
									<td th:text="|${#numbers.formatInteger(ord.totalTtlPrice, 0, 'COMMA')} 원|" style="text-align: right;"></td>
									<td th:text="${ord.ordNote}" style="text-align: left; padding-left: 30px;"></td>
								</tr>
							</tbody>
						</table>
						<!-- 상세 정보 테이블 -->
						<table id="orderDetailsTable" class="table">
							<thead>
								<tr>
									<th>주문서번호</th>
									<th>주문상세코드</th>
									<th>상품코드</th>
									<th>품목명</th>
									<th>단위</th>
									<th>납기일</th>
									<th>수량</th>
									<th>단가</th>
									<th>총금액</th>
								</tr>
							</thead>
							<tbody>
								<!-- 여기에 주문 상세 정보가 추가될 것입니다. -->
							</tbody>
						</table>
					</div>
					<div class="modal-footer" style="background-color: #ffc107;">
						<button type="button" class="btn btn-secondary" onclick="addToMainGridOrd()">추가</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 재고현황 모달 -->
		<div class="modal fade modal-xl" id="staticBackdropInventory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #198754;">
						<h1 class="modal-title fs-5" id="staticBackdropLabel" style="font-weight: bold">완제품 목록</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<div class="modal-body">
						<table class="prodLotList">
							<thead style="text-align: center;" class="table">
								<tr>
									<th style="width: 42px;"></th>
									<th>완제품 LOT 번호</th>
									<th>품목명</th>
									<th>재고량</th>
								</tr>
							</thead>
							<tbody style="text-align: center;" id="inventoryTableBody">
								<!-- 데이터는 여기에 동적으로 추가될 것입니다. -->
							</tbody>
						</table>
					</div>
					<div class="modal-footer" style="background-color: #198754;">
						<button type="button" class="btn btn-secondary" onclick="addToMainGridInventory()">추가</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			/* 토스트 그리드 */

			let grid = tui.Grid;
			grid.applyTheme('clean', {
				row : {
					hover : {
						background : '#d4e9f2'
					}
				}
			});

			grid = new tui.Grid({
				el : document.getElementById('grid'),
				scrollX : false,
				scrollY : false,
				rowHeaders : [ 'rowNum', 'checkbox' ],
				columns : [ {
					header : '주문서번호',
					name : 'ordCode',
					align : 'center',
				},
					{
					header : '주문상세번호',
					name : 'ordDCode',
					align: 'center',
					sortable: true,
				    sortingType: 'desc',
				},
				{
					header : '납기일자',
					name : 'dlvyDate',
					align : 'center',
				},
					{
					header : '품목명',
					name : 'prodName',
					align: "center",
				}, {
					header : '단위',
					name : 'prodUnit',
					align: "center",
				}, {
					header : '수량',
					name : 'ordCount',
					align: "right",
					dataType: 'number',
				}, {
					header : '단가',
					name : 'prodPrice',
					align: "right",
					formatter: formatPrice,
				}, {
					header : '총금액',
					name : 'ttlPrice',
					align: "right",
					formatter: formatPrice,
				}, ],

			});
			
			let outGrid = tui.Grid;
			outGrid.applyTheme('clean', {
				row : {
					hover : {
						background : '#d4e9f2'
					}
				}
			});
			
			outGrid = new tui.Grid({
				
				el : document.getElementById('outGrid'),
				scrollX : false,
				scrollY : false,
				rowHeaders : [ 'rowNum', 'checkbox' ],
				columns : [ {
					header : '주문상세번호',
					name : 'ordDCode',
					align : 'center',
				},
					{
					header : '완제품 LOT 번호',
					name : 'prodLotCode',
					align: "center",
				}, {
					header : '현재고량',
					name : 'prodCount',
					align: "right",
				}, {
					header : '출고수량',
					name : 'outCount',
					align: "right",
					editor: 'text',
			},
		],
		
	});


			document
					.addEventListener(
							'DOMContentLoaded',
							function() {
								// 현재 날짜를 가져오는 함수 호출
								var currentDate = getCurrentDate();
								// 입력 필드에 현재 날짜 설정
								document.getElementById('registrationDate').value = currentDate;
							});

			// 현재 날짜를 반환하는 함수
			function getCurrentDate() {
				var today = new Date();
				var year = today.getFullYear();
				var month = ('0' + (today.getMonth() + 1)).slice(-2); // 0을 추가해서 두 자리로 만듦
				var day = ('0' + today.getDate()).slice(-2); // 0을 추가해서 두 자리로 만듦
				return year + '-' + month + '-' + day;
			}

			// 모달창에서 거래처 클릭시 input태그에 채워주는 기능
			function updateInputFields(liElement) {
				// 클릭한 <li> 요소에서 데이터 속성을 가져옴
				var businessCode = liElement.getAttribute('data-businessCode');
				var businessName = liElement.getAttribute('data-businessName');
				
				var businessManager = liElement
						.getAttribute('data-businessManager');
				var businessManagerPhone = liElement
						.getAttribute('data-businessManagerPhone');

				// 입력 필드의 값 설정
				document.getElementById('selectedBusinessCode').value = businessCode;
				document.getElementById('selectedBusinessName').value = businessName;
				document.getElementById('selectedBusinessManager').value = businessManager;
				document.getElementById('selectedBusinessManagerPhone').value = businessManagerPhone;

			}
			
			function updateInputFieldsTwo(liElement) {
				// 클릭한 <li> 요소에서 데이터 속성을 가져옴
				var userCode = liElement.getAttribute('data-userCode');
				var userName = liElement.getAttribute('data-userName');
				var userPhone = liElement.getAttribute('data-userPhone');
				
				// 전화번호 형식 변경
				var formattedUserPhone = userPhone.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');

				// 입력 필드의 값 설정
				document.getElementById('selectedUserCode').value = userCode;
				document.getElementById('selectedUserName').value = userName;
				document.getElementById('selectedUserPhone').value = formattedUserPhone;

			}
			
			function formatDate(dateString) {
			    // dateString을 Date 객체로 변환
			    var date = new Date(dateString);

			    // 날짜를 원하는 형식으로 포맷
			    var formattedDate = date.getFullYear() + '-' +
			                        ('0' + (date.getMonth() + 1)).slice(-2) + '-' +
			                        ('0' + date.getDate()).slice(-2);

			    return formattedDate;
			}
			
			
			
			function displaySelectedProduct(element) {
		        var ordCode = element.getAttribute('data-ordCode');
		        var businessName = element.getAttribute('data-businessName');
		        var businessCode = element.getAttribute('data-businessCode');
		        var businessManager = element.getAttribute('data-businessManager');
		        var businessManagerPhone = element.getAttribute('data-businessManagerPhone');
		        
		     // 메인 화면 상단에 거래처 코드 설정
		        document.getElementById('selectedBusinessName').value = businessName;
		       	document.getElementById('selectedBusinessCode').value = businessCode;
		       	document.getElementById('selectedBusinessManager').value = businessManager;
		       	document.getElementById('selectedBusinessManagerPhone').value = businessManagerPhone;
		       	
		       	
		        // ordCode를 기반으로 주문 세부 정보를 가져오기
		        
		        fetch('/orderDetailList/' + ordCode)
		            .then(response => response.json())
		            .then(data => {
		            	
		                // 상세 정보를 표시
		                var detailTableBody = $('#orderDetailsTable tbody');
		                detailTableBody.empty();
		                data.forEach(function (data) {
		                	var dlvyDate = formatDate(data.dlvyDate); // 날짜 포맷
		                    $('<tr>').append(
		                    	$('<td>').text(data.ordCode),	
		                    	$('<td>').text(data.ordDCode),	
		                        $('<td>').text(data.prodCode),
		                        $('<td>').text(data.prodName),
		                        $('<td>').text(data.prodUnit),
		                        $('<td>').text(dlvyDate),
		                        $('<td>').text(data.ordCount),
		                        $('<td>').text(formatPrice({ value: data.prodPrice })),
		                        $('<td>').text(formatPrice({ value: data.ttlPrice })),
		                    ).appendTo(detailTableBody);
		                });
				
		            

		                
		            })
		            .catch(error => {
		                console.error('주문 세부 정보를 가져오지 못했습니다:', error);
		            });
		    }
			
			
			
			function addToMainGridOrd() {
				
			    var mainGrid = grid; // 이 부분은 tui.Grid를 사용하고 있으므로 기존 코드에 맞게 수정해주세요.
				var sideGrid = outGrid;
			    var detailTableBody = $('#orderDetailsTable tbody');
			    var rows = detailTableBody.find('tr');
			    var newData = [];
				
			    
			    

			    rows.each(function (index, row) {
			        var cells = $(row).find('td');
			        console.log(cells);
			        // 주문 상세 정보에서 필요한 값 추출
			        var ordCode = cells.eq(0).text();
			        var ordDCode = cells.eq(1).text();
			        var prodCode = cells.eq(2).text();
			        var prodName = cells.eq(3).text();
			        var prodUnit = cells.eq(4).text();
			        var dlvyDate = cells.eq(5).text();
			        var ordCount = cells.eq(6).text();
			        var prodPrice = cells.eq(7).text();
			        var ttlPrice = cells.eq(8).text();

			        // 새로운 데이터 생성
			        var newDataRow = {
			        		ordCode : ordCode,
			        		ordDCode: ordDCode,
			            	prodCode: prodCode,
			            	prodName: prodName,
			            	prodUnit: prodUnit,
			            	dlvyDate: dlvyDate,
			            	ordCount: ordCount,
			            	prodPrice: prodPrice,
			            	ttlPrice: ttlPrice
			            	
			        };

			        newData.push(newDataRow);
			        
			    });

			    // 그리드의 기존 데이터를 모두 삭제
			    mainGrid.clear();
			    sideGrid.clear();
			    // 새로운 데이터를 그리드에 추가
			    mainGrid.resetData(newData);

			    // 모달 창 닫기
			    $('#staticBackdropOrd').modal('hide');
			    
			    return newData;
			    
			    
			}
			
			
			// 재고현황 모달에서 선택한 품목을 기존 그리드에 추가
			function addToMainGridInventory() {
			    
			    var mainGrid = outGrid;
			    var inventoryTableBody = $('#inventoryTableBody');
			    var selectedRows = inventoryTableBody.find('.inventory-checkbox:checked').closest('tr'); // 재고현황 모달에서 선택된 tr 가져오기.
				console.log('선택된 행...',selectedRows)
			    // 주문 데이터 가져오기
			    
			    selectedRows.each(function (index, row) {
			        var cells = $(row).find('td');
			        console.log('그리드에 추가된 출고상세 ',cells)
			        // 재고 정보에서 필요한 값 추출
			        var prodLotCode = cells.eq(1).text();
			        var prodCount = cells.eq(3).text();
			     	// 여기서 ordDCode 추출
			        var ordDCode = $(row).data('ordDCode');
			     	console.log('추출한 주문상세번호 ', ordDCode)
			     	
			        // 이미 그리드에 존재하는지 확인
			        var existingRow = mainGrid.getData().find(function (dataRow) {
			            return dataRow.prodLotCode === prodLotCode;
			        });

			        if (!existingRow) {
			            // 새로운 데이터 생성
			            var newDataRow = {
			                prodLotCode : prodLotCode,
			                prodCount : prodCount,
			                ordDCode : ordDCode,
			                // 추가적인 필요한 열이 있다면 여기에 추가하세요.
			            };
			            
			            console.log('새로운 데이터:', newDataRow); // 새로운 데이터 콘솔 로그 출력

			            // 기존 그리드의 데이터 뒤에 새로운 데이터를 추가
			            mainGrid.appendRow(newDataRow);
			        } else {
			            // 이미 추가된 경우에 대한 처리
			            alert(prodLotCode + '는 이미 추가된 품목입니다.');
			        }

			        
			    });

			    // 모달 창 닫기
			    $('#staticBackdropInventory').modal('hide');
			}

			
			
			// 총금액 포맷터 함수
			function formatPrice({ value }) {
			    if (value) {
			        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			    }
			    return '';
			}
			
			
			
			
			// 추가된 함수: 재고 정보 가져오기
			function fetchInventory() {
				var newOrderData = grid.getCheckedRows();
			    console.log('선택된주문 데이터:', newOrderData); // 주문 데이터 콘솔 로그 출력
				let selectedRows = grid.getCheckedRows();
				let ordDCodes = selectedRows.map(row => row.ordDCode);
				console.log('주문상세번호 ',ordDCodes);
			    // 배열에 prodCode가 있는지 확인
			    let prodCodes = selectedRows.map(x => x.prodCode);
			    console.log('제품코드 ',prodCodes)
			    if (prodCodes.length > 0) {
			        // 각각의 prodCode에 대해 AJAX 요청을 보냅니다.
			        var inventoryTableBody = $('#staticBackdropInventory tbody');
			        inventoryTableBody.empty();
			    	prodCodes.forEach(function (prodCode, index) {
			            $.ajax({
			                url: '/productLotList/' + prodCode,
			                method: 'GET',
			                success: function (inventoryData) {
			                    // 가져온 재고 데이터를 처리하고 표시합니다.
			                    console.log('재고 품목 코드 ' + prodCode + ':', inventoryData);
			                 // 재고 표시를 업데이트하는 로직을 구현합니다.
			                    updateInventoryModal(inventoryData, ordDCodes[index]);
			                },
			                error: function (error) {
			                    console.error('Error fetching inventory for ' + prodCode + ':', error);
			                }
			            });
			        });

			    }
			}
			
			function updateInventoryModal(inventoryData, ordDCode) {
				console.log('재고현황 불러오기에 주문상세번호 ',ordDCode)
			    var inventoryTableBody = $('#inventoryTableBody');
			    inventoryTableBody;

			    // 가져온 데이터를 테이블에 추가
			    inventoryData.forEach(function (prodLot) {
			        var row = $('<tr>');
			        
			     // ordDCode를 tr에 추가
			        row.data('ordDCode', ordDCode);
			        
			     // 체크박스 추가
			        var checkbox = $('<input>').attr({
			            type: 'checkbox',
			            class: 'inventory-checkbox',
			            value: prodLot.prodLotCode // 유일한 식별자로 변경
			        });

			        row.append($('<td>').append(checkbox).css({
			        	'width':'42px'
			        }));
			        row.append($('<td>').text(prodLot.prodLotCode));
			        row.append($('<td>').text(prodLot.prodName));
			        row.append($('<td>').text(prodLot.prodCount));

			        // 행을 테이블에 추가
			        inventoryTableBody.append(row);
			    });

			    // 모달 열기 (만약 열려있지 않은 경우)
			    $('#staticBackdropInventory').modal('show');
			
			}
			
			
			
			//////////////////////////////////////INSERT///////////////////////////////////////////
			document.querySelector('#prodDlvyInsert').addEventListener('click', function () {
				
				// 데이터를 수집하여 배열에 저장
				let data = {};
				let outObj = {};
				let ordCode = {};
				
				outObj.outCode = document.getElementById('outCode').value;
				outObj.ordCode = document.querySelector('td[data-column-name="ordCode"] div').innerText;
				outObj.outDate = document.getElementById('registrationDate').value;
				outObj.outManager = document.getElementById('selectedUserName').value;
				outObj.outState = document.getElementById('outState').value;
		        
				ordCode.ordCode = document.querySelector('td[data-column-name="ordCode"] div').innerText;
				
				var newOutDetailRows = document.querySelectorAll('#outGrid tbody');
				var fourthTBody = newOutDetailRows[3];
		        		
				let outDetailData = [];
						
				// fourthTBody 안에 포함된 tr 엘리먼트들에 접근
				fourthTBody.querySelectorAll('tr').forEach((tr, i) => {

					// 현재 tr 요소 내의 prodCode에 해당하는 div를 찾습니다.
					let obj = {};
					let target = $(tr);
					console.log(target.find('td'))
					obj.ordDCode = target.find('td:eq(0)').text();
					console.log("주문상세번호 : " + obj.ordDCode);
					obj.prodLotCode = target.find('td:eq(1)').text();
					console.log("제품LOT번호 : " + obj.prodLotCode);
					obj.outCount = target.find('td:eq(2)').text();
					console.log("출고수량 : " + obj.outCount)
					obj.outDState = "dlvyD1";
					outDetailData.push(obj);
						    
				});
				
				data.prodDlvyVO = outObj;
				data.prodDetailDlvyList = outDetailData;
				data.orderVO = ordCode;
				

						// AJAX 요청으로 서버에 데이터 전송
						fetch('/saveDlvy', {
						    method: 'POST',
						    headers: {
						        'Content-Type': 'application/json',
						    },
						    body: JSON.stringify(data),
						})
						.then(response => {
						    if (!response.ok) {
						        throw new Error('Network response was not ok');
						    }
						    return response.text();
						})
						.then(data => {
						    console.log('Success:', data);
						    alert("저장되었습니다.");
						    location.href= '/inOutManage'; // 페이지 새로고침
						})
						.catch(error => {
						    console.error('Error:', error);
						    alert("저장에 실패했습니다.");
						});
			});
		</script>
	</section>
</body>
</html>