<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<style>
.tui-grid-row-header-checkbox {
	padding-top: 10px;
}

.titleOne {
	display: inline-block;
}

.ttlContainer {
	display: inline-block;
	float: right;
}

.totalOrdCount {
	text-align: right;
	margin: 0px;
}
</style>
<meta charset="UTF-8">
<title>주문 조회</title>
</head>
<body>
	<section layout:fragment="content">
		<h4>주문 조회</h4>
		<h5 class="titleOne">목록</h5>
		<div class="ttlContainer">
			<small class="totalOrdCount"> 총 주문 수: <span th:text="${orderList.size()}"></span>
			</small>
		</div>
		<div id="grid"></div>
		<h5>상세</h5>
		<div></div>
		<div id="detailGrid"></div>
		<script th:inline="javascript">
		let orderList = [[${orderList}]]
		let grid = tui.Grid;
		grid.applyTheme('clean', {
			  row: {
			    hover: {
			      background: '#d4e9f2'
			    }
			  }
			});
		
		 	 grid = new tui.Grid({
             el: document.getElementById('grid'),
             data: orderList, 
             scrollX: false,
             scrollY: false,
             
              
 	      columns: [
 	        {
 	          header: '주문서번호',
 	          name: 'ordCode',
 	          sortable: true,
 	          sortingType: 'desc',
 	          align: "center",
 	        },
 	        {
 	          header: '상태',
 	          name: 'ordState',
	          align: "center",
 	          formatter: getOrdStatus,
 	          filter: {
 	            type: 'text',
 	            showApplyBtn: true,
 	            showClearBtn: true
 	          }
 	        },
 	        {
 	          header: '거래처',
 	          name: 'businessCode',
 	          sortable: true,
 	 	      sortingType: 'desc',
 	 	      align: "center",
 	        },
 	        {
 	          header: '등록일',
 	          name: 'ordDate',
 	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
 	          formatter: ordDateFormatter
 	        },
 	       {
 	 	      header: '담당자',
 	 	      name: 'ordManager',
 	 	      sortable: true,
 	 	      sortingType: 'desc',
 	 	      align: "center",
 	 	    },
 	 	  {
 	 	 	  header: '총금액',
 	 	 	  name: 'totalTtlPrice',
 	 	 	  sortable: true,
	          sortingType: 'desc',
	          align: 'right',
 	 	 	  formatter: formatTotalTtlPrice
 	 	 	},
 	 	 	{	header: '비고',
 	 	 		name:'ordNote',
 	 	 		align: 'center'
 	 	 	},
 	      ],
 	      rowHeaders: ['rowNum','checkbox'],
             pageOptions: {
                 useClient: true,
                 perPage: 5
             },
             
 	    });
		 
		 // 행 클릭이벤트
		 grid.on('click', (ev) => {
			 console.log(ev.columnName);
		     let columnName = ev.columnName;
		     if (columnName === 'ordCode'){
		    	 let rowKey = ev.rowKey;
		    	 console.log(rowKey);
		    	 let rowData = grid.getRow(rowKey);
		    	 console.log(rowData);
		   	 
		     if (rowData) {
		    	 let ordCode = rowData.ordCode;
		         
		     
		        
		 // 서버에 해당 주문에 대한 상세 목록을 요청
		    	 fetch('/orderDetailList/' + ordCode)
		    	    .then(response => {
		    	        if (!response.ok) {
		    	            throw new Error('Network response was not ok');
		    	        }
		    	        return response.json();
		    	    })
		    	    .then(orderDetailList => {
		    	        console.log(orderDetailList);
		    	        // 주문 상세 목록 그리드 갱신
		    	        detailGrid.resetData(orderDetailList);
		    	    })
		    	    .catch(error => console.error('상세 목록을 불러오는 도중 에러 발생:', error));    
		};
		 };
		 });
		 
		 
		// 주문 상태 포매터
		 function getOrdStatus(value, row) {
		     console.log(value); // 값 확인용 로그
		     let statusText, bgColor;

		     // 주문 상태에 따라 원하는 문자열과 배경색 설정
		     switch (value.value) {
		         case 1:
		             statusText = '등록완료';
		             bgColor = 'green'; // 등록완료에 대한 배경색 설정
		             break;
		         case 2:
		             statusText = '처리중';
		             bgColor = 'yellow'; // 계획 진행중에 대한 배경색 설정
		             break;
		         case 3:
		        	 statusText = '주문완료';
		        	 bgColor = 'blue' 
		         default:
		             statusText = '알 수 없는 주문 건';
		             bgColor = 'gray'; // 알 수 없는 주문 건에 대한 배경색 설정
		             break;
		     }

		     // 배경색을 포함한 HTML 반환
		     return `<div style="background-color: ${bgColor}; ">${statusText}</div>`;
		 }
		
		
		
		// 총금액 포맷터 함수
		function formatTotalTtlPrice({ value }) {
		    if (value) {
		        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		    }
		    return '';
		}
		
		function ordDateFormatter({value}) {
            if (value) {
                var date = new Date(value);
                var year = date.getFullYear();
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                return `${year}-${month}-${day}`;
            }
            return '';
        }
		
		
		
		let orderDetailList = [[${orderDetailList}]]
		let detailGrid = tui.Grid;
		detailGrid.applyTheme('clean', {
			  row: {
			    hover: {
			      background: '#d4e9f2'
			    }
			  }
			});
		detailGrid = new tui.Grid({
            el: document.getElementById('detailGrid'),
            data: orderDetailList, 
            scrollX: false,
            scrollY: false,
	      	rowHeaders: ['rowNum','checkbox'],
	      columns: [
	        {
	          header: '품목코드',
	          name: 'prodCode',
	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
	        },
	        {
	          header: '품목명',
	          name: 'prodName',
	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
	        },
	        {
	          header: '단위',
	          name: 'prodUnit',
	          sortable: true,
	 	      sortingType: 'desc',
	 	      align: "center",
	        },
	        {
	          header: '납기일',
	          name: 'dlvyDate',
	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
	          formatter: ordDateFormatter
	        	
	        },
	       {
	 	      header: '수량',
	 	      name: 'ordCount',
	 	      sortable: true,
	 	      sortingType: 'desc',
	 	      align: "right",
	 	    },
	 	  {
	 	 	  header: '단가',
	 	 	  name: 'prodPrice',
	 	 	  sortable: true,
	          sortingType: 'desc',
	          align: 'right',
	 	 	  
	 	 	},
	 	  {
		 	  header: '총금액',
		 	  name: 'ttlPrice',
		 	  sortable: true,
		      sortingType: 'desc',
		      align: 'right',
		      formatter: formatTotalTtlPrice
		 	  
		 	},
		  
	      ],
	      
           
	    });
		</script>
	</section>
</body>
</html>