<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<style>
.containerOne {
	margin: 50px;
}

.tui-grid-row-header-checkbox {
	padding-top: 10px;
}

.titleOne {
	display: inline-block;
}

.ttlContainer {
	display: inline-block;
	float: right;
}

.totalOrdCount {
	text-align: right;
	margin: 0px;
}
</style>
<meta charset="UTF-8">
<title>주문 조회</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="containerOne">
			<h4>주문 조회</h4>
			<h5 class="titleOne">목록</h5>
			<small class="totalOrdCount" style="margin-right: 20px;"> (총 주문 수: <span th:text="${orderList.size()}"></span>)
			</small>
						<select id="orderStatus">
							<option value="o" selected>상태</option>
							<option value="o2">등록완료</option>
							<option value="o3">처리중</option>
							<option value="o4">출고대기</option>
							<option value="o5">출고중</option>
							<option value="o6">종결</option>
						</select>
					<label for="startDate"></label> <input type="date" id="startDate" name="startDate"> <label for="endDate"> ~ </label> <input type="date" id="endDate" name="endDate">
					<button type="button" class="btn btn-primary" id="updateOrderState" style="float: right; margin-bottom: 5px;">저장</button>
					<button type="button" class="btn btn-primary" id="searchByDate" style="margin-bottom: 5px;">검색</button>
			<div id="grid"></div>
			<h5>상세</h5>
			<div></div>
			<div id="detailGrid"></div>
		</div>
		<script th:inline="javascript">
		let orderList = [[${orderList}]]
		let grid = tui.Grid;
		grid.applyTheme('clean', {
			  row: {
			    hover: {
			      background: '#d4e9f2'
			    }
			  }
			});
		
		 	 grid = new tui.Grid({
             el: document.getElementById('grid'),
             data: orderList, 
             scrollX: false,
             scrollY: false,
             
              
 	      columns: [
 	        {
 	          header: '주문서번호',
 	          name: 'ordCode',
 	          sortable: true,
 	          sortingType: 'desc',
 	          align: "center",
 	        },
 	        {
 	          header: '상태',
 	          name: 'ordState',
	          align: "center",
 	          editor: {
					type: 'select',
					options: {
						listItems: [
							{text: '등록완료', value: 'o2'},
							{text: '처리중', value: 'o3'},
							{text: '출고대기', value: 'o4'},
							{text: '출고중', value: 'o5'},
							{text: '종결', value: 'o6'},
						]
					}
				},
				formatter: function ({ value }) {
			        let statusText, bgColor;

			        switch (value) {
			            case 'o2':
			                statusText = '등록완료';
			                bgColor = 'green'; // 등록완료에 대한 배경색 설정
			                break;
			            case 'o3':
			                statusText = '처리중';
			                bgColor = 'yellow'; // 처리중에 대한 배경색 설정
			                break;
			            case 'o4':
			                statusText = '출고대기';
			                bgColor = 'yellow'; // 종결에 대한 배경색 설정
			                break;
			            case 'o5':
			            	statusText = '출고중';
			            	bgColor = 'yellow';
			            	break;
			            case 'o6':
			            	statusText = '종결';
			            	bgColor = 'red';
			            	break;
			            default:
			                statusText = value;
			                bgColor = 'gray'; // 기본 배경색
			        }
			     // 선택된 항목에 대해서만 배경색 적용
			        return `<div style="background-color: ${bgColor};">${statusText}</div>`;
			    }
 	        },
 	        {
 	          header: '거래처',
 	          name: 'businessName',
 	          sortable: true,
 	 	      sortingType: 'desc',
 	 	      align: "center",
 	        },
 	        {
 	          header: '등록일',
 	          name: 'ordDate',
 	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
 	          formatter: ordDateFormatter
 	        },
 	       {
 	 	      header: '담당자',
 	 	      name: 'ordManager',
 	 	      sortable: true,
 	 	      sortingType: 'desc',
 	 	      align: "center",
 	 	    },
 	 	  {
 	 	 	  header: '총금액',
 	 	 	  name: 'totalTtlPrice',
 	 	 	  sortable: true,
	          sortingType: 'desc',
	          align: 'right',
 	 	 	  formatter: formatTotalTtlPrice
 	 	 	},
 	 	 	{	header: '비고',
 	 	 		name:'ordNote',
 	 	 		align: 'center',
 	 	 		editor: 'text',
 	 	 	},
 	      ],
 	      rowHeaders: ['rowNum','checkbox'],
             pageOptions: {
                 useClient: true,
                 perPage: 5
             },
             
 	    });
		 
		let orderDetailList = [[${orderDetailList}]]
		let detailGrid = tui.Grid;
		detailGrid.applyTheme('clean', {
			  row: {
			    hover: {
			      background: '#d4e9f2'
			    }
			  }
			});
		detailGrid = new tui.Grid({
            el: document.getElementById('detailGrid'),
            data: orderDetailList, 
            scrollX: false,
            scrollY: false,
	      	rowHeaders: ['rowNum','checkbox'],
	      columns: [
	        {
	          header: '품목코드',
	          name: 'prodCode',
	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
	        },
	        {
	          header: '품목명',
	          name: 'prodName',
	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
	        },
	        {
	          header: '단위',
	          name: 'prodUnit',
	          sortable: true,
	 	      sortingType: 'desc',
	 	      align: "center",
	        },
	        {
	          header: '납기일',
	          name: 'dlvyDate',
	          sortable: true,
	          sortingType: 'desc',
	          align: "center",
	          formatter: ordDateFormatter
	        	
	        },
	       {
	 	      header: '수량',
	 	      name: 'ordCount',
	 	      sortable: true,
	 	      sortingType: 'desc',
	 	      align: "right",
	 	    },
	 	  {
	 	 	  header: '단가',
	 	 	  name: 'prodPrice',
	 	 	  sortable: true,
	          sortingType: 'desc',
	          align: 'right',
	 	 	  
	 	 	},
	 	  {
		 	  header: '총금액',
		 	  name: 'ttlPrice',
		 	  sortable: true,
		      sortingType: 'desc',
		      align: 'right',
		      formatter: formatTotalTtlPrice
		 	  
		 	},
	      ],
	      rowHeaders: ['rowNum','checkbox'],
          pageOptions: {
              useClient: true,
              perPage: 5
          },
	    });
		
		// 행 클릭이벤트
		 grid.on('click', (ev) => {
			 console.log(ev.columnName);
		     let columnName = ev.columnName;
		     if (columnName === 'ordCode'){
		    	 let rowKey = ev.rowKey;
		    	 console.log(rowKey);
		    	 let rowData = grid.getRow(rowKey);
		    	 console.log(rowData);
		   	 
		     if (rowData) {
		    	 let ordCode = rowData.ordCode;
		         
		     
		        
		 // 서버에 해당 주문에 대한 상세 목록을 요청
		    	 fetch('/orderDetailList/' + ordCode)
		    	    .then(response => {
		    	        if (!response.ok) {
		    	            throw new Error('Network response was not ok');
		    	        }
		    	        return response.json();
		    	    })
		    	    .then(orderDetailList => {
		    	        console.log(orderDetailList);
		    	        // 주문 상세 목록 그리드 갱신
		    	        detailGrid.resetData(orderDetailList);
		    	    })
		    	    .catch(error => console.error('상세 목록을 불러오는 도중 에러 발생:', error));
		     };
		     };
		 });
		 
		
		
		
		
		// 총금액 포맷터 함수
		function formatTotalTtlPrice({ value }) {
		    if (value) {
		        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		    }
		    return '';
		}
		
		function ordDateFormatter({value}) {
           if (value) {
               var date = new Date(value);
               var year = date.getFullYear();
               var month = (date.getMonth() + 1).toString().padStart(2, '0');
               var day = date.getDate().toString().padStart(2, '0');
               return `${year}-${month}-${day}`;
           }
           return '';
       }
		
		// 상태 기반 검색
		document.querySelector('#orderStatus').addEventListener('change', function(){
			const ordState = document.getElementById('orderStatus').value;
	        console.log("ordState", ordState)
			if (ordState === 'o') {
				grid.resetData(orderList);
		    } else {
		        // 그 외에는 선택된 상태에 대한 목록을 가져오기 위해 상태 값을 전송
		        data = {
		            ordState: ordState
		        };
		        fetch('/orderListByOrdState/' + ordState, {
			        method: 'POST',
			        headers: {
			            'Content-Type': 'application/json',
			        },
			        body: JSON.stringify(data)
			    })
			    .then(response => {
			        if (!response.ok) {
			            throw new Error('Network response was not ok');
			        }
			        return response.json();
			    })
			    .then(data => {
			        console.log('Success:', data);
			        if (data.length === 0) {
			        	Swal.fire({
		    	            icon: 'warning',
		    	            text: '해당 상태에 존재하는 데이터가 없습니다.'
		    	        });
		            } else {
		                grid.resetData(data);
		            }
			    })
			    .catch(error => {
			        console.error('Error:', error);
			    });
		    }
	        
	        
		})
		
		// 날짜 기반 검색
		document.querySelector('#searchByDate').addEventListener('click', function(){
			const startDate = document.getElementById('startDate').value;
	        const endDate = document.getElementById('endDate').value;
	        
	        if (!startDate && !endDate) {
	        	Swal.fire({
    	            icon: 'warning',
    	            text: '시작날짜와 종료날짜를 모두 선택해주세요.'
    	        });
	            return;
	        }
	        
	        if (!startDate){
	        	Swal.fire({
    	            icon: 'warning',
    	            text: '시작날짜를 선택해주세요'
    	        });
	        	return;
	        }
	        
	        if (!endDate){
	        	Swal.fire({
    	            icon: 'warning',
    	            text: '종료날짜를 선택해주세요'
    	        });
	        	return;
	        }
	        
	        // 날짜 비교를 통해 종료날짜가 시작날짜보다 작을 때 경고창 표시
	        if (startDate > endDate) {
	        	Swal.fire({
    	            icon: 'error',
    	            text: '종료날짜는 시작날짜 이후여야 합니다.'
    	        });
	            return; // 경고창을 표시한 후 함수 종료
	        }
	        
	        let data = {
	        		startDate: formatDate(startDate),
	        		endDate: formatDate(endDate)
	            };
	            
	            console.log(data);
	        
	        fetch('/orderListByDateRange', {
		        method: 'POST',
		        headers: {
		            'Content-Type': 'application/json',
		        },
		        body: JSON.stringify(data)
		    })
		    .then(response => {
		        if (!response.ok) {
		            throw new Error('Network response was not ok');
		        }
		        return response.json();
		    })
		    .then(data => {
		        console.log('Success:', data);
		        if (data.length === 0) {
		        	Swal.fire({
	    	            icon: 'error',
	    	            text: '해당하는 기간에 데이터가 없습니다.'
	    	        });
	            } else {
	                grid.resetData(data);
	            }
		    })
		    .catch(error => {
		        console.error('Error:', error);
		    });
		})
		
		// 상태 및 비고 업데이트
		document.querySelector('#updateOrderState').addEventListener('click', function () {
		    const checkedRows = grid.getCheckedRows();

		    if (checkedRows.length === 0) {
		    	Swal.fire({
    	            icon: 'warning',
    	            text: '행을 선택해주세요.'
    	        });
		        return;
		    }

		    const newData = checkedRows.map(row => ({
		        ordCode: row.ordCode,
		        ordState: row.ordState,
		        ordNote: row.ordNote
		    }));
		    
		    
		    let data = {};
			data.ordCode = newData[0].ordCode;
			data.ordState = newData[0].ordState;
			data.ordNote = newData[0].ordNote;
			
			
		    fetch('/updateOrderState', {
		        method: 'PUT',
		        headers: {
		            'Content-Type': 'application/json',
		        },
		        body: JSON.stringify(data)
		    })
		    .then(response => {
		        if (!response.ok) {
		            throw new Error('Network response was not ok');
		        }
		        return response.text();
		    })
		    .then(data => {
				Swal.fire({
					icon: 'success',
					text: '성공적으로 업데이트되었습니다.'
			}).then(() => {
				location.href = '/orderList'; // 사용자가 Swal 팝업을 닫으면 실행됩니다.
			});
		})
		    .catch(error => {
		        console.error('Error:', error);
		    });
		});
		
		function formatDate(value) {
			  let date = new Date(value);
			  const year = date.getFullYear();
			  const month = String(date.getMonth() + 1).padStart(2, '0');
			  const day = String(date.getDate()).padStart(2, '0');

			  return `${year}-${month}-${day}`;
		}
		
		</script>
	</section>
</body>
</html>