<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
   src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script
   src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>설비비점검관리</title>
<style>
#layoutSidenav_content {
   margin-top: 20px;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
   width: 200px;
   box-sizing: border-box;
}

label {
   display: block;
   margin-bottom: 5px;
}

input[type="checkbox"] {
   margin-right: 5px;
}

button {
   margin-right: 5px;
}

#myModal3 {
   text-align: center;
}
</style>
</head>
<body>

   <section layout:fragment="content">
      <h1>설비점검관리</h1>

      <div class="container">

         <div class="col">
            <br> <br>
            <table class="table">
               <thead>
                  <tr>
                     <th>점검코드</th>
                     <th colspan="2"><input type="text" id="facInsCode"
                        name="facInsCode" required readonly></th>
                     <th>설비코드</th>
                     <th colspan="2"><input type="text" id="facCode"
                        name="facCode" required></th>
                     <th>설비명</th>
                     <th colspan="2"><input type="text" id="facName"
                        name="facName" th:data-facCode="${facCode}" required></th>

                  </tr>
                  <tr>
                     <th>점검사항</th>
                     <th colspan="2"><input type="text" id="facInsCheck"
                        name="facInsCheck"></th>
                     <!-- <th>판정</th>
                     <th colspan="2"><input type="text" id="facInsJud"
                        name="facInsJud"></th> -->
                     <th>담당자</th>
                     <th colspan="2"><input type="text" id="facInsPerson"
                        name="facInsPerson" th:value="${username}" required></th>
                  </tr>
                  <tr>
                  <tr>
                     <th style="vertical-align: middle;">판정</th>
                     <td colspan="2" style="vertical-align: middle;"><label
                        style="margin-right: 10px;"> <input type="radio"
                           id="facInsJud1" name="facInsJud" value="적합"> 적합
                     </label> <label> <input type="radio" id="facInsJud2"
                           name="facInsJud" value="부적합"> 부적합
                     </label></td>
                  </tr>
               </thead>
            </table>
            <input type="hidden" id="facNotCode" name="facNotCode" required>
            <input type="hidden" id="facNotSituation" name="facNotSituation"
               required>
            <div class="text-center">
            <button type="button" id="saveBtn" class="btn btn-outline-success">저장</button>
            <button type="button" id="insertBtn" class="btn btn-outline-success">등록</button>
            <button type="button" id="selectBtn" class="btn btn-outline-success"
               data-bs-toggle="modal" data-bs-target="#staticBackdropOne">조회</button>
            <input type="text" id="searchInput" oninput="searchFunction()" placeholder="검색...">
            </div>
            <br> <br> <br>
            <div id="grid" class="container"></div>
         </div>
      </div>





      <div class="modal fade modal-xl" id="staticBackdropOne"
         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-scrollable">
            <!-- modal-dialog 클래스에 modal-dialog-scrollable 클래스 추가 -->
            <div class="modal-content">
               <div class="modal-header" style="background-color: #0d6efd;">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel"
                     style="font-weight: bold">설비목록</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>

               <div class="modal-body" style="overflow-y: hidden;">
                  <!-- overflow-y 속성 추가 -->
                  <table>
                     <thead style="text-align: center;">
                        <tr>
                           <th>설비코드</th>
                           <th>설비명</th>
                           <!-- <th>담당자</th> -->
                           <th>비가동등록사유</th>
                           <th>상태</th>
                        </tr>
                     </thead>
                     <tbody style="text-align: center;">
                        <!-- 컨트롤러에서 봐야함 -->
                        <tr th:each="NotIns : ${Inslist}"
                           th:data-facNotCode="${NotIns.facNotCode}"
                           th:data-facCode="${NotIns.facCode}"
                           th:data-facName="${NotIns.facName}"
                           th:data-facNotPerson="${NotIns.facNotPerson}"
                           th:data-facNotReason="${NotIns.facNotReason}"
                           th:data-facNotSituation="${NotIns.facNotSituation}"
                           data-bs-dismiss="modal"
                           th:onclick="'displaySelectedFacNotIns(this)'">
                           <td th:text="${NotIns.facCode}"></td>
                           <td th:text="${NotIns.facName}"></td>
                           <td th:text="${NotIns.facNotPerson}"></td>
                           <td th:text="${NotIns.facNotReason}"></td>
                           <td th:text="${NotIns.facNotSituation}"></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="modal-footer" style="background-color: #0d6efd;">
                  <button type="button" class="btn btn-secondary"
                     data-bs-dismiss="modal">닫기</button>
               </div>
            </div>
         </div>
      </div>


      <script th:inline="javascript">
         
       // saveBtn 버튼에 이벤트 걸어서 클릭 시 해당 함수 실행 
         document.getElementById('saveBtn').addEventListener("click", function() {
           // 각각의 변수에 특정 이름을 가진 요소의 값을 할당 인덱스 0에 있는 요소의 값을 가져옴
            var facInsCode = document.getElementsByName("facInsCode")[0].value;
            var facNotCode = document.getElementsByName("facNotCode")[0].value;
            var facCode = document.getElementsByName("facCode")[0].value;
            var facName = document.getElementsByName("facName")[0].value;
            var facInsPerson = document.getElementsByName("facInsPerson")[0].value;
            var facInsCheck = document.getElementsByName("facInsCheck")[0].value;
            var facInsJud = document.getElementsByName("facInsJud")[0].value;
            var facNotSituation = document.getElementsByName("facNotSituation")[0].value;
            
         // 조건
            if (!facName) {
                alert("설비명을 입력해주세요.");
                return;
            }
         
         // 데이터 객체에 위에서 가져온 값들 넣기
            var data = {
                facInsCode: facInsCode,
                facNotCode: facNotCode,
                facCode: facCode,
                facName: facName,
                facCode: facCode,
                facInsPerson: facInsPerson,
                facInsCheck: facInsCheck,
                facInsJud: facInsJud,
                facNotSituation: facNotSituation
            };
            
            // fac_ins update
            // fatch를 통해 서버에 PUT 통신 요청
            fetch("/updateFacIns", {
                method: "PUT",
                body: JSON.stringify(data),   // 데이터 JSON 형식으로 문자열 변환
                headers: {
                    "Content-Type": "application/json"  // 타입이 JSON 형식이다
                }
            })
            .then(response => {
               console.log(response.status);
                if (response.ok) {
                    console.log(response);
                    alert("등록완료!");
                    location.href = '/facIns';  // 여기 경로로 리디렉션
                } else {
                    console.log(response);
                    alert("등록실패");
                }
            })
            .catch(error => {
                console.log(error);
                alert(오류);
            });
        });
        
         
         // facIns Insert
         // insertBtn 에 이벤트 걸어서 해당 버튼 클릭 시 함수 실행
         document.getElementById('insertBtn').addEventListener("click", function() {
              // 각각의 변수에 특정 이름을 가진 요소의 값을 할당 인덱스 0에 있는 요소의 값을 가져옴
                var facInsCode = document.getElementsByName("facInsCode")[0].value;
                var facNotCode = document.getElementsByName("facNotCode")[0].value;
                var facCode = document.getElementsByName("facCode")[0].value;
                var facName = document.getElementsByName("facName")[0].value;
                var facInsPerson = document.getElementsByName("facInsPerson")[0].value;
                var facInsCheck = document.getElementsByName("facInsCheck")[0].value;
                var facInsJud = document.getElementsByName("facInsJud")[0].value;

                
            // 조건
                if (!facName || !facInsPerson) {
                    alert("설비명과 담당자를 입력해주세요.");
                    return;
                }
            // data 객체에 위에서 받아온 값 넣기
                var data = {
                    facInsCode: facInsCode,
                    facNotCode: facNotCode,
                    facCode: facCode,
                    facName: facName,
                    facInsPerson: facInsPerson,
                    facInsCheck: facInsCheck,
                    facInsJud: facInsJud,

                };
                
                // 서버로 데이터 전송하여 insert 수행
                fetch("/insertFacIns", {
                    method: "POST",
                    body: JSON.stringify(data),  // JSON 형식으로 문자열 변환
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(response => {
                    if (response.ok) {
                        console.log(response);
                        alert("등록되었습니다!");
                        // 페이지 새로고침
                        location.reload();
                    } else {
                        console.log(response);
                        alert("등록에 실패했습니다.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("등록에 실패했습니다.");
                });
            });

            

            
        // 그리드 페이징
    
        const grid = new tui.Grid({
            el: document.getElementById('grid'),
            data: [],
            scrollX: false,
            scrollY: false,
            columns: [
                {
                    header: '점검코드',
                    name: 'facInsCode',
                    align: 'center',
                },
                {
                    header: '설비명',
                    name: 'facName',
                    align: 'center',
                },
                {
                    header: '설비코드',
                    name: 'facCode',
                    align: 'center',
                },
                {
                    header: '점검사항',
                    name: 'facInsCheck',
                    align: 'center'
                },
                {
                    header: '담당자',
                    name: 'facInsPerson',
                    align: 'center'
                },
                {
                    header: '판정',
                    name: 'facInsJud',
                    align: 'center'
                },
                {
                    header: '점검일',
                    name: 'facInsDate',
                    formatter :  formatDate,
                    align: 'center'
                },
                {
                    header: '차기점검일',
                    name: 'facInsNexd',
                    formatter : formatDate,
                    align: 'center'
                },
                {
                    header: '상태',
                    name: 'facNotSituation',
                    align: 'center'
                },
               
            ],
            rowHeaders: ['rowNum'],
            // 페이지네이션
            pageOptions: {
                useClient: true,
                perPage: 5
            }
        });
        
        // get 방식
        fetch("/facInsList")
        .then(response => response.json())
        .then(data => {
            grid.resetData(data); // 그리드에 데이터를 설정
        })
        .catch(error => {
            console.error('Error fetching data:', error);
            alert("데이터 불러오기 실패!");
        }); 
        
        
        //  차기점검을 날짜포맷
        function formatDate(dateString) {
           console.log(dateString);
            // dateString을 Date 객체로 파싱
            const date = new Date(dateString.value);
            // 날짜 포맷 변경
            const formattedDate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
            return formattedDate;
        }
        
        // 설비명 클릭 시 이벤트 처리해서 위에 input 박스에 값넣기
        function handleFacNameClick(event) {
            // 클릭한 행의 데이터 가져오기
            const rowData = grid.getRowAt(event.rowKey);
         
            // 설비명과 담당자 값을 가져와서 input 박스에 넣기
            const facName = rowData.facName;
            /* const facInsPerson = rowData.facInsPerson; */
            const facInsCode = rowData.facInsCode;
            const facCode = rowData.facCode;
            const facNotCode = rowData.facNotCode;
            const facInsCheck = rowData.facInsCheck;

            
            document.getElementById('facInsCode').value = facInsCode;
            document.getElementById('facNotCode').value = facNotCode;
            document.getElementById('facCode').value = facCode;
            document.getElementById('facName').value = facName;
            document.getElementById('facInsCheck').value = facInsCheck;
            /* document.getElementById('facInsPerson').value = facInsPerson; */
        }

        // grid 생성 코드 아래에 설비명 클릭 이벤트 리스너 등록
        grid.on('click', (event) => {
            if (event.columnName === 'facName') {
                handleFacNameClick(event);
            }
        });
      
        
        
       function displaySelectedFacNotIns(element) {
          var facCode = element.getAttribute('data-facCode');
          var facNotCode = element.getAttribute('data-facNotCode');
          var facName = element.getAttribute('data-facName');
          /* var facInsPerson = element.getAttribute('data-facInsPerson'); */
          
          var facNotSituation = element.getAttribute('data-facNotSituation');
          
          
          document.getElementById('facCode').value = facCode;
          document.getElementById('facNotCode').value = facNotCode;
          document.getElementById('facName').value = facName;
          /* document.getElementById('facInsPerson').value = facNotPerson; */
         
          document.getElementById('facNotSituation').value = facNotSituation;
       }
       
       // 검색 기능 추가
       function searchFunction() {
           // 입력된 검색어 가져오기
           var input, filter, table, tr, td, i, j, txtValue;
           input = document.getElementById("searchInput");
           // 대문자로변환하기
           filter = input.value.toUpperCase();
           // 테이블 확인
           table = document.getElementById("grid");

           // 테이블 돌면서 확인
           tr = table.getElementsByTagName("tr");
           for (i = 0; i < tr.length; i++) {
               // 각 행에서 셀을 가져오기
               td = tr[i].getElementsByTagName("td");
               // 행의 각 셀 돌면서 일치하는지 확인
               for (j = 0; j < td.length; j++) {
                   // 셀의 내용을 가져오기
                   txtValue = td[j].textContent || td[j].innerText;
                   // 조건으로 검색어 있으면 가져오기
                   if (txtValue.toUpperCase().indexOf(filter) > -1) {
                       tr[i].style.display = "";
                       break;
                   } else {
                       // 검색어 없으면 리스트 안보이게 display none 처리
                       tr[i].style.display = "none";
                   }
               }
           }
       }
        
    </script>
   </section>
</body>
</html>