<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>설비비점검관리</title>
<style>
#layoutSidenav_content {
	margin-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
	width: 200px;
	box-sizing: border-box;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

button {
	margin-right: 5px;
}

#myModal3 {
	text-align: center;
}
</style>
</head>
<body>

	<section layout:fragment="content">
		<h1>설비점검관리</h1>

		<div id="layoutSidenav_content" class="container text-center">

			<div class="col">
				<br> <br>
				<table class="table">
					<thead>
						<tr>
							<th>점검코드</th>
							<td colspan="2"><input type="text" id="facInsCode"
								name="facInsCode" required readonly></td>
							<th>설비명</th>
							<td colspan="2"><input type="text" id="facName"
								name="facName" th:data-facCode="${facCode}" required></td>
							<th>담당자</th>
							<td colspan="2"><input type="text" id="facInsPerson"
								name="facInsPerson" required></td>
						<tr>
							<th>점검사항</th>
							<td colspan="2"><input type="text" id="facInsCheck"
								name="facInsCheck"></td>
							<th>판정</th>
							<td colspan="2"><input type="text" id="facInsJud"
								name="facInsJud"></td>
							<th>설비코드</th>
							<td colspan="2"><input type="text" id="facCode" name="facCode" required></td>
						<tr>
							<th>점검일</th>
							<td colspan="2"><input type="date" id="facInsDate"
								name="facInsDate" required></td>
							<th>차기점검일</th>
							<td colspan="2"><input type="date" id="facInsNexd"
								name="facInsNexd" required></td>
						</tr>
						<tr>
					</thead>
				</table>
				<button type="button" id="saveBtn" class="btn btn-outline-success">저장</button>
				<br> <br> <br>
				<div id="grid" class="container"></div>
			</div>
		</div>

			<script th:inline="javascript">
   		document.getElementById('saveBtn').addEventListener("click", function() {
            var facInsCode = document.getElementsByName("facInsCode")[0].value;
            var facCode = document.getElementsByName("facCode")[0].value;
            var facName = document.getElementsByName("facName")[0].value;
            var facInsPerson = document.getElementsByName("facInsPerson")[0].value;
            var facInsCheck = document.getElementsByName("facInsCheck")[0].value;
            var facInsJud = document.getElementsByName("facInsJud")[0].value;
            var facInsDate = document.getElementsByName("facInsDate")[0].value;
            var facInsNexd = document.getElementsByName("facInsNexd")[0].value;

            if (!facName) {
                alert("설비명을 입력해주세요.");
                return;
            }

            var data = {
                facInsCode: facInsCode,
                facCode: facCode,
                facName: facName,
                facInsPerson: facInsPerson,
                facInsCheck: facInsCheck,
                facInsJud: facInsJud,
                facInsDate: facInsDate,
                facInsNexd: facInsNexd
            };

            
            fetch("/FacInsList")
            .then(response => response.json())
            .then(data => {
                const gridData = data.map(item => ({
                    facInsCode: item.facInsCode,
                    facName: item.facName,
                    facInsCheck: item.facInsCheck,
                    facInsPerson: item.facInsPerson,
                    facInsJud: item.facInsJud
                }));
                grid.resetData(gridData); // 그리드에 데이터를 설정
                alert("데이터 불러오기 완료!");
            })
            .catch(error => {
                console.error('Error fetching data:', error);
                alert("데이터 불러오기 실패!");
            });

    });

        // 그리드 페이징
        let FacInsList = [[${ilist}]];
        console.log(FacInsList);
        const grid = new tui.Grid({
            el: document.getElementById('grid'),
            data: FacInsList,
            scrollX: false,
            scrollY: false,
            columns: [
                {
                    header: '점검코드',
                    name: 'facInsCode',
                    align: 'center',
                },
                {
                    header: '설비명',
                    name: 'facName',
                    align: 'center',
                },
                {
                    header: '점검사항',
                    name: 'facInsCheck',
                    align: 'center'
                },
                {
                    header: '담당자',
                    name: 'facInsPerson',
                    align: 'center'
                },
                {
                    header: '판정',
                    name: 'facInsJud',
                    align: 'center'
                }

            ],
            rowHeaders: ['rowNum'],
            pageOptions: {
                useClient: true,
                perPage: 5
            }
        });

	</script>

	</section>
</body>
</html>