<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<title>설비비점검관리</title>
<style>
#layoutSidenav_content {
	margin-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
	width: 200px;
	box-sizing: border-box;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

button {
	margin-right: 5px;
}

body {
    font-family: Arial, sans-serif; /* 전체 페이지에 대한 기본 글꼴 설정 */
    background-color: #f8f9fa; /* 페이지 배경색 설정 */
}

.container {
    margin: auto; /* 컨테이너를 수평 가운데 정렬 */
    padding: 20px;
    background-color: #ffffff; /* 컨테이너 배경색 설정 */
    border-radius: 10px; /* 컨테이너에 라운드 모서리 설정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

h1 {
    text-align: center; /* 제목 가운데 정렬 */
}

.btn {
    margin-right: 5px; /* 버튼 간격 설정 */
}

input[type="text"], input[type="date"] {
    width: 100%; /* 입력란 전체 너비로 설정 */
    padding: 8px; /* 내부 여백 추가 */
    border-radius: 5px; /* 입력란에 라운드 모서리 설정 */
    border: 1px solid #ced4da; /* 입력란 테두리 설정 */
}

/* 검색 입력란 스타일 */
#searchInput {
    margin-top: 10px; /* 검색 입력란과 버튼 사이의 간격 설정 */
    width: 200px; /* 너비를 작게 조정 */
    padding: 8px; /* 내부 여백 추가 */
    border-radius: 5px; /* 입력란에 라운드 모서리 설정 */
    border: 1px solid #ced4da; /* 입력란 테두리 설정 */
}

.modal-content {
    border-radius: 10px; /* 모달에 라운드 모서리 설정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.modal-header {
    background-color: #007bff; /* 모달 헤더 배경색 설정 */
    color: white; /* 모달 헤더 글자색 설정 */
    border-radius: 10px 10px 0 0; /* 모달 헤더에 라운드 모서리 설정 */
}

.modal-footer {
    background-color: #f8f9fa; /* 모달 푸터 배경색 설정 */
    border-top: none; /* 모달 푸터에 테두리 없애기 */
    border-radius: 0 0 10px 10px; /* 모달 푸터에 라운드 모서리 설정 */
}
.modal-title {
    font-size: 24px; /* 기존 크기 유지 */
    font-weight: bold; /* 진하게 표시 */
    color: black; /* 텍스트 색상 변경 */
}

.modal-dialog {
    max-width: 45%; /* 모달의 최대 너비를 조정합니다. */
}
.modal-body table {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}

.modal-body th,
.modal-body td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.modal-body th {
    background-color: #f2f2f2;
}

.modal-body tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modal-body tr:hover {
    background-color: #ddd;
}
</style>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<h1>설비점검관리</h1>
				<div class="col">
				<br>
				<br>
			<div class="text-left" style="margin-bottom: 20px;">
    			<button type="button" id="selectBtn" class="btn btn-outline-success"
    			 data-bs-toggle="modal" data-bs-target="#staticBackdropOne">조회
    			 </button>
    			<button type="button" class="btn btn-outline-primary"
    			 onclick="downloadCSV()">Excel
    			</button>
			</div>

			<table class="table">
				<thead>
				
					<tr>
						<th>점검코드</th>
						<th colspan="2"><input type="text" id="facInsCode"
							name="facInsCode" required readonly></th>
						<th>설비코드</th>
						<th colspan="2"><input type="text" id="facCode"
							name="facCode" required></th>
					</tr>
					<tr>
						<th>점검사항</th>
						<th colspan="2"><input type="text" id="facInsCheck"
							name="facInsCheck"></th>
						<th>설비명</th>
						<th colspan="2"><input type="text" id="facName"
							name="facName" th:data-facCode="${facCode}" required></th>
					</tr>
					<tr>
					<tr>
						<th style="vertical-align: middle;">판정</th>
						<td colspan="2" style="vertical-align: middle;">
							<label
							style="margin-right: 10px;"> <input type="radio"
							id="facInsJud1" name="facInsJud" value="적합"> 적합
							</label>
							 <label>
							 	<input type="radio" id="facInsJud2"
									   name="facInsJud" value="부적합"> 부적합
							</label>
						</td>
						<th>담당자</th>
						<th colspan="2"><input type="text" id="facInsPerson"
							name="facInsPerson" th:value="${username}" required></th>
					</tr>
					
				</thead>
				
				</table>
					<input type="hidden" id="facNotCode" name="facNotCode" required>
					<input type="hidden" id="facNotSituation" name="facNotSituation"
						required>
					<div class="text-center">
						<button type="button" id="saveBtn" class="btn btn-outline-success">저장</button>
						<button type="button" id="insertBtn"
							class="btn btn-outline-success">등록</button>
					</div>
				    <br>
				    <div class="text-left" style="margin-bottom: 3px;">
				    <input type="text" id="searchInput" oninput="searchFunction()"
							placeholder="검색...">
					</div>
			</div>
			<div id="grid" class="container"></div>
		</div>





		<div class="modal" id="staticBackdropOne"
			data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<!-- modal-dialog 클래스에 modal-dialog-scrollable 클래스 추가 -->
				<div class="modal-content">
					<div class="modal-header" style="background-color: #0d6efd;">
						<h1 class="modal-title fs-5" id="staticBackdropLabel"
							style="font-weight: bold">설비목록</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>

					<div class="modal-body" style="overflow-y: hidden;">
						<!-- overflow-y 속성 추가 -->
						<table>
							<thead style="text-align: center;">
								<tr>
									<th>설비코드</th>
									<th>설비명</th>
									<!-- <th>담당자</th> -->
									<th>비가동등록사유</th>
									<th>상태</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								<!-- 컨트롤러에서 봐야함 -->
								<tr th:each="NotIns : ${Inslist}"
									th:data-facNotCode="${NotIns.facNotCode}"
									th:data-facCode="${NotIns.facCode}"
									th:data-facName="${NotIns.facName}"
									th:data-facNotPerson="${NotIns.facNotPerson}"
									th:data-facNotReason="${NotIns.facNotReason}"
									th:data-facNotSituation="${NotIns.facNotSituation}"
									data-bs-dismiss="modal"
									th:onclick="'displaySelectedFacNotIns(this)'">
									<td th:text="${NotIns.facCode}"></td>
									<td th:text="${NotIns.facName}"></td>
									<!-- <td th:text="${NotIns.facNotPerson}"></td> -->
									<td th:text="${NotIns.facNotReason}"></td>
									<td th:text="${NotIns.facNotSituation}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer" style="background-color: #0d6efd;">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>


		<script th:inline="javascript">
		
		function getOutStatus(value, row) {
			console.log(value.value); // 값 확인용 로그
			let statusText, bgColor;

			// 주문 상태에 따라 원하는 문자열과 배경색 설정
			switch (value.value) {
				case "가동대기":
					statusText = '🟡';
					
					break;
				case "가동중":
					statusText = '🟢';
					
					break;
				case "비가동":
					statusText = '🔴';
					
					break;
				case "":
				case undefined:
				case null:
					statusText = '알수 없는 상태';
					bgColor = 'red'; // 계획 진행중에 대한 배경색 설정
					break;

			}
			return `<div>${statusText}</div>`;
		};
         
        // saveBtn 버튼에 이벤트 걸어서 클릭 시 해당 함수 실행 
		// saveBtn 버튼에 이벤트 걸어서 클릭 시 해당 함수 실행 
document.getElementById('saveBtn').addEventListener("click", function() {
    var facInsCode = document.getElementsByName("facInsCode")[0].value;
    var facNotCode = document.getElementsByName("facNotCode")[0].value;
    var facCode = document.getElementsByName("facCode")[0].value;
    var facName = document.getElementsByName("facName")[0].value;
    var facInsPerson = document.getElementsByName("facInsPerson")[0].value;
    var facInsCheck = document.getElementsByName("facInsCheck")[0].value;
    var facNotSituation = document.getElementsByName("facNotSituation")[0].value;
    var facInsJud;

    var isNewFacility = false; // 새로운 설비 여부를 나타내는 변수

    // 판정 값을 가져오기
    var facInsJudElements = document.getElementsByName("facInsJud");
    for (var i = 0; i < facInsJudElements.length; i++) {
        if (facInsJudElements[i].checked) {
            facInsJud = facInsJudElements[i].value;
            break;
        }
    }

    if (!facName || !facInsCheck) {
        // 설비명 또는 점검사항이 빈 값인 경우
        Swal.fire({
            icon: 'error',
            text: '설비명과 점검사항을 입력해주세요.'
        });
        return; 
    }

    if (!facInsCode) {
        // 등록되지 않은 설비인 경우
        isNewFacility = true;
        Swal.fire({
            icon: 'warning',
            text: '등록되지 않은 설비입니다. 먼저 등록해주세요.'
        });
        return;
    }

    // 데이터 객체에 위에서 가져온 값들 넣기
    var data = {
        facInsCode: facInsCode,
        facNotCode: facNotCode,
        facCode: facCode,
        facName: facName,
        facInsPerson: facInsPerson,
        facInsCheck: facInsCheck,
        facInsJud: facInsJud,
        facNotSituation: facNotSituation
    };

    // fac_ins update
    // fatch를 통해 서버에 PUT 통신 요청
    fetch("/updateFacIns", {
        method: "PUT",
        body: JSON.stringify(data),   // 데이터 JSON 형식으로 문자열 변환
        headers: {
            "Content-Type": "application/json"  // 타입이 JSON 형식이다
        }
    })
    .then(response => {
        console.log(response.status);
        if (response.ok) {
            Swal.fire({
                icon: 'success',
                text: '수정이 완료되었습니다!'
            }).then(() => {
                location.reload(); // 페이지 새로고침
            });
        } else {
            console.log(response);
             Swal.fire({
                    icon: 'error',
                    text: '수정 실패'
                });
        }
    })
    .catch(error => {
        console.log(error);
        alert("오류");
    });

    // 판정이 부적합일 때 상태도 업데이트
    if (facInsJud === '부적합' && !isNewFacility) {
        // 상태 업데이트를 위한 데이터 객체 생성
        var statusData = {
            facNotCode: facNotCode,
            facNotSituation: 2
        };

        // 상태 업데이트 요청
        fetch("/updateStatus", {
            method: "PUT",
            body: JSON.stringify(statusData),
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(response => {
            if (response.ok) {
                console.log(response);
                // 성공적으로 업데이트되었을 때 작업 수행
            } else {
                console.log(response);
                // 업데이트 실패 처리
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // 오류 발생 시 처리
        });
    }
});


        
         
document.getElementById('insertBtn').addEventListener("click", function() {
	
    var facInsCode = document.getElementsByName("facInsCode")[0].value;
    var facNotCode = document.getElementsByName("facNotCode")[0].value;
    var facCode = document.getElementsByName("facCode")[0].value;
    var facName = document.getElementsByName("facName")[0].value;
    var facInsPerson = document.getElementsByName("facInsPerson")[0].value;
    var facInsCheck = document.getElementsByName("facInsCheck")[0].value;
    var facInsJud = document.getElementsByName("facInsJud")[0].value;

    if (!facName || !facInsCheck) {
        // 설비명 또는 점검사항이 빈 값인 경우
        Swal.fire({
            icon: 'error',
            text: '설비명과 점검사항을 입력해주세요.'
        });
        return; // 등록을 중지하고 함수를 빠져나감
    }

    // 데이터 객체에 위에서 가져온 값들 넣기
    var data = {
        facInsCode: facInsCode,
        facNotCode: facNotCode,
        facCode: facCode,
        facName: facName,
        facInsPerson: facInsPerson,
        facInsCheck: facInsCheck,
        facInsJud: facInsJud,
    };

    // 서버로 데이터 전송하여 insert 수행
    fetch("/insertFacIns", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
            "Content-Type": "application/json"
        }
    })
    .then(response => {
        if (response.ok) {
            console.log(response);
            Swal.fire({
                icon: 'success',
                text: '등록이 완료되었습니다!'
            }).then(() => {
                location.reload(); // 페이지 새로고침
            });
        } else {
        	 Swal.fire({
	                icon: 'error',
	                text: '등록 실패'
	            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert("등록에 실패했습니다.");
    });
});

            

            
        // 그리드 페이징
    		document.addEventListener('DOMContentLoaded', function () {
    		let grid = tui.Grid;
        	grid.applyTheme('clean', {
      			  row: {
      			    hover: {
      			      background: '#d4e9f2'
      			    }
      			  }
      			});
            grid = new tui.Grid({
            el: document.getElementById('grid'),
            data: [],
            scrollX: false,
            scrollY: false,
            columns: [
                {
                    header: '점검코드',
                    name: 'facInsCode',
                    align: 'center',
                },
                {
                    header: '설비명',
                    name: 'facName',
                    align: 'center',
                },
                {
                    header: '설비코드',
                    name: 'facCode',
                    align: 'center',
                },
                {
                    header: '점검사항',
                    width: 150,
                    name: 'facInsCheck',
                    align: 'center'
                },
                {
                    header: '담당자',
                    name: 'facInsPerson',
                    align: 'center'
                },
                {
                    header: '판정',
                    name: 'facInsJud',
                    align: 'center'
                },
                {
                    header: '점검일',
                    name: 'facInsDate',
                    formatter :  formatDate,
                    align: 'center'
                },
                {
                    header: '차기점검일',
                    name: 'facInsNexd',
                    formatter : formatDate,
                    align: 'center'
                },
                {
         	          header: '상태',
         	          name: 'facNotSituation',
         	          formatter: getOutStatus,
         	          align: 'center'
         	        }
              
            ],
            rowHeaders: ['rowNum'],
            // 페이지네이션
            pageOptions: {
                useClient: true,
                perPage: 5
            }
        });
        
        // get 방식
        fetch("/facInsList")
        .then(response => response.json())
        .then(data => {
            grid.resetData(data); // 그리드에 데이터를 설정
        })
        .catch(error => {
            console.error('Error fetching data:', error);
            alert("데이터 불러오기 실패!");
        }); 
        
        
        //  차기점검을 날짜포맷
        function formatDate(dateString) {
           console.log(dateString);
            // dateString을 Date 객체로 파싱
            const date = new Date(dateString.value);
            // 날짜 포맷 변경
            const formattedDate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
            return formattedDate;
        } 
        
        // 설비명 클릭 시 이벤트 처리해서 위에 input 박스에 값넣기
        function handleFacNameClick(event) {
            // 클릭한 행의 데이터 가져오기
            const rowData = grid.getRowAt(event.rowKey);
         
            // 설비명과 담당자 값을 가져와서 input 박스에 넣기
            const facName = rowData.facName;
            /* const facInsPerson = rowData.facInsPerson; */
            const facInsCode = rowData.facInsCode;
            const facCode = rowData.facCode;
            const facNotCode = rowData.facNotCode;
            const facInsCheck = rowData.facInsCheck;

            
            document.getElementById('facInsCode').value = facInsCode;
            document.getElementById('facNotCode').value = facNotCode;
            document.getElementById('facCode').value = facCode;
            document.getElementById('facName').value = facName;
            document.getElementById('facInsCheck').value = facInsCheck;
            /* document.getElementById('facInsPerson').value = facInsPerson; */
        }

        // grid 생성 코드 아래에 설비명 클릭 이벤트 리스너 등록
        grid.on('click', (event) => {
            if (event.columnName === 'facName') {
                handleFacNameClick(event);
            }
        });
        });
        
        
       function displaySelectedFacNotIns(element) {
          var facCode = element.getAttribute('data-facCode');
          var facNotCode = element.getAttribute('data-facNotCode');
          var facName = element.getAttribute('data-facName');
          /* var facInsPerson = element.getAttribute('data-facInsPerson'); */
          
          var facNotSituation = element.getAttribute('data-facNotSituation');
          
          
          document.getElementById('facCode').value = facCode;
          document.getElementById('facNotCode').value = facNotCode;
          document.getElementById('facName').value = facName;
          /* document.getElementById('facInsPerson').value = facNotPerson; */
         
          document.getElementById('facNotSituation').value = facNotSituation;
       }
       
       // 검색 기능 추가
       function searchFunction() {
           // 입력된 검색어 가져오기
           var input, filter, table, tr, td, i, j, txtValue;
           input = document.getElementById("searchInput");
           // 대문자로변환하기
           filter = input.value.toUpperCase();
           // 테이블 확인
           table = document.getElementById("grid");

           // 테이블 돌면서 확인
           tr = table.getElementsByTagName("tr");
           for (i = 0; i < tr.length; i++) {
               // 각 행에서 셀을 가져오기
               td = tr[i].getElementsByTagName("td");
               // 행의 각 셀 돌면서 일치하는지 확인
               for (j = 0; j < td.length; j++) {
                   // 셀의 내용을 가져오기
                   txtValue = td[j].textContent || td[j].innerText;
                   // 조건으로 검색어 있으면 가져오기
                   if (txtValue.toUpperCase().indexOf(filter) > -1) {
                       tr[i].style.display = "";
                       break;
                   } else {
                       // 검색어 없으면 리스트 안보이게 display none 처리
                       tr[i].style.display = "none";
                   }
               }
           }
       }
       
       
    	// 엑셀 다운로드 함수 수정
       function downloadCSV() {
           const gridData = grid.getData(); // 그리드에서 데이터 가져오기
           const header = ['점검코드', '설비명', '설비코드', '점검사항', '담당자', '판정', '점검일', '차기점검일', '상태']; // 헤더 생성
           const csvRows = [header.join(',')]; // 헤더를 CSV 형식으로 변환하여 첫 번째 행으로 설정

           // 데이터 생성
           gridData.forEach(row => {
               // 각 행의 데이터에서 상태 열의 코드와 추가 정보를 제거한 새로운 행 생성
               const newRow = [
                   row.facInsCode,
                   row.facName,
                   row.facCode,
                   row.facInsCheck,
                   row.facInsPerson,
                   row.facInsJud,
                   row.facInsDate,
                   row.facInsNexd,
                   row.facNotSituation // 상태 열은 코드와 추가 정보를 그대로 사용
               ];
               csvRows.push(newRow.join(','));
           });

           // CSV 내용 생성
           const csvContent = 'data:text/csv;charset=utf-8,' + csvRows.join('\n');
           const encodedUri = encodeURI(csvContent); // URI 인코딩

           // 다운로드 링크 생성 및 클릭
           const link = document.createElement('a');
           link.setAttribute('href', encodedUri);
           link.setAttribute('download', 'data.csv');
           document.body.appendChild(link);
           link.click();
       }


        
    </script>
	</section>
</body>
</html>