<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>설비조회</title>
<style>
	table {
    	width: 50%;
        margin: auto;
        border-collapse: collapse;
     }

     th, td {
        border: 1px solid black;
        padding: 8px; 
        text-align: center;
     }
</style>
</head>
<body>
<section layout:fragment="content">
	<h1>설비조회입니당</h1>
	<table>
		<thead>
			<tr>
	        	<th>설비코드</th>
	        	<th>설비명</th>
	        	<th>담당자</th>
	        	<th>입고일</th>
	      	</tr>
      	</thead>
      	<tbody>
                <tr th:each="fac: ${list}">
                    <td th:text="${fac.facCode}"></td>
                    <td th:text="${fac.facName}"></td>
                    <td th:text="${fac.facPerson}"></td>
                    <!-- 날짜변환  -->
                    <td th:text="${#dates.format(fac.facDate, 'yyyy-MM-dd')}"></td>
                </tr>
            </tbody>
	</table>
		<button type="button" class="btn btn-outline-info"><a href="/facManagement">돌아가기</a></button>
</section>
</body>
</html>