  <!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>설비등록</title>
<style>
/* 기존 스타일 유지 */
#layoutSidenav_content {
	margin-top: 20px;
	
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
	width: 200px;
	box-sizing: border-box;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

button {
	margin-right: 5px;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #f8f9fa; 
}

.container {
    margin: auto; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.btn {
    margin-right: 5px; /* 버튼 간격 설정 */
}

input[type="text"], input[type="date"] {
    width: 100%; 
    padding: 8px;
    border-radius: 5px; 
    border: 1px solid #ced4da; 
}

#searchInput {
    margin-top: 10px; 
    width: 200px; 
    padding: 8px; 
    border-radius: 5px;
    border: 1px solid #ced4da; 
    
}

.modal-content {
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #007bff; 
    color: white; 
    border-radius: 10px 10px 0 0;
}

.modal-footer {
    background-color: #f8f9fa; 
    border-top: none; 
    border-radius: 0 0 10px 10px; 
}
.modal-title {
    font-size: 24px; 
    font-weight: bold; 
    color: black; 
}

select {
    width: 100%;
    padding: 8px; 
    border-radius: 5px; 
    border: 1px solid #ced4da; 
    background-color: #fff; 
    font-size: 16px; 
    color: #495057; 
}

select:focus {
    outline: none; 
    border-color: #80bdff; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

select::-ms-expand {
    display: none; 
}

.select-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}


option:checked {
    background-color: #007bff; 
    color: #fff; 
}
.modal-body table {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}

.modal-body th,
.modal-body td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.modal-body th {
    background-color: #f2f2f2;
}

.modal-body tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modal-body tr:hover {
    background-color: #ddd;
}



</style>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<h1>설비관리</h1>
			<br>
			<div class="container">
				<table class="table">
					<tbody>
						<tr>
							<th>설비명</th>
							<td colspan="2"><input type="text" id="facName"
								name="facName" required></td>
							<th>최고온도</th>
							<td colspan="2"><input type="text" id="facHig" name="facHig"
								required></td>
						</tr>
						<tr>
							<th>최저온도</th>
							<td colspan="2"><input type="text" id="facLow" name="facLow"
								required></td>
							<th>입고일</th>
							<td colspan="2"><input type="date" id="facDate"
								name="facDate" required></td>
						</tr>
						<tr>
							<th>공정명</th>
							<td colspan="2"><input type="text" id="procName"
								name="procName" required data-bs-toggle="modal"
								data-bs-target="#staticBackdropOne1"></td>

							<th>공정코드</th>
							<td colspan="2"><input type="text" id="procCode"
								name="procCode" required></td>
						</tr>
						<tr>
							<th>거래처</th>
							<td colspan="2"><input type="text" id="businessName"
								name="businessName" required data-bs-toggle="modal"
								data-bs-target="#staticBackdropOne"></td>
							<th>담당자</th>
							<td colspan="2"><input type="text" id="facPerson"
								name="facPerson" th:value="${username}" required></td>
						</tr>
						<tr>
							<th>점검주기 선택</th>
							<td><select id="facInscycle" name="facInscycle">
									<option value="선택">선택</option>
									<option value="매일">매일</option>
									<option value="매주">매주</option>
									<option value="매월">매월(30일)</option>
							</select></td>
						</tr>
					</tbody>
				</table>
				<input type="hidden" id="businessCode" name="businessCode" value="">
				<br>
				<div class="text-center">
					<button type="button" id="saveBtn" class="btn btn-outline-primary">저장</button>
					<button type="button" class="btn btn-outline-success"
						onclick="downloadCSV()">Excel</button>
				</div>
				<br>
				<div class="text-left" style="margin-bottom: -20px;">
				<input type="text" id="searchInput" oninput="searchFunction()"
						placeholder="검색...">
				</div>
			</div>
			<div id="grid" class="container"></div>
		</div>
		
		

		<!-- 공정명모달 -->
		<div class="modal" id="myModal2">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h4 class="modal-title">공정명</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<!-- 모달 내용 데이터로 받아와야함 설비명 -->
						<table class="table">
							<thead>
								<tr>
									<th>No.</th>
									<th>공정명</th>
									<th>공정코드</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="fac: ${proList}">
									<td th:text="${facStat.count}"></td>
									<td th:text="${fac.procName}"
										th:data-procCode="${fac.procCode}"
										th:data-procName="${fac.procName}"
										onclick="updateInputFields1(this)" data-bs-dismiss="modal"></td>
									<td th:text="${fac.procCode}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		
		<!-- 공정모달 -->
		<div class="modal" id="staticBackdropOne1"
			data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<!-- modal-dialog 클래스에 modal-dialog-scrollable 클래스 추가 -->
				<div class="modal-content">
					<div class="modal-header" style="background-color: #0d6efd;">
						<h1 class="modal-title fs-5" id="staticBackdropLabel"
							style="font-weight: bold">공정목록</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>

					<div class="modal-body" style="overflow-y: hidden;">
						<!-- overflow-y 속성 추가 -->
						<table>
							<thead style="text-align: center;">
								<tr>
									<th>No.</th>
									<th>공정명</th>
									<th>공정코드</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								<!-- 컨트롤러에서 봐야함 -->
								<tr th:each="fac: ${proList}">
									<td th:text="${facStat.count}"></td>
									<td th:text="${fac.procName}"
										th:data-procCode="${fac.procCode}"
										th:data-procName="${fac.procName}"
										th:onclick="'updateInputFields1(this)'" data-bs-dismiss="modal"></td>
									<td th:text="${fac.procCode}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer" style="background-color: #0d6efd;">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 거래처모달 -->
		<div class="modal" id="staticBackdropOne" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #0d6efd;">
						<h1 class="modal-title fs-5" id="staticBackdropLabel"
							style="font-weight: bold">거래처 목록</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" style="overflow-y: hidden;">
						<table class="table">
							<thead style="text-align: center;">
								<tr>
									<th>No.</th>
									<th>거래처명</th>
									<th>거래처코드</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								<!-- Thymeleaf를 사용하여 거래처 데이터를 반복하고 각 항목을 모달에 표시 -->
								<tr th:each="fac, index : ${facBusList}">
									<td th:text="${index.index + 1}"></td>
									<td th:text="${fac.businessName}"
										th:data-businessName="${fac.businessName}"
										th:data-businessCode="${fac.businessCode}"
										data-bs-dismiss="modal"
										th:onclick="'updateInputFields3(this)'"></td>
									<td th:text="${fac.businessCode}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer" style="background-color: #0d6efd;">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>



		<script th:inline="javascript">
		
    

   
 // saveBtn 클릭 시 실행되는 부분
    document.getElementById('saveBtn').addEventListener("click", function() {
        // 등록할 데이터 객체 초기화
        let data = {};
        // 입력 필드의 값을 가져와서 변수에 할당
        var procCode = document.getElementsByName("procCode")[0].value;
        var businessCode = document.getElementsByName("businessCode")[0].value;
        var facName = document.getElementsByName("facName")[0].value;
        var facHig = document.getElementsByName("facHig")[0].value;
        var facLow = document.getElementsByName("facLow")[0].value;
        var facDate = document.getElementsByName("facDate")[0].value;
        var facInscycle = document.getElementsByName("facInscycle")[0].value;
        var facPerson = document.getElementsByName("facPerson")[0].value;

        // 등록 시 유효성 검사
        if (!facName || !procCode || !businessCode || !facHig || !facLow || !facDate || !facInscycle || facInscycle === '선택' || !facPerson) {
            Swal.fire({
                icon: 'error',
                text: '모든 값을 입력해주세요.'
            });
            return;
        }

        // 등록할 데이터 객체 구성
        var facData = {
            procCode: procCode,
            businessCode: businessCode,
            facName: facName,
            facHig: facHig,
            facLow: facLow,
            facDate: facDate,
            facInscycle: facInscycle,
            facPerson: facPerson,
        };
        // 추가 데이터 객체 초기화
        var notData = {};
        // 전송할 데이터 객체에 등록 및 추가 데이터를 할당
        data.facManageVO = facData;
        data.facNotopVO = notData;

        // fetch POST로 데이터 전송
        fetch("/insrtFacAndNot", {
            method: "POST",
            body: JSON.stringify(data), // 데이터를 JSON 문자열로 변환하여 전송
            headers: {
                "Content-Type": "application/json" // JSON 형식임을 확인
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("반응 없음")
                }
                return response.text();
            })
            .then(data => {
                // 등록 완료 시 알림창 표시
            	Swal.fire({
                    icon: 'success',
                    text: '설비등록이 완료되었습니다.'
                }).then(() => {
                    location.href = '/facManagement'; // 사용자가 Swal 팝업을 닫으면 실행됩니다.
                });
            })
            .catch(error => {
                console.log(error);
                // 오류 발생 시 알림창 표시
                Swal.fire({
                    icon: 'error',
                    text: '오류가 발생했습니다. 다시 시도해주세요.'
                });
            });
    });

   
   
   // 엑셀 다운로드
/*    function downloadCSV() {
        const gridData = grid.getData(); // 그리드에서 데이터 가져오기
        const header = Object.keys(gridData[0]).join(','); // 헤더 생성
        const csv = gridData.map(row => Object.values(row).join(',')).join('\n'); // 데이터 생성

        const csvContent = `data:text/csv;charset=utf-8,${header}\n${csv}`; // CSV 내용 생성
        const encodedUri = encodeURI(csvContent); // URI 인코딩

        const link = document.createElement('a');
        link.setAttribute('href', encodedUri);
        link.setAttribute('download', 'data.csv');
        document.body.appendChild(link);
        link.click();
    } */
    
 // 엑셀 다운로드
    function downloadCSV() {
        const gridData = grid.getData(); // 그리드에서 데이터 가져오기
        const header = ['설비코드', '설비명', '공정라인', '담당자', '입고일', '점검주기']; // 헤더 생성
        const csvRows = [header.join(',')]; // 헤더를 CSV 형식으로 변환하여 첫 번째 행으로 설정

        // 데이터 생성
        gridData.forEach(row => {
            const values = Object.values(row);
            const formattedRow = values.slice(0, 6).map(value => { // 6번째 열까지만 가져오도록 수정
                if (value instanceof Date) {
                    // 날짜의 경우 ISO 형식으로 변환
                    return value.toISOString().split('T')[0];
                } else {
                    return value;
                }
            });
            csvRows.push(formattedRow.join(','));
        });

        // CSV 내용 생성
        const csvContent = 'data:text/csv;charset=utf-8,' + csvRows.join('\n');
        const encodedUri = encodeURI(csvContent); // URI 인코딩

        // 다운로드 링크 생성 및 클릭
        const link = document.createElement('a');
        link.setAttribute('href', encodedUri);
        link.setAttribute('download', 'data.csv');
        document.body.appendChild(link);
        link.click();
    }






   
   
   // tui.Grid 인스턴스를 생성
   document.addEventListener('DOMContentLoaded', function () {
   let list = [[${list}]];
   let grid = tui.Grid; 
   grid.applyTheme('clean', {
		  row: {
		    hover: {
		      background: '#d4e9f2'
		    }
		  }
		});
   grid = new tui.Grid({
       // 그리드를 표시할 DOM 요소 지정
       el: document.getElementById('grid'),
       // 그리드에 표시할 데이터를 설정 / facList 사용
       data: list,
       // 그리드의 스크롤 여부 설정
       scrollX: false,
       scrollY: false,
       // 각 컬럼 설정
       columns: [ 
           {
               header: '설비코드', // 열의 헤더 텍스트입니다.
               name: 'facCode', // 열의 데이터 속성 이름입니다.
               align: 'center' // 열의 텍스트 정렬 방식입니다.
           }, 
           {
               header: '설비명',
               name: 'facName',
               align: 'center'
           },
           {
               header: '공정라인',
               name: 'procName',
               align: 'center'
           }, 
           {
               header: '담당자',
               name: 'facPerson',
               align: 'center'
           }, 
           {
               header: '입고일',
               name: 'facDate',
               // 날짜 변환하기
               formatter: function dateFormatter(params) {
                   const date = new Date(params.value);
                   const isoDate = date.toISOString().split('T')[0];
                   return isoDate;
               },
               align: 'center'
           },
           {
               header: '점검주기',
               name: 'facInscycle',
               align: 'center'
           } 
       ],
       // 각 열의 헤더 설정하기
       rowHeaders: ['rowNum'],
       // 페이지네이션 설정
       pageOptions: {
           // 클라이언트에서 페이지네이션 여부 설정
           useClient: true,
           // 한 페이지에 보여줄 행 개수 설정
           perPage: 5
       }
   });
   
// 모달의 데이터 받아서 input 창에 뿌리기
   function updateInputFields1(Element) {
        // 클릭한 <td> 요소에서 데이터 속성을 가져옴
        var procCode = Element.getAttribute('data-procCode');
        var procName = Element.getAttribute('data-procName');

        // 입력 필드의 값 설정
        document.getElementById('procCode').value = procCode;
        document.getElementById('procName').value = procName;
        
     }
   
   function updateInputFields3(Element) {
         var businessName = Element.getAttribute('data-businessName');
         var businessCode = Element.getAttribute('data-businessCode');
         
         document.getElementById('businessCode').value = businessCode;
         document.getElementById('businessName').value = businessName;
     }
   });
/* // 설비명 클릭 시 이벤트 처리해서 위에 input박스에 값넣기
   function handleFacNameClick(event) {
   	// 클릭한 행의 데이터 가져오기
       const rowData = grid.getRowAt(event.rowKey);
   	
       // 설비명과 담당자 값을 가져와서 input 박스에 넣기
       const facName = rowData.facName;
       const procCode = rowData.procCode;
       const procName = rowData.procName;
       const facHig = rowData.facHig;
       const facLow = rowData.facLow;
       const businessName = rowData.businessName;
       const businessCode = rowData.businessCode;
       const facDate = document.getElementById("facDate").value;
       console.log("facDate:", facDate);
       const facPerson = rowData.facPerson;
       // 값을 input 요소에 할당
       document.getElementById('facName').value = facName;
       document.getElementById('procCode').value = procCode;
       document.getElementById('procName').value = procName;
       document.getElementById('facHig').value = facHig;
       document.getElementById('facLow').value = facLow;
       document.getElementById('businessName').value = businessName;
       document.getElementById('businessCode').value = businessCode;
       document.getElementById('facDate').value = facDate;
       document.getElementById('facPerson').value = facPerson;
   }
	
	    // grid 생성 코드 아래에 설비코드 클릭 이벤트 리스너 등록
	    grid.on('click', (event) => {
	      if (event.columnName === 'facName') {
	    	  handleFacNameClick(event);
	      }
	    }); */
   
   // 검색 기능 추가
   function searchFunction() {
       // 입력된 검색어 가져오기
       var input, filter, table, tr, td, i, j, txtValue;
       input = document.getElementById("searchInput");
       // 대문자로변환하기
       filter = input.value.toUpperCase();
       // 테이블 확인
       table = document.getElementById("grid");

       // 테이블 돌면서 확인
       tr = table.getElementsByTagName("tr");
       for (i = 0; i < tr.length; i++) {
           // 각 행에서 셀을 가져오기
           td = tr[i].getElementsByTagName("td");
           // 행의 각 셀 돌면서 일치하는지 확인
           for (j = 0; j < td.length; j++) {
               // 셀의 내용을 가져오기
               txtValue = td[j].textContent || td[j].innerText;
               // 조건으로 검색어 있으면 가져오기
               if (txtValue.toUpperCase().indexOf(filter) > -1) {
                   tr[i].style.display = "";
                   break;
               } else {
                   // 검색어 없으면 리스트 안보이게 display none 처리
                   tr[i].style.display = "none";
               }
           }
       }
   }


</script>
	</section>
</body>
</html>