<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>설비등록</title>
<style>
#layoutSidenav_content {
	margin-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
	width: 200px;
	box-sizing: border-box;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

button {
	margin-right: 5px;
}

#myModal3 {
	text-align: center;
}
</style>
</head>
<body>

	<section layout:fragment="content">
		<button type="button" id="saveBtn" class="btn btn-outline-success">저장</button>
		<div id="layoutSidenav_content" class="container text-center">

			<table class="table">
				<tbody>
					<tr>					
						<th>설비명 *</th>
						<td colspan="2"><input type="text" id="facName"
							name="facName" required data-toggle="modal"
							data-target="#myModal1"></td>
						<th>최고온도</th>
						<td colspan="2"><input type="text" id="facHig"
							name="facHig" required></td>
						
						
					</tr>
					<tr>
						<th>공정명 *</th>
						<td colspan="2"><input type="text" id="procName"
							name="procName" required data-toggle="modal"
							data-target="#myModal2"></td>
						<th>최저온도</th>
						<td colspan="2"><input type="text" id="facLow"
							name="facLow" required></td>
						
						
					</tr>
					<tr>
						<th>공정코드 *</th>
						<td colspan="2"><input type="text" id="procCode"
							name="procCode" required></td>
						
						<th>거래처 *</th>
						<td colspan="2"><input type="text" id="businessCode"
							name="businessCode" required data-toggle="modal"
							data-target="#myModal4"></td>
					</tr>
					<tr>
						<th>담당자 *</th>
						<td colspan="2"><input type="text" id="facPerson"
							name="facPerson" required data-toggle="modal"
							data-target="#myModal3"></td>
						<th>점검주기 선택</th>
						<td><select id="facInscycle" name="facInscycle">
								<option value="daily">선택</option>
								<option value="daily">매일</option>
								<option value="weekly">매주</option>
								<option value="monthly">매월(30일)</option>
						</select></td>
					</tr>
					<tr>
						<th>입고일</th>
						<td colspan="2"><input type="date" id="facDate"
							name="facDate" required></td>

						<th>이미지</th>
						<td colspan="2"><input type="file" name="facImage"></td>
					</tr>
				</tbody>

				<!-- 하단의 설비 리스트 -->
				<tr>
					<th>No.</th>
					<th>설비코드</th>
					<th>설비명</th>
					<th>담당자</th>
					<th>입고일</th>
					<th>점검주기</th>
				</tr>
				<tbody>
					<tr th:each="fac: ${list}">
						<td th:text="${facStat.count}"></td>
						<td th:text="${fac.facCode}"></td>
						<td th:text="${fac.facName}"></td>
						<td th:text="${fac.facPerson}"></td>
						<!-- 날짜변환  -->
						<td th:text="${#dates.format(fac.facDate, 'yyyy-MM-dd')}"></td>
						<td th:text="${fac.facInscycle}"></td>
					</tr>
				</tbody>
				<tr>
				</tr>
			</table>
		</div>



		<!-- 설비코드 모달창 -->
		<div class="modal" id="myModal1">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h4 class="modal-title">설비명</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<!-- 모달 내용 데이터로 받아와야함 설비명 -->
						<table class="table">
							<thead>
								<tr>
									<th>No.</th>
									<th>설비명</th>
									<th>제조업체</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="fac: ${list}">
									<td th:text="${facStat.count}"></td>
									<td th:text="${fac.facName}" th:data-facName="${fac.facName}"
										th:id="${fac.facName}" th:data-facPerson="${fac.facPerson}"
										onclick="updateInputFields(this)" data-bs-dismiss="modal"></td>
									<td th:text="${fac.businessCode}" th:id="${fac.businessCode}" ></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		
		

		<!-- 공정명모달 -->
		<div class="modal" id="myModal2">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h4 class="modal-title">공정명</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<!-- 모달 내용 데이터로 받아와야함 설비명 -->
						<table class="table">
							<thead>
								<tr>
									<th>No.</th>
									<th>공정명</th>
									<th>공정코드</th>
									<th>공정등록일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="fac: ${list}">
									<td th:text="${facStat.count}"></td>
									<td th:text="${fac.procName}"
										th:data-procCode="${fac.procCode}"
										th:data-procName="${fac.procName}"
										onclick="updateInputFields1(this)" data-bs-dismiss="modal"></td>
									<td th:text="${fac.procCode}"></td>
									<!-- 날짜변환  -->
									<td th:text="${#dates.format(fac.procDate, 'yyyy-MM-dd')}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 담당자모달 -->
		<div class="modal" id="myModal3">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h4 class="modal-title">담당자명</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<!-- 모달 내용 데이터로 받아와야함 설비명 -->
						<table class="table">
							<thead>
								<tr>
									<th>담당자</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="fac: ${list}">
									<td th:text="${fac.facPerson}"
										th:data-facPerson="${fac.facPerson}"
										onclick="updateInputFields2(this)" data-bs-dismiss="modal"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 거래처모달 -->
		<div class="modal" id="myModal4">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h4 class="modal-title">거래처</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<!-- 모달 내용 데이터로 받아와야함 설비명 -->
						<table class="table">
							<thead>
								<tr>
									<th>거래처</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="fac: ${list}">
									<td th:text="${fac.businessCode}"
										th:data-businessCode="${fac.businessCode}"
										onclick="updateInputFields3(this)" data-bs-dismiss="modal"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<script>
	// 모달창 내부에 있는 데이터 input 에 담는 함수
	function updateInputFields(Element) {
		// 클릭한 <td> 요소에서 데이터 속성을 가져옴
		var facName = Element.getAttribute('data-facName');

		// 입력 필드의 값 설정
		document.getElementById('facName').value = facName;

	}

	function updateInputFields1(Element) {
		// 클릭한 <td> 요소에서 데이터 속성을 가져옴
		var procCode = Element.getAttribute('data-procCode');
		var procName = Element.getAttribute('data-procName');

		// 입력 필드의 값 설정
		document.getElementById('procCode').value = procCode;
		document.getElementById('procName').value = procName;
		
	}

	function updateInputFields2(Element) {
		var facPerson = Element.getAttribute('data-facPerson');
		document.getElementById('facPerson').value = facPerson;
	}
	
	function updateInputFields3(Element) {
		var businessCode = Element.getAttribute('data-businessCode');
		document.getElementById('businessCode').value = businessCode;
	}

	document.getElementById('saveBtn').addEventListener("click", function() {
	    	
		  var procCode = document.getElementsByName("procCode").value;
		  var businessCode = document.getElementsByName("businessCode").value;
		  var facName = document.getElementsByName("facName").value;
		  var facHig = document.getElementsByName("facHig").value;
		  var facLow = document.getElementsByName("facLow").value;
		  var facDate = document.getElementsByName("facDate").value;
		  var facInscycle = document.getElementsByName("facInscycle").value;
		  var facImage = document.getElementsByName("facImage").value;
		  var facPerson = document.getElementsByName("facPerson").value;
		  
	    
	    
	            var data = {
	            	procCode: procCode,
	            	businessCode: businessCode,
	                facName: facName,
	                facHig: facHig,
	                facLow: facLow,
	                facDate: facDate,
	                facInscycle: facInscycle,
	                facImage: facImage,
	                facPerson: facPerson
	            };
	            
	            fetch("/facManagement", {
			        method: "POST",
			        body: JSON.stringify(data),
			        headers: {
			            "Content-Type": "application/json"
			        }
			    })
			    .then(response => {
			        if (response.ok) {
			            console.log(response);
			            alert("정상처리");
			        } else {
			            console.log(response);
			            alert("실패");
			        }
			    })
			    .catch(error => {
			        console.log(error);
			        alert(오류);
			    });
			});
</script>
	</section>
</body>
</html>