<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>설비비가동등록</title>
<style>
#layoutSidenav_content {
	margin-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
	width: 200px;
	box-sizing: border-box;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

button {
	margin-right: 5px;
}

#myModal3 {
	text-align: center;
}
</style>
</head>
<body>

	<section layout:fragment="content">
		<h1>설비비가동관리</h1>
		<div class="container">
			<div class="col">
				<br> <br>
				<table class="table">
					<thead>
						<tr>
							<th>비가동코드</th>
							<td colspan="2"><input type="text" id="facNotCode"
								name="facNotCode" required readonly></td>
							<th>설비명</th>
							<td colspan="2"><input type="text" id="facName"
								name="facName" required></td>
							<th>사유</th>
							<td colspan="2"><input type="text" id="facNotReason"
								name="facNotReason" th:data-notopCode="${notopCode}" required></td>
						<tr>
							
							<th>담당자</th>
							<td colspan="2"><input type="text" id="facNotPerson"
								name="facNotPerson" th:value="${username}" required></td>
							<th>시작일</th>
							<td colspan="2"><input type="date" id="facNotSdate"
								name="facNotSdate" required></td>
							<th>종료일</th>
							<td colspan="2"><input type="date" id="facNotLdate"
								name="facNotLdate" required></td>
						<tr>
							<td colspan="2"><input type="text" id="facCode"
								name="facCode" required style="display: none;"></td>
							<th>설비상태</th>
							<td><select id="facNotSituation" name="facNotSituation">
									<option value="0">대기</option>
									<option value="1">가동</option>
									<option value="2">비가동</option>
							</select></td>
						</tr>
						<tr>
					</thead>
				</table>
				<div class="text-center">
				<button type="button" id="saveBtn" class="btn btn-outline-success">저장</button>
				<button type="button" class="btn btn-outline-primary" onclick="downloadCSV()">엑셀 다운로드</button>
				<input type="text" id="searchInput" oninput="searchFunction()" placeholder="검색...">
				</div>
				<br> <br> <br>
				<div id="grid" class="container"></div>
			</div>
			</div>

		<script th:inline="javascript">
  		// saveBtn 버튼에 이벤트 걸어서 클릭 시 함수 실행
   		document.getElementById('saveBtn').addEventListener("click", function() {
        // 입력필드의 name 값 받아와서 변수에 할당함
   		var facCode = document.getElementsByName("facCode")[0].value;
   		var facNotCode = document.getElementsByName("facNotCode")[0].value;
        var facName = document.getElementsByName("facName")[0].value;
        var facNotPerson = document.getElementsByName("facNotPerson")[0].value;
        var facNotReason = document.getElementsByName("facNotReason")[0].value;
        var facNotSituation = document.getElementsByName("facNotSituation")[0].value;
        var facNotSdate = document.getElementsByName("facNotSdate")[0].value;
        var facNotLdate = document.getElementsByName("facNotLdate")[0].value;
        // 조건걸기
        if (!facName) {
              alert("설비명을 입력해주세요.");
              return;
          }
        
        	   // 등록 할 값 객체로 
               var data = {
            	  facCode: facCode,
            	  facNotCode: facNotCode,
                  facName: facName,
                  facNotPerson: facNotPerson,
                  facNotReason: facNotReason,
                  facNotSituation: facNotSituation,
                  facNotSdate: facNotSdate,
                  facNotLdate: facNotLdate
               };
               // fetch로 서버에 PUT 요청
               fetch("/updateFacNot", {
                 method: "PUT",
                 body: JSON.stringify(data), // JSON 형식의 데이터를 전송
                 headers: {
                     "Content-Type": "application/json"  // JSON 형식의 데이터임을 명시
                 }
             })
             .then(response => {
                console.log(response.status);
                 if (response.ok) {
                     console.log(response);
                     alert("등록완료!");
                     location.href = '/facNotop';  // 여기 경로로 리디렉션
                 } else {
                     console.log(response);
                     alert("등록실패");
                 }
             })
             .catch(error => {
                 console.log(error);
                 alert(오류);
             });
         });
   		
   		// 엑셀다운로드
   		function downloadCSV() {
        const gridData = grid.getData(); // 그리드에서 데이터 가져오기
        const header = Object.keys(gridData[0]).join(','); // 헤더 생성
        const csv = gridData.map(row => Object.values(row).join(',')).join('\n'); // 데이터 생성

        const csvContent = `data:text/csv;charset=utf-8,${header}\n${csv}`; // CSV 내용 생성
        const encodedUri = encodeURI(csvContent); // URI 인코딩

        const link = document.createElement('a');
        link.setAttribute('href', encodedUri);
        link.setAttribute('download', 'data.csv');
        document.body.appendChild(link);
        link.click();
    }
   		
   		
   
   
   	 // 그리드 페이징
   	    let facNotList = [[${nlist}]];
   	 	console.log(facNotList);
   	    const grid = new tui.Grid({
   	      el: document.getElementById('grid'),
   	      data: facNotList,
   	      scrollX: false,
   	      scrollY: false,
   	      columns: [
   	    	{
      	      header: '비가동코드',
      	      name: 'facNotCode',
      	      align: 'center',
      	    },
   	        {
   	          header: '설비코드',
   	          name: 'facCode',
   	          align: 'center',
   	        },
   	        {
   	          header: '비가동등록사유',
   	          name: 'facNotReason',
   	          align: 'center'
   	        },
   	        {
   	          header: '설비명',
   	          name: 'facName',
   	          align: 'center'
   	        },
   	        {
   	          header: '담당자',
   	          name: 'facNotPerson',
   	          align: 'center'
   	        },
   	        {
   	          header: '상태',
   	          name: 'facNotSituation',
   	          formatter: function(value) {
   	            var numericValue = +value.value;

   	            if (numericValue === 0) {
   	              return '🟡';
   	            } else if (numericValue === 1) {
   	              return '🟢';
   	            } else if (numericValue === 2) {
   	              return '🔴';
   	            } else {
   	              return '알 수 없는 상태';
   	            }
   	          },
   	          align: 'center'
   	        }
   	      ],
   	      rowHeaders: ['rowNum'],
   	      pageOptions: {
   	        useClient: true,
   	        perPage: 5
   	      }
   	    });

   	    // 설비코드 클릭 시 이벤트 처리해서 위에 input박스에 값넣기
   	   function handleFacCodeClick(event) {
   	      // 클릭한 행의 데이터 가져오기
   	   const rowData = grid.getRowAt(event.rowKey);

   	      // 설비명과 담당자 값을 가져와서 input 박스에 넣기
   	   const facName = rowData.facName;
   	   const facNotPerson = rowData.facNotPerson;
   	   const facNotCode = rowData.facNotCode;
   	   const facCode = rowData.facCode;
   	   const facNotSdate = rowData.facNotSdate;
   	   const facNotLdate = rowData.facNotLdate;
   	   
   	   document.getElementById('facNotCode').value = facNotCode;
   	   document.getElementById('facCode').value = facCode;
   	   document.getElementById('facName').value = facName;
   	   document.getElementById('facNotPerson').value = facNotPerson;
   	   document.getElementById('facNotSdate').value = facNotSdate;
   	   document.getElementById('facNotLdate').value = facNotLdate;
   	    }

   	    // grid 생성 코드 아래에 설비코드 클릭 이벤트 리스너 등록
   	    grid.on('click', (event) => {
   	      if (event.columnName === 'facCode') {
   	        handleFacCodeClick(event);
   	      }
   	    });
   	    
      	// 검색 기능 추가
   		function searchFunction() {
   		    // 입력된 검색어 가져오기
   		    var input, filter, table, tr, td, i, j, txtValue;
   		    input = document.getElementById("searchInput");
   		    // 대문자로변환하기
   		    filter = input.value.toUpperCase();
   		    // 테이블 확인
   		    table = document.getElementById("grid");

   		    // 테이블 돌면서 확인
   		    tr = table.getElementsByTagName("tr");
   		    for (i = 0; i < tr.length; i++) {
   		        // 각 행에서 셀을 가져오기
   		        td = tr[i].getElementsByTagName("td");
   		        // 행의 각 셀 돌면서 일치하는지 확인
   		        for (j = 0; j < td.length; j++) {
   		            // 셀의 내용을 가져오기
   		            txtValue = td[j].textContent || td[j].innerText;
   		            // 조건으로 검색어 있으면 가져오기
   		            if (txtValue.toUpperCase().indexOf(filter) > -1) {
   		                tr[i].style.display = "";
   		                break;
   		            } else {
   		                // 검색어 없으면 리스트 안보이게 display none 처리
   		                tr[i].style.display = "none";
   		            }
   		        }
   		    }
   		}

</script>
	</section>
</body>
</html>