<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.demo.facility.mapper.FacManageMapper">
	<select id="getfacList" resultType="FacManageVO">
		SELECT fm.*, 
		       p.*,
		       n.notop_code, 
		       no.notop_content
		FROM fac_manage fm
		JOIN process p ON fm.proc_code = p.proc_code
		JOIN fac_notop n ON fm.fac_code = n.fac_code
		LEFT JOIN not_operator no ON n.notop_code = no.notop_code
		order by fm.fac_code desc
	</select>
		
	<select id="getfacBusList" resultType="FacBusinessVO">
		SELECT business_code,
		business_name
		FROM business
		WHERE business_type = 'b3'
	</select>

	<select id="getfacNotList" resultType="FacNotopVO">
		SELECT fm.fac_name,
			   fm.fac_person,
		       fn.fac_not_code,
		       fn.fac_code,
		       fn.notop_code,
		       fn.fac_not_sdate,
		       fn.fac_not_ldate,
		       fn.fac_not_reason,
		       fn.fac_not_person,
		       find_codename(fn.fac_not_situation) fac_not_situation
		       
		       
		  FROM fac_manage fm
		  JOIN fac_notop fn ON fm.fac_code = fn.fac_code
		  
		 order by fn.fac_not_code desc
	</select>

	<select id="getfacInsList" resultType="FacInsVO">
		SELECT
		fi.fac_ins_code,
		fi.fac_not_code,
		fi.fac_code,
		fi.fac_ins_check,
		fi.fac_ins_person,
		fi.fac_ins_jud,
		fi.fac_ins_date,
		<!-- fi.fac_ins_sel, -->
		fi.fac_ins_nexd,
		find_codename(fn.fac_not_situation) fac_not_situation,
		<!-- fn.fac_not_situation, -->
		fm.fac_name,
		fm.fac_person
		FROM
		fac_ins fi
		INNER
		JOIN
		fac_notop fn
		ON
		fi.fac_not_code = fn.fac_not_code
		INNER JOIN
		fac_manage fm ON
		fi.fac_code = fm.fac_code
		order by fac_ins_code desc
	</select>

	<insert id="insertFac" parameterType="FacManageVO">
		<selectKey keyProperty="facCode" resultType="String"
			order="BEFORE">
			select	'FAC'||LPAD(FAC_CODE_SEQ.NEXTVAL,3,0) FROM DUAL
		</selectKey>
		INSERT INTO fac_manage
		(fac_code, proc_code, business_code, fac_name,
		fac_hig,
		fac_low, fac_date, fac_inscycle, fac_image, fac_person)
		VALUES
		(#{facCode},
		#{procCode}, #{businessCode}, #{facName}, #{facHig},
		#{facLow}, #{facDate}, #{facInscycle}, #{facImage}, #{facPerson})
	</insert>

	<insert id="insertFacNot" parameterType="FacNotopVO">
		INSERT INTO fac_notop
		(fac_code, notop_code, fac_not_reason)
		VALUES
		(#{facCode}, 'notop_03', '설비등록으로 인한 대기중')
	</insert>

	<update id="updateFacNot" parameterType="FacNotopVO">
		UPDATE fac_notop
		SET
		fac_code = #{facCode},
		fac_not_sdate = SYSDATE,
		fac_not_ldate =
		#{facNotLdate},
		fac_not_person = #{facNotPerson},
		fac_not_situation =
		#{facNotSituation},
		fac_not_reason = #{facNotReason}
		WHERE
		fac_not_code =
		#{facNotCode}
	</update>

	<insert id="insertFacIns" parameterType="FacInsDVO">
		<selectKey keyProperty="facInsCode" resultType="String"
			order="BEFORE">
			SELECT 'FAC_INS'||LPAD(FAC_INS_CODE_SEQ.NEXTVAL, 3, 0) FROM
			DUAL
		</selectKey>
		INSERT INTO fac_ins (
		fac_code,
		fac_ins_code,
		fac_not_code,
		fac_ins_check,
		fac_ins_person,
		fac_ins_jud,
		fac_ins_date,
		<!-- fac_ins_sel, -->
		fac_ins_nexd
		)
		VALUES (
		#{facCode},
		#{facInsCode},
		#{facNotCode},
		#{facInsCheck},
		#{facInsPerson},
		#{facInsJud},
		<!-- #{facInsDate}, -->
		<!-- #{facInsSel}, -->
		SYSDATE, 
		SYSDATE + 30
		)
	</insert>

	<insert id="insertFacInsNot" parameterType="FacNotopVO">
		INSERT INTO fac_notop
		(fac_not_code, fac_name)
		VALUES
		(#{facNotCode}, #{facName})
	</insert>

	<update id="updateFacIns" parameterType="FacInsVO">
		UPDATE fac_ins SET
		fac_ins_check = #{facInsCheck},
		fac_ins_person = #{facInsPerson},
		fac_ins_jud = #{facInsJud},
		fac_ins_nexd = fac_ins_date + 30
		WHERE fac_ins_code = #{facInsCode}
	</update>

	<update id="updateFacInsSi" parameterType="String">
		UPDATE fac_notop
		SET
		fac_not_situation = 'f1',
		fac_not_ldate = SYSDATE
		WHERE fac_not_code = #{facNotCode}
	</update>
	
	<update id="updateFacInsSif3" parameterType="String">
		UPDATE fac_notop
		SET
		fac_not_situation = 'f3'
		WHERE fac_not_code = #{facNotCode}
	</update>
	
	<!-- 수리관리 -->
	<select id="getfacRepList" resultType="FacRepVO">
		SELECT fr.fac_rep_code,
		fr.fac_code,
		fm.fac_name,
		fr.fac_rep_repairs,
		fr.fac_rep_person,
		fr.fac_rep_content,
		fr.fac_rep_date,
		fn.fac_not_code,
		find_codename(fn.fac_not_situation) fac_not_situation
		FROM fac_rep fr
		JOIN fac_manage fm ON fr.fac_code =
		fm.fac_code
		JOIN fac_notop fn ON fr.fac_not_code = fn.fac_not_code
		order by fac_rep_code desc
	</select>

	<insert id="insertFacRep" parameterType="FacRepVO">
    <selectKey keyProperty="facRepCode" resultType="String" order="BEFORE">
        SELECT 'FAC_REP'||LPAD(FAC_REP_CODE_SEQ.NEXTVAL, 3, 0) FROM DUAL
    </selectKey>
    INSERT INTO fac_rep (
        fac_rep_code,
        fac_not_code,
        fac_code,
        fac_rep_repairs,
        fac_rep_person,
        fac_rep_content,
        fac_rep_date
    )
    VALUES (
        #{facRepCode},
        #{facNotCode},
        #{facCode},
        #{facRepRepairs},
        #{facRepPerson},
        #{facRepContent},
        SYSDATE
    )
</insert>


	<insert id="insertFacRepNot" parameterType="FacNotopVO">
		INSERT INTO fac_notop
		(fac_not_code)
		VALUES
		(#{facNotCode})
	</insert>

	<update id="updateFacRep" parameterType="FacRepVO">
		UPDATE fac_rep SET
		fac_rep_repairs = #{facRepRepairs},
		fac_rep_content = #{facRepContent},
		fac_rep_person = #{facRepPerson}
		WHERE fac_rep_code = #{facRepCode}
	</update>

	<update id="updateFacRepNot" parameterType="String">
		UPDATE fac_notop
		SET
		fac_not_situation = 'f1'
		WHERE fac_not_code = #{facNotCode}
	</update>
</mapper>
