<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.demo.facility.mapper.FacManageMapper">
	<select id="getfacList" resultType="FacManageVO">
		SELECT fm.*, p.*,
		n.notop_code, no.notop_content
		FROM fac_manage fm
		JOIN process p ON
		fm.proc_code = p.proc_code
		JOIN fac_notop n ON fm.fac_code = n.fac_code
		LEFT JOIN not_operator no ON n.notop_code = no.notop_code
	</select>

	<select id="getfacNotList" resultType="FacNotopVO">
		SELECT fm.fac_name, fn.*
		FROM fac_manage fm
		JOIN fac_notop fn ON fm.fac_code = fn.fac_code
		order
		by fn.fac_not_code desc
	</select>

	<select id="getfacInsList" resultType="FacInsVO">
		SELECT
		fi.fac_ins_code,
		fi.fac_not_code,
		fi.fac_code,
		fi.fac_ins_check,
		fi.fac_ins_person,
		fi.fac_ins_jud,
		fi.fac_ins_date,
		fi.fac_ins_sel,
		fi.fac_ins_nexd,
		fm.fac_name
		FROM
		fac_ins fi
		INNER JOIN
		fac_notop fn ON fi.fac_not_code = fn.fac_not_code
		INNER JOIN
		fac_manage fm ON fi.fac_code = fm.fac_code;
	</select>

	<insert id="insertFac" parameterType="FacManageVO">
		<selectKey keyProperty="facCode" resultType="String"
			order="BEFORE">
			select
			'FAC'||LPAD(FAC_CODE_SEQ.NEXTVAL,3,0) FROM DUAL
		</selectKey>
		INSERT INTO fac_manage
		(fac_code, proc_code, business_code, fac_name,
		fac_hig,
		fac_low, fac_date, fac_inscycle, fac_image, fac_person)
		VALUES
		(#{facCode},
		#{procCode}, #{businessCode}, #{facName}, #{facHig},
		#{facLow}, #{facDate}, #{facInscycle}, #{facImage}, #{facPerson})
	</insert>

	<insert id="insertFacNot" parameterType="FacNotopVO">
		INSERT INTO fac_notop
		(fac_code, notop_code, fac_not_reason)
		VALUES
		(#{facCode}, 'NOTOP001', '설비등록으로 인한 비가동')
	</insert>

	<update id="updateFacNot" parameterType="FacNotopVO">
		UPDATE fac_notop
		SET
		fac_code = #{facCode},
		fac_not_sdate = #{facNotSdate},
		fac_not_ldate =
		#{facNotLdate},
		fac_not_person = #{facNotPerson},
		fac_not_situation =
		#{facNotSituation},
		fac_not_reason = #{facNotReason}
		WHERE
		fac_not_code =
		#{facNotCode}
	</update>




</mapper>
