<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>BOM관리</title>
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<style>
		.tui-grid-row-odd .plan {
			background-color: #e0f7fa;
			/* 예시로 빨간색을 지정했습니다. */
		}

		.tui-grid-row-odd .detail {
			background-color: #e0f7fa;
			/* 예시로 빨간색을 지정했습니다. */
		}

		.tui-grid-row-even .detail {
			background-color: #e0f7fa;
			/* 예시로 빨간색을 지정했습니다. */
		}
		/* 모달 스타일 */
.modal-dialog {
	max-width: 800px;
}

.modal-content {
	border-radius: 10px;
}

.modal-header {
	background-color: #007bff;
	color: white;
	border-radius: 10px 10px 0 0;
}

.modal-body {
	padding: 20px;
}

.modal-footer {
	border-radius: 0 0 10px 10px;
}

.modal-title {
	font-size: 24px;
}

.table th, .table td {
	text-align: center;
}

.modal-table {
	width: 100%;
	border-collapse: collapse;
}

.modal-table th, .modal-table td {
	padding: 10px;
	border-bottom: 1px solid #dee2e6;
}

.modal-table th {
	background-color: #f8f9fa;
}

.modal-table tbody tr:hover {
	background-color: #f2f2f2;
}

/* 모달 창 외부를 클릭하여 닫을 수 있도록 */
.modal-backdrop {
    opacity: 0.2;
}
	</style>
</head>

<body>
	<section layout:fragment="content">
		<div class="container">
			<!-- ============================메인============================ -->
			<h2>BOM관리</h2>
			<div>
				<!-- <button class="btn btn-secondary"
					style="float: right; margin: 8px 5px;" id="planInsert">저장</button> -->
				<div>
					<div id="planGrid"></div>

				</div>



				<div class="mt-4">
					<button class="btn btn-secondary" style="float: right; margin: 8px 5px;" id="bomInsert">저장</button>
					<button class="btn btn-secondary" style="float: right; margin: 8px 5px;" id="addRowBtn">추가</button>
					<div id="planDGrid"></div>

				</div>
			</div>
		</div>

		<!-- 모달 -->
		<div class="modal fade" id="materialModal" tabindex="-1" aria-labelledby="materialModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="materialModalLabel">자재 정보</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table>
							<thead style="text-align: center;">
								<tr>
									<th>자재코드</th>
									<th>자재명</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								<!-- Mlist 데이터를 동적으로 표시 -->
								<tr th:each="mat : ${Mlist}" th:data-matCode="${mat.matCode}" th:data-matName="${mat.matName}" data-bs-dismiss="modal" onclick="updateInputFields(this)">
									<td th:text="${mat.matCode}"></td>
									<td th:text="${mat.matName}"></td>
								</tr>
							</tbody>
						</table>
						<div id="materialInfo">
							<!-- 모달 내부에 표시될 데이터를 여기에 동적으로 표시 -->
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>


		<script th:inline="javascript">
			let Plist = [[${Plist}]];
			let planGrid, planDGrid;
			class NumberEditor {
				constructor(props) {
					const el = document.createElement('input');
					el.type = 'number';
					el.value = String(props.value);
					el.min = props.columnInfo.editor.options.min;
					el.step = props.columnInfo.editor.options.step;

					this.el = el;
				}

				getElement() {
					return this.el;
				}

				getValue() {
					return this.el.value;
				}

				mounted() {
					this.el.select();
				}
			};

			class DeleteButtonRenderer {
				constructor(props) {
					const el = document.createElement('button');
					el.textContent = '삭제';
					el.addEventListener('click', () => {

						const rowData = props.grid.getRow(props.rowKey);
						const planCode = rowData.planCode;
						const ordCode = rowData.ordCode;
						console.log("planCode : " + planCode)
						console.log("ordCode : " + ordCode)
						let data = {};
						let planObj = {};
						let ordObj = {};

						planObj.planCode = planCode;
						ordObj.ordCode = ordCode;

						data.planVO = planObj;
						data.planOrdVO = ordObj;

						console.log("data : " + data);

						fetch('/planDelete', {
							method: 'DELETE',
							headers: {
								'Content-Type': 'application/json',

							},
							body: JSON.stringify(data)
						})
							.then(response => {
								if (!response.ok) {
									throw new Error('Network response was not ok');
								}
								return response.text();
							})
							.then(data => {
								console.log('Success:', data);
								alert(data);
								location.href = '/planManage'; // 성공적으로 처리된 후 리디렉트
							})
							.catch(error => {
								console.error('Error:', error);
							});

					});

					this.el = el;
				}

				getElement() {
					return this.el;
				}
			}

			document.addEventListener('DOMContentLoaded', function () {
				planGrid = new tui.Grid({
					el: document.getElementById('planGrid'),
					data: Plist,
					// 그리드 컬럼 설정
					columns: [
						{
							header: '제품코드',
							name: 'prodCode',
							className: 'prod-code',
							align: "center",
						},
						{
							header: '제품명',
							name: 'prodName',
							align: "center",
						},
						{
							header: '단위',
							name: 'prodUnit',
							background: '#014386',
							align: "center",
						},
						{
							header: '규격',
							name: 'prodSpec',
							align: "center"
						},
						{
							header: '가격',
							name: 'prodPrice',
							align: "center"
						},
						{
							header: '삭제',
							name: 'deleteButton',
							align: "center",
							renderer: {
								type: DeleteButtonRenderer
							}
						}
					],

					rowHeaders: ['rowNum'],
					pageOptions: {
						useClient: true,
						perPage: 5
					}
				});


				// 상단의 그리드의 제품리스트에서 해당 제품 클릭 후 추가버튼 누를 시 하단의 그리드의 추가
				document.querySelector('#addRowBtn').addEventListener('click', function () {
					// 선택한 행의 데이터 가져오기
					const focusedCell = planGrid.getFocusedCell();

					// 선택한 행의 데이터 가져오기
					const rowData = planGrid.getRow(focusedCell.rowKey);

					// rowData가 null인 경우 알림 표시 후 함수 종료
					if (!rowData) {
						alert("제품을 선택하세요.");
						return;
					}

					// 선택한 행의 제품 코드와 제품명 가져오기
					const prodCode = rowData.prodCode;
					const prodName = rowData.prodName;

					// 하단 그리드에 새로운 행 추가
					planDGrid.appendRow({prodCode: prodCode, prodName: prodName});

					// 추가된 행을 하이라이트 표시합니다.
					const lastRowIndex = planDGrid.getRowCount() - 1;
					planDGrid.addRowClassName(lastRowIndex, 'new-row');
				});
				
				
				planGrid.on('click', function (ev) {
					console.log(ev.columnName);
					var columnName = ev.columnName;
					if (columnName === 'prodCode') {
						var rowKey = ev.rowKey;
						var rowData = planGrid.getRow(rowKey);

						if (rowData) {
							var prodCode = rowData.prodCode;
							console.log("prodCode : " + prodCode);
							// planCode를 사용하여 상세 데이터 요청
							fetch('/bomList?prodCode=' + prodCode)
								.then(response => response.json())
								.then(data => {
									console.log("data" + data.bomCode);
									// 상세 그리드에 데이터 표시
									// grid는 상세 계획을 표시하는 Toast Grid의 인스턴스를 나타냅니다.
									planDGrid.resetData(data);
								})
								.catch(error => {
									console.error('Error:', error);
								});
						}
					}
				});

				planDGrid = new tui.Grid({
					el: document.getElementById('planDGrid'),
					scrollX: false,
					scrollY: false,
					columns: [
						{
							header: 'BOM 코드',
							name: 'bomCode',
							align: 'center'
						},
						{
							header: '제품 코드',
							name: 'prodCode',
							align: 'center'
						},
						{
							header: '제품명',
							name: 'prodName',
							align: 'center'
						},
						{
							header: '자재코드',
							name: 'matCode',
							align: "center",
						},
						{
							header: '자재명',
							name: 'matName',
							align: "center",
						},
						{
							header: '순번',
							name: 'bomNum',
							align: "center",
							editor: "text"
						},
						{
							header: '수량',
							name: 'bomMatCount',
							align: "center",
							editor: "text"
						},


					],
					rowHeaders: [],
					
				});


				// 모달 열기 이벤트 처리
				planDGrid.on('click', function (ev) {
					if (ev.columnName === 'matCode') {
						const rowData = planDGrid.getRow(ev.rowKey);
						const materialCode = rowData.matCode;
						const materialName = rowData.matName;
						// 모달에 자재코드 데이터 표시
						document.getElementById('materialInfo').innerText = materialCode;
						document.getElementById('materialInfo').innerText = materialName;
						// 모달 열기
						const materialModal = new bootstrap.Modal(document.getElementById('materialModal'));
						materialModal.show();
					}
				});

				console.log("planGrid", planGrid)
			});


			// 모달창에서 클릭 시 그리드에 값 넣기
			function updateInputFields(rowElement) {
				// 클릭한 <tr> 요소에서 데이터 속성을 가져옴
				var matCode = rowElement.getAttribute('data-matCode');
				var matName = rowElement.getAttribute('data-matName');

				// 가져온 값을 그리드에 넣기
				var selectedRowKey = planDGrid.getFocusedCell().rowKey; // 현재 선택한 행의 키를 가져옵니다.
				planDGrid.setValue(selectedRowKey, 'matCode', matCode); // 특정 열에 자재코드를 설정합니다.
				planDGrid.setValue(selectedRowKey, 'matName', matName); // 특정 열에 자재명을 설정합니다.
			}



			
		</script>







		<script>

			//==========================insert===========================================================
			document.querySelector('#bomInsert').addEventListener('click', function () {
				let bomSeq;
				const newPlan = document.querySelectorAll('.new-row');
				if (newPlan.length === 0) {
					alert("저장 할 내용이 없습니다.")
					return;
				}

				/* fetch('/bomSeq')
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.text(); // 또는 response.json() if JSON expected
				})
				.then(data => {
					console.log('Fetched data:', data);
					// 숫자로 변환하는 로직이 필요할 경우, parseInt(data, 10)를 사용
					bomSeq = data;
					console.log("bomSeq : " + bomSeq);
					//location.href = '/bom'; // 성공적으로 처리된 후 리디렉트
				})
				.catch(error => {
					console.error('Error:', error);
				}); */
				async function fetchBomSeq() {
					try {
						const response = await fetch('/bomSeq');
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						const data = await response.text(); // 또는 response.json() if JSON expected
						console.log('Fetched data:', data);
						return data; // 반환된 데이터를 사용하거나 다른 작업을 수행
					} catch (error) {
						console.error('Error:', error);
					}
				}

				async function performAction() {
					bomSeq = await fetchBomSeq();
					console.log("bomSeq : " + bomSeq);
					// 추가 작업을 여기에서 수행할 수 있습니다.
					let data = {};

					var newPlanDetailRows = document.querySelectorAll('#planDGrid tbody tr');
					console.log("newPlanDetailRows" + newPlanDetailRows);
					let planDetailData = [];

					for (var i = (newPlanDetailRows.length) / 2 + 1; i < newPlanDetailRows.length; i++) {
						// 현재 tr 요소 내의 prodCode에 해당하는 div를 찾습니다.
						let obj = {};
						console.log("bomSeq2 : " + bomSeq);
						let bomCode = 'BOM' + String(bomSeq).padStart(3, '0');
						console.log("bomCode" + bomCode);
						let target = $(newPlanDetailRows[i]);
						obj.bomCode = bomCode;
						obj.prodCode = target.find('td:eq(1)').text();
						console.log("prodCode : " + obj.prodCode);

						obj.matCode = target.find('td:eq(3)').text();
						console.log("matCode : " + obj.matCode);
						obj.bomNum = target.find('td:eq(5)').text();
						obj.bomMatCount = target.find('td:eq(6)').text();

						planDetailData.push(obj);

					}


					data = planDetailData;



					console.log(data);
					// AJAX 요청으로 서버에 데이터 전송
					fetch('/bomInsert', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',

						},
						body: JSON.stringify(data)
					})
						.then(response => {
							if (!response.ok) {
								throw new Error('Network response was not ok');
							}
							return response.text();
						})
						.then(data => {
							console.log('Success:', data);
							alert(data);
							location.href = '/bom'; // 성공적으로 처리된 후 리디렉트
						})
						.catch(error => {
							console.error('Error:', error);
						});
				}

				// 이 함수를 이벤트 핸들러나 다른 곳에서 호출
				performAction();







			});


			//plan detail update
			/* document.querySelector('#planDUpdate').addEventListener('click', function () {
				const newDetail = document.querySelector('#planDGrid .tui-grid-row-odd');
				if (newDetail === null) {
					alert("저장 할 내용이 없습니다.")
					return;
				}

				let data = {};

				var newPlanDetailRows = document.querySelectorAll('#planDGrid tbody tr');

				let planDetailData = [];
				// 인덱스 4부터 시작하여 끝까지 반복합니다.
				for (var i = 4; i < newPlanDetailRows.length; i++) {
					// 현재 tr 요소 내의 prodCode에 해당하는 div를 찾습니다.
					let obj = {};
					let target = $(newPlanDetailRows[i]);
					obj.dplanCode = target.find('td:eq(0)').text();
					obj.prodCode = target.find('td:eq(1)').text();
					console.log("prodCode : " + obj.prodCode);

					obj.dplanStartDate = target.find('td:eq(2)').text();
					console.log("dplanStartDate : " + obj.dplanStartDate);
					obj.dplanEndDate = target.find('td:eq(3)').text();
					obj.dplanCount = target.find('td:eq(6)').text();

					planDetailData.push(obj);

				}
				data.planDVOList = planDetailData;
				console.log(data);
				// AJAX 요청으로 서버에 데이터 전송
				fetch('/planDUpdate', {
					method: 'put',
					headers: {
						'Content-Type': 'application/json',

					},
					body: JSON.stringify(data)
				})
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						return response.text();
					})
					.then(data => {
						console.log('Success:', data);
						alert(data);
						location.href = '/planManage'; // 성공적으로 처리된 후 리디렉트
					})
					.catch(error => {
						console.error('Error:', error);
					});*/



		</script>
	</section>

</body>

</html>