<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>자재 관리^^</title>

</head>
<body>
	<section layout:fragment="content">
		<h3>자재관리</h3>



		<div id="grid" class="container"></div>

		<script>
			const grid = new tui.Grid({
				el : document.getElementById('grid'),
				data : {
					api : {
						readData : {
							url : '/api/readData',
							method : 'GET'
						}
					}
				},
				scrollX : false,
				scrollY : false,
				minBodyHeight : 30,
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					perPage : 5
				},
				columns : [ {
					header : 'Name',
					name : 'name'
				}, {
					header : 'Artist',
					name : 'artist'
				}, {
					header : 'Type',
					name : 'type'
				}, {
					header : 'Release',
					name : 'release'
				}, {
					header : 'Genre',
					name : 'genre'
				} ]
			});
		</script>
	</section>
</body>
</html>