<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>자재 관리^^</title>

</head>
<body>
	<section layout:fragment="content">


		<div id="matGrid" class="container">
			<h3>자재 전체 재고</h3>
		</div>
		
		<div id="lotGrid" class="container">
			<h3>LOT 별 자재 재고</h3>
		</div>



		<script th:inline="javascript">
		let matList = [[${matList}]]
		
		 const matGrid = new tui.Grid({

             el: document.getElementById('matGrid'),
             data: matList, // 여기서 emps 데이터를 사용
             scrollX: false,
             scrollY: false,
 	      columns: [
 	        {
 	          header: '자재코드',
 	          name: 'matCode',
 	          align: 'center',
 	        },
 	        {
 	          header: '자재명',
 	          name: 'matName'
 	        },
 	        {
 	          header: '단위',
 	          name: 'matUnit'
 	        },
 	        {
 	          header: '규격',
 	          name: 'matStandard'
 	        },
 	        {
 	          header: '총재고량',
 	          name: 'matCount'
 	        },
 	        {
 	          header: '안전재고',
 	          name: 'matSafeStock'
 	        },
 	      ],
 	      rowHeaders: ['rowNum'],
             pageOptions: {
                 useClient: true,
                 perPage: 5
             }
 	    });
		
		
		
		
		
		 const lotGrid = new tui.Grid({

             el: document.getElementById('lotGrid'),
             
             scrollX: false,
             scrollY: false,
 	      columns: [
 	        {
 	          header: '자재 LOT',
 	          name: 'matCode'
 	        },
 	        {
 	          header: '자재코드',
 	          name: 'matName'
 	        },
 	        {
 	          header: '자재명',
 	          name: 'matCount'
 	        },
 	        {
 	          header: 'LOT재고',
 	          name: 'matSafeStock'
 	        },
 	      ],
 	      rowHeaders: ['rowNum'],
             pageOptions: {
                 useClient: true,
                 perPage: 5
             }
 	    });
		</script>
	</section>
</body>
</html>