<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>입고 관리^^</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<h1>입고 관리</h1>
			<table class="table">
				<tr>
					<th>No.</th>
					<th>자재 코드</th>
					<th>자재 명</th>
					<th>LOT 번호</th>
					<th>자재 검사 코드</th>
					<th>입고량</th>
					<th>입고일</th>
					<th>담당자</th>
				</tr>
				<tr>
					<th>1</th>
					<th>mat_label</th>
					<th>라벨지</th>
					<th>mat_lot_1</th>
					<th>mat_inp_5</th>
					<th>5000</th>
					<th>2024-02-02</th>
					<th>진현강</th>
				</tr>
			</table>
		</div>
	</section>
</body>
</html>