<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>입고 관리</title>
<script src="https://uicdn.toast.com/grid/latest/grid.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/grid.css">

<style>
.custom-style {
	float: right;
}

input[type="text"] {
	width: 20%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="text"]:focus {
	outline: none;
	border-color: #4CAF50;
}
#excel {
	float: left;
}
#searchOrder {
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
}

#selectBtn {
    float: left;
    margin-bottom: 10px;
}
</style>
</head>
<body>
	<section layout:fragment="content" class="m-5">
		<div>
			<h2>입고관리</h2>

			<div>

				<input type="text" id="searchOrder" oninput="searchFunction()"
					placeholder="검색..." >
				<button type="button" id="selectBtn" class="btn btn-outline-success"
					data-bs-toggle="modal" data-bs-target="#staticBackdropOne">조회</button>
			</div>
			<br>
			<br>
			<br>



			<h3>검수 완료 목록</h3>

			<div id="ckeckGrid"></div>

			<h3>입고목록</h3>
			<button type="button" class="btn btn-outline-primary custom-style"
				id="orderInsert">저장</button>
			<button type="button" class="btn btn-outline-primary" id="excel"
				onclick="downloadCSV()">EXCEL</button>
			<br> <br>


			<div id="inputGrid"></div>
		</div>

		<script th:inline="javascript">
						// 입고 그리드
                		let matInputList = [[${matInputList}]]
                		console.log(matInputList)
                		 const inputGrid = new tui.Grid({

                           el: document.getElementById('inputGrid'),
                           data: matInputList, // 여기서 emps 데이터를 사용
                           scrollX: false,
                           scrollY: false,
                	      columns: [
                	        {
                	          header: 'LOT코드',
                	          name: 'matLotCode',sortable: true, sortingType: 'desc'
                	        },
                	        {
                	          header: '자재코드',
                	          name: 'matCode'
                	        },
                	        {
                	          header: '자재명',
                	          name: 'matName', sortable: true, sortingType: 'desc'
                	        },
                	        {
                	          header: '단위',
                	          name: 'matUnit'
                	        },
                	        {
                	          header: '규격',
                	          name: 'matStandard'
                	        },
                	        {
                	          header: '거래처',
                	          name: 'businessName'
                	        },
                	        {
                			  header: '입고일',
                			  name: 'matInputDate',
                			  formatter: formatDate,
                			  editor: {
          		                type: 'datePicker',
          		                options: {
          		                    format: 'yyyy-MM-dd'
          		                }
                			  }
        				    },
                	        {
                			  header: '입고량',
                			  name: 'matInputCount',
           	            	  editor : 'text'
                			},
                	        {
                		      header: '자재검사코드',
                		      name: 'matInsCode'
                		    },
                	        {
                			  header: '담당자',
                			  name: 'matOrManager'
                			},
                	      ],
                	      rowHeaders: ['rowNum','checkbox'],
                           pageOptions: {
                               useClient: true,
                               perPage: 5
                           }
                	    });
						
						
						
            			let newInpuRows = []

            			inputGrid.on('check', (ev) => {
    	        		    const checkedRows = ev.checkedRows; // 선택된 행들의 배열을 가져옵니다.
    	        		    newInpuRows = inputGrid.getCheckedRows();
    	        		    console.log(newInpuRows);
    	        		});
                		
            			
        				// ================ matIns insert ==================
        				document.querySelector('#orderInsert').addEventListener('click', function() {
        				    let name = [[${session.userName}]];

        				    const inputRows = newInpuRows;
        				    console.log('잘 들고오네요...',inputRows[0].matLotCode);

							

        				    for (const data of inputRows) {
        				        // 입력값이 비어있는지 확인
        				        if (!data.matInputCount || isNaN(data.matInputCount) || Number(data.matInputCount) <= 0) {
        				            alert("입고량을 확인해주세요.");
        				            return;
        				        }

        				        // 입력값 길이 확인
        				        if (data.matInputCount.length > 10) { // 예시로 최대 길이를 10으로 설정
        				            alert("입고량은 10자 이하여야 합니다.");
        				            return;
        				        }

        				        // 입력값 형식 확인
        				        let matInputDate = new Date(data.matInputDate);
        				        if (isNaN(matInputDate.getTime())) {
        				            alert("올바른 입고일을 선택해 주세요");
        				            return;
        				        }
        				    }

        				    // 데이터를 객체로 생성
        				    let data = {};

        			        data.matLotCode = inputRows[0].matLotCode;
        			        console.log("data.matLotCode : ", data.matLotCode);
        			        data.matInputDate = inputRows[0].matInputDate;
        			        console.log(" data.matInputDate : ",  data.matInputDate);
        			        data.matCode = inputRows[0].matCode;
        			        data.matInsGood = inputRows[0].matInsGood;
        			        data.matInputCount = inputRows[0].matInputCount;
        			        data.matOutCount = inputRows[0].matOutCount;
        			        data.matCount = inputRows[0].matCount;
        			        data.matInsCode = inputRows[0].matInsCode;
        			        data.matManager = name;

        				    console.log('전송할 데이터:', data);

        				    // AJAX 요청
        				    fetch('/matInputInsert', {
        				        method: 'POST',
        				        headers: {
        				            'Content-Type': 'application/json'
        				        },
        				        body: JSON.stringify(data)
        				    })
        				    .then(response => {
        				        if (!response.ok) {
        				            throw new Error('Network response was not ok');
        				        }
        				        return response.text();
        				    })
        				    .then(data => {
        				        console.log('Success:', data);
        				        alert(data);
        				        location.href = '/matInput'; // 성공적으로 처리된 후 리디렉트
        				    })
        				    .catch(error => {
        				        console.error('Error:', error);
        				    });
        				});
                		
                		
                		
                		
                		
                		
                		
                		// 검수그리드
                		let ckeckList = [[${matInsList}]]
                		console.log(ckeckList);

                		const ckeckGrid = new tui.Grid({
                	           el: document.getElementById('ckeckGrid'),
                	           data: ckeckList,
                	           scrollX: false,
                	           scrollY: false,
                		      columns: [
                		    	{
                			      header: '자제검수코드',
                			      name: 'matInsCode',sortable: true, sortingType: 'desc'
                			    },
                		        {
                		          header: '발주코드',
                		          name: 'matOrCode'
                		        },
                		        {
                		          header: '자재명',
                		          name: 'matName'
                		        },
                		        {
                		          header: '단위',
                		          name: 'matUnit'
                		        },
                		        {
                		          header: '규격',
                		          name: 'matStandard'
                		        },
                		        {
                		          header: '거래처명',
                		          name: 'businessName'
                		        },
                		        {
                		          header: '발주량',
                		          name: 'matOrCount'
                		        },
                		        {
                				  header: '합격량',
                				  name: 'matInsGood',
                				  editor: 'text'
                				},
                		        {
                				  header: '불합격량',
                				  name: 'matInsBad',
                				  editor: 'text'
                				},
//                 		        {
//                     		      header: '불량내용',
//                     		      name: 'matNote',
//                     		    },
                				{
                		            header: '검수일자',
                		            name: 'matInsDate',
                		            formatter: formatDate,
                		            editor: {
                		                type: 'datePicker',
                		                options: {
                		                    format: 'yyyy-MM-dd'
                		                },
                		                disable: (value) => {
                		                    // value가 비어있으면(disabled라면) true 반환하여 비활성화
                		                    return !value;
                		                }
                		            }
                		        },
                		      ],
                		      rowHeaders: ['rowNum'],
                	           pageOptions: {
                	               useClient: true,
                	               perPage: 5
                	           }
                		    });

                		// 날짜 형식 지정 함수
                     	function formatDate({ value }) {
                     	    if (value) {
                     	        let date = new Date(value);
                     	        let year = date.getFullYear();
                     	        let month = (date.getMonth() + 1).toString().padStart(2, '0');
                     	        let day = date.getDate().toString().padStart(2, '0');
                     	        return `${year}-${month}-${day}`;
                     	    }
                     	    return '';
                     	}
      </script>
	</section>
</body>
</html>
