<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://uicdn.toast.com/grid/latest/grid.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/grid.css">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>자재 검사</title>

<style>
/* 검색 입력란 스타일 */
input[type="text"] {
	width: 20%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="text"]:focus {
	outline: none;
	border-color: #4CAF50;
}

#searchOrder {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

button {
	float: right;
	margin-right: 5px;
	margin-bottom: 10px;
}

#searchOrder {
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}

#selectBtn {
	float: left;
	margin-bottom: 10px;
}
.tui-grid-row-odd .matInsCount,
.tui-grid-row-even .matInsCount {
	background-color: #FDC0CE;
	/* 예시로 빨간색을 지정했습니다. */
}
.tui-grid-row-odd .matInsGood,
.tui-grid-row-even .matInsGood {
	background-color: #FDC0CE;
	/* 예시로 빨간색을 지정했습니다. */
}
.tui-grid-row-odd .matInsBad,
.tui-grid-row-even .matInsBad {
	background-color: #FDC0CE;
	/* 예시로 빨간색을 지정했습니다. */
}
/* .tui-grid-row-odd .matInsDate, */
/* .tui-grid-row-even .matInsDate { */
/* 	background-color: #FDC0CE; */
/* 	/* 예시로 빨간색을 지정했습니다. */ */
/* } */
</style>
</head>
<body>
	<section layout:fragment="content" class="m-5">


		<div>
			<div>
				<h2>자재 검수 관리</h2>
			</div>
			<br>

			<div>

				<input type="text" id="searchOrder" oninput="searchFunction()"
					placeholder="검색...">
				<button type="button" id="selectBtn" class="btn btn-secondary"
					data-bs-toggle="modal" data-bs-target="#staticBackdropOne">조회</button>
			</div>
			<br> <br> <br>



			<button type="button" class="btn btn-secondary custom-style"
				id="orderInsert" style="margin: 8px 5px;">저장</button>
			<button type="button" class="btn btn-secondary custom-style"
				id="matupdate" style="margin: 8px 5px;">수정</button>
			<button type="button" class="btn btn-secondary" style="float: left; margin: 8px 5px;"
				onclick="downloadCSV()">EXCEL</button>
			<br>
			<div id="insGrid"></div>


		</div>

		<script th:inline="javascript">      
		let newCheckRows = []
		console.log("newCheckRows : ", newCheckRows);
		document.addEventListener('DOMContentLoaded', function () {

                		let insList = [[${matInsList}]]
                		console.log(insList);
                		
                		let insGrid = tui.Grid;
                		insGrid.applyTheme('clean', {
			      			  row: {
			      			    hover: {
			      			      background: '#d4e9f2'
			      			    }
			      			  }
			      			});
                		 insGrid = new tui.Grid({
                	           el: document.getElementById('insGrid'),
                	           data: insList,
                	           scrollX: false,
                	           scrollY: false,
                		      columns: [
                		    	{
                			      header: '자재검수코드',
                			      name: 'matInsCode',sortable: true, sortingType: 'desc'
                			    },
                		        {
                		          header: '발주코드',
                		          name: 'matOrCode'
                		        },
                		        {
                		          header: '자재명',
                		          name: 'matName'
                		        },
                		        {
                		          header: '발주량',
                		          name: 'matOrCount'
                		        },
                		        {
                				  header: '검사량',
                				  name: 'matInsCount',
                				  formatter: formatTotalTtlPrice,
                				  className: 'matInsCount',
                				  editor: 'text'
                				},
                		        {
                				  header: '합격량',
                				  name: 'matInsGood',
                				  formatter: formatTotalTtlPrice,
                				  className: 'matInsGood',
                				  editor: 'text'
                				},
                		        {
                				  header: '불합격량',
                				  name: 'matInsBad',
                				  className: 'matInsBad',
                				  editor: 'text'
                				},
                				{
                		            header: '검수일자',
                		            name: 'matInsDate',
                		            className: 'matInsDate',
                		            formatter: formatDate,
                		            editor: {
                		                type: 'datePicker',
                		                options: {
                		                    format: 'yyyy-MM-dd',
                		                    language: 'ko'
                		                },
                		                disable: (value) => {
                		                    // value가 비어있으면(disabled라면) true 반환하여 비활성화
                		                    return !value;
                		                }
                		            }
                		        },
                		      ],
                		      rowHeaders: ['rowNum', 'checkbox'],
                	           pageOptions: {
                	               useClient: true,
                	               perPage: 10
                	           }
                		    });
             		
                		 insGrid.on('check', (ev) => {
     	        		    const checkedRows = ev.checkedRows; // 선택된 행들의 배열을 가져옵니다.
    	        		    newCheckRows = insGrid.getCheckedRows();
    	        		    console.log(newCheckRows);
    	        		});

				});
							


                			
                			
            
	

        				// ================ matIns insert ==================
        				document.querySelector('#orderInsert').addEventListener('click', function() {
        					
        					
        					
							        					
        					
        				    let name = [[${session.userName}]];
        				    const insCheckRows = newCheckRows;
        				    console.log('잘 들고오네요...',insCheckRows);

        				    if (insCheckRows.length === 0) {
        				        Swal.fire({
        				            icon: 'error',
        				            text: '저장할 데이터가 없습니다.'
        				        });
        				        return;
        				    }
							
        				    
        				  		
        				        // 검사량이 0보다 크거나 같은지 확인
        				        if (insCheckRows[0].matInsCount == null) {
        				            Swal.fire({
        					            icon: 'error',
        					            text: '검사량을 확인해주세요.'
        					        });
        				            return;
        				        }
        				        // 합격량이 0보다 크거나 같은지 확인
        				        if (insCheckRows[0].matInsGood == null) {
        				            Swal.fire({
        					            icon: 'error',
        					            text: '합격량을 확인해주세요.'
        					        });
        				            return;
        				        }
        				        // 불합격량이 0보다 크거나 같은지 확인
        				        if (insCheckRows[0].matInsBad != 0 && (insCheckRows[0].matInsBad == null)) {
								    Swal.fire({
							            icon: 'error',
							            text: '불합격량을 확인해주세요.'
							        });
								    return;
								}
        				        
        				        // 검수날짜가 올바른 형식인지 확인
//         				        if (insCheckRows[0].matInsDate == null) {
//         				            Swal.fire({
//         					            icon: 'error',
//         					            text: '검수날짜를 선택해 주세요.'
//         					        });
//         				            return;
//         				        }
        				        
        				        
        				        
        				        // 입고량이 발주량을 넘지 않는지 확인
								if (Number(insCheckRows[0].matInsCount) > Number(insCheckRows[0].matOrCount)) {
								    Swal.fire({
								        icon: 'error',
								        text: '검사량은 발주량을 넘을 수 없습니다.'
								    });
								    return;
								}
								
								// 합격량이 발주량을 넘지 않는지 확인
								if (Number(insCheckRows[0].matInsGood) > Number(insCheckRows[0].matOrCount)) {
								    Swal.fire({
								        icon: 'error',
								        text: '합격량은 발주량을 넘을 수 없습니다.'
								    });
								    return;
								}
        				 
        			        
        			        	


        				    // 데이터를 객체로 생성
        				    let data = {};

        			        data.matOrCode = insCheckRows[0].matOrCode;
        			        data.matInsCount = insCheckRows[0].matInsCount;
        			        data.matInsGood = insCheckRows[0].matInsGood;
        			        data.matInsBad = insCheckRows[0].matInsBad;
        			        data.matInsDate = insCheckRows[0].matInsDate;
        			        
        			        data.matManager = name;

        				    console.log('전송할 데이터:', data);

        				    // AJAX 요청
        				    fetch('/MatInsInsert', {
        				        method: 'POST',
        				        headers: {
        				            'Content-Type': 'application/json'
        				        },
        				        body: JSON.stringify(data)
        				    })
        				    .then(response => {
        				        if (!response.ok) {
        				            throw new Error('Network response was not ok');
        				        }
        				        return response.text();
        				    })
        				    .then(data => {
        				        console.log('Success:', data);
        				        
        				        Swal.fire({
        					        icon: 'success',
        					        text: data
        					    }).then(() => {
        					        location.href = '/matIns'; // 성공적으로 처리된 후 리디렉트
        					        
        					     
        					    });
        					})
        				    .catch(error => {
        				        console.error('Error:', error);
        				    });
        			
        				});
        				
		
        				
                		// 날짜 형식 지정 함수
                     	function formatDate({ value }) {
                     	    if (value) {
                     	        let date = new Date(value);
                     	        let year = date.getFullYear();
                     	        let month = (date.getMonth() + 1).toString().padStart(2, '0');
                     	        let day = date.getDate().toString().padStart(2, '0');
                     	        return `${year}-${month}-${day}`;
                     	    }
                     	    return '';
                     	}
                		
                		
     
                		
            	        
            	        
				        // 검색
				        function searchFunction() {	
				             let input, filter, table, tr, td, i, j, txtValue;
				     	     input = document.getElementById("searchOrder");
				     	     filter = input.value.toUpperCase();
				     	     table = document.getElementById("insGrid");

				     	     tr = table.getElementsByTagName("tr");
				     	     for (i = 0; i < tr.length; i++) {
				     	         td = tr[i].getElementsByTagName("td");
				     	         for (j = 0; j < td.length; j++) {
				     	             txtValue = td[j].textContent || td[j].innerText;
				     	             if (txtValue.toUpperCase().indexOf(filter) > -1) {
				     	                 tr[i].style.display = "";
				     	                 break;
				     	             } else {
				     	                 tr[i].style.display = "none";
				     	             }
				     	         }
				     	     }
				     	 }

						
            		
	
            			document.querySelector('#matupdate').addEventListener('click', function() {
    				    	
            				const insCheckRows = newCheckRows;
            				
                 			if (insCheckRows == 0) {
                 				Swal.fire({
							        icon: 'error',
							        text: '수정 할 내용이 없습니다.'
							    });
                 				return;
                 			}
                 			
							if (Number(insCheckRows[0].matInsCount) > Number(insCheckRows[0].matOrCount)) {
							    Swal.fire({
							        icon: 'error',
							        text: '검사량은 발주량을 넘을 수 없습니다.'
							    });
							    return;
							}
							
							// 합격량이 발주량을 넘지 않는지 확인
							if (Number(insCheckRows[0].matInsGood) > Number(insCheckRows[0].matOrCount)) {
							    Swal.fire({
							        icon: 'error',
							        text: '합격량은 발주량을 넘을 수 없습니다.'
							    });
							    return;
							}
							
							
							if (Number(insCheckRows[0].matInsCount) <= 0) { // 검사량이 0 이하일 때
							    Swal.fire({
							        icon: 'error',
							        text: '검사량은 0보다 작을 수 없습니다.'
							    });
							    return;
							}
    				        
							
    				        
    				        // 날짜를 객체로 변환
//     				        const matInputDate = new Date(insCheckRows[0].matInputDate);
//     				        const matOrDate = new Date(insCheckRows[0].matOrDate);

//     				        // 날짜를 비교하여 유효성 검사 수행
//     				        if (matInputDate < matOrDate) {
//     				            Swal.fire({
//     				                icon: 'error',
//     				                text: '입고 일은 발주 일보다 이전 일수 없습니다.'
//     				            });
//     				            return;
//     				        }

        				    let data = {};

        			        data.matInsCode = insCheckRows[0].matInsCode;
        			        data.matInsGood = insCheckRows[0].matInsGood;
        			        data.matInsCount = insCheckRows[0].matInsCount;
        			        data.matInsBad = insCheckRows[0].matInsBad;
        			        data.matInsDate = insCheckRows[0].matInsDate;
        			        data.matOrCount = insCheckRows[0].matOrCount;

        				    console.log('전송할 데이터:', data);
                 			
               
                 			console.log(data);
                 			// AJAX 요청으로 서버에 데이터 전송
                 			fetch('/matInsUpdate', {
                 				method: 'put',
                 				headers: {
                 					'Content-Type': 'application/json',

                 				},
                 				body: JSON.stringify(data)
                 			})
                 				.then(response => {
                 					if (!response.ok) {
                 						throw new Error('Network response was not ok');
                 					}
                 					return response.text();
                 				})
                 				.then(data => {
                 					console.log('Success:', data);
                 					Swal.fire({
            					        icon: 'success',
            					        text: data
            					    }).then(() => {
            					        location.href = '/matIns'; // 성공적으로 처리된 후 리디렉트
            					        
            					    });
            					})
                 				.catch(error => {
                 					console.error('Error:', error);
                 				});

                 		});
            			
            			
            			
						

             			// 총금액 포맷터 함수
            			function formatTotalTtlPrice({ value }) {
            			    if (value) {
            			        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            			    }
            			    return '';
            			}
               	
      </script>
	</section>
</body>
</html>
