<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
<title>발주 관리 ^^</title>
<style>
button {
	float: right;
	margin-right: 5px;
	margin-bottom: 10px;
}

table {
	border-collapse: collapse;
	width: 20%; /* 크기를 조정합니다 */
}

th {
	background-color: #f2f2f2;
	color: #333;
	font-weight: bold;
	padding: 8px;
	text-align: left;
}

td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

input[type="text"] {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="text"]:focus {
	outline: none;
	border-color: #4CAF50;
}

#excel {
	float: left;
}
</style>
</head>
<body>
	<section layout:fragment="content">
		<h2>발주관리</h2>
		<div class="container">




			<div>
				<table>
					<tr>
						<th><input type="text" id="searchOrder"
							oninput="searchFunction()" placeholder="검색..."></th>
					</tr>
				</table>
				<table>
					<tr>
						<th><input type="text" id="searchOrder"
							oninput="searchFunction()" placeholder="검색..."></th>
					</tr>
				</table>

			</div>

			<!--  ================== 그리드 ================  -->
			<div class="row">
				<div class="col-8">
					<div id="matGrid" class="container">
						<h2>자재 목록</h2>
					</div>
				</div>
				<div class="col-4">
					<div id="busiGrid" class="container">
						<h2>거래처 목록</h2>
					</div>
				</div>
			</div>

			<!-- 			<button class="btn btn-secondary" -->
			<!-- 				style="float: right; margin: 8px 5px" onclick="addRow()"> -->
			<!-- 				추가</button> -->
			<!-- 			<button type="button" class="btn btn-primary" data-bs-toggle="modal" -->
			<!-- 				data-bs-target="#exampleModal">조회</button> -->


		</div>

		<div class="container">
			<h2>발주목록</h2>
			<button type="button" class="btn btn-outline-primary"
				id="orderInsert">저장</button>
			<button type="button" class="btn btn-outline-primary" id="excel"
				onclick="downloadCSV()">EXCEL</button>
			<button type="button" class="btn btn-outline-primary" id="excel"
				onclick="downloadPDF()">PDF</button>
			<div id="ordGrid"></div>
		</div>

		<script th:inline="javascript">
                            // 현재 자재 재고
                         	let mat = [[${oList}]];
                         	let matGrid, busiGrid, ordGrid;

                         	class DeleteButtonRenderer {
                         	    constructor(props) {
                         	        const el = document.createElement('button');
                         	        el.textContent = '삭제';
                         	        el.addEventListener('click', () => {
                         	            const rowData = props.grid.getRow(props.rowKey);
                         	            const matOrCode = rowData.matOrCode;
                         	            const matCode = rowData.matCode;
                         	            console.log("matOrCode :", matOrCode);

                         	            let data = {};
                         	            let matObj = {};
                         	            let ordObj = {};

                         	            matObj.matOrCode = matOrCode;
                         	            console.log("matObj.matOrCode : " ,matObj.matOrCode);
                         	            ordObj.matCode = matCode;
                         	            console.log("ordObj.matCode :",ordObj.matCode)

                         	            data.matOrderVO = matObj;
                         	            console.log(data.matOrderVO);
                         	            data.matOrderInfoVO = ordObj;
                         	           console.log(data.matOrderInfoVO);

                         	            console.log("data : ", data);

                         	            fetch('/matDelete', {
                         	                method: 'DELETE',
                         	                headers: {
                         	                    'Content-Type': 'application/json',
                         	                },
                         	                body: JSON.stringify(data)
                         	            })
                         	            .then(response => {
                         	                if (!response.ok) {
                         	                    throw new Error('Network response was not ok');
                         	                }
                         	                return response.text();
                         	            })
                         	            .then(data => {
                         	                console.log('Success:', data);
                         	                alert(data);
                         	                location.href = '/matOrder'; // 성공적으로 처리된 후 리디렉트
                         	            })
                         	            .catch(error => {
                         	                console.error('Error:', error);
                         	            });
                         	        });

                         	        this.el = el;
                         	    }

                         	    getElement() {
                         	        return this.el;
                         	    }
                         	}


                         	document.addEventListener('DOMContentLoaded', function () {
                         	    // matGrid 초기화
                         	    matGrid = new tui.Grid({
                         	        el: document.getElementById('matGrid'),
                         	        data: mat,
                         	        columns: [
                         	            { header: '자재코드', name: 'matCode', sortable: true, sortingType: 'desc' },
                         	            { header: '자재명', name: 'matName' },
                         	            { header: '단위', name: 'matUnit' },
                         	            { header: '규격', name: 'matStandard' },
                         	            { header: '안전재고', name: 'matSafeStock' }
                         	        ],
                         	        rowHeaders: ['rowNum'],
                         	        pageOptions: {
                         	            useClient: true,
                         	            perPage: 5
                         	        }
                         	    });

                         	    // matGrid 클릭 이벤트 핸들러
                         	    let matmat = {};
                         	    matGrid.on('click', function (ev) {
                         	    	console.log('ev 이벤트 :', ev.columnName)
                         	        let columnName = ev.columnName;
                         	        if (columnName === 'matCode') {
                         	            let rowKey = ev.rowKey;
                         	            let rowData = matGrid.getRow(rowKey);
                         	            console.log("rowData" ,rowData.matCode);
                         	            matmat.matCode = rowData.matCode;
                         	            matmat.matName = rowData.matName;
                         	           	matmat.businessCode = rowData.businessCode;
                         	           	matmat.businessName = rowData.businessName;
                         	           
                         	            if (rowData) {
                         	                var matCode = rowData.matCode;
                         	                fetch('/matBusinessList?matCode=' + matCode)
                         	                    .then(response => response.json())
                         	                    .then(data => {
														console.log("data : ", data);
                         	                    		// 그리드 갱신
                         	                    		busiGrid.resetData(data);
//                          	                    		busiGrid.prependRow(data);

                         	                    })
                         	                    .catch(err => {
                         	                        console.error('Error:', err);
                         	                    });
                         	            }
                         	        }
                         	    });

                         	    // busiGrid 초기화
                         	    busiGrid = new tui.Grid({
                         	        el: document.getElementById('busiGrid'),
                         	        scrollX: false,
                         	        scrollY: false,
                         	        columns: [
                         	            { header: '거래처코드', name: 'businessCode', sortable: true, sortingType: 'desc' },
                         	            { header: '거래처명', name: 'businessName' }
                         	          
                         	        ],
                         	        rowHeaders: ['rowNum'],
                         	        pageOptions: {
                         	            useClient: true,
                         	            perPage: 5
                         	        }
                         	    });

                         	    // busiGrid 클릭 이벤트 핸들러
                         	    busiGrid.on('click', function (ev) {
                         	        let columnName = ev.columnName;
                         	        console.log('ev 이벤트', ev.columnName);
                         	        if (columnName === 'businessCode') {
                         	            let rowKey = ev.rowKey;
                         	            let rowData = busiGrid.getRow(rowKey);
                         	            console.log("business : " , rowData);
                         	            if (rowData) {
//                          	                let businessCode = rowData.businessCode;
//                          	                let businessName = rowData.businessName;
                         	                
                         	                let businessCode = rowData.businessCode;
                         	                let businessName = rowData.businessName;
                         	                
                         	                
                         	                let matRowKey = matGrid.getFocusedCell();
                         	                let matRow = matGrid.getRow(matRowKey);
                         	                
                         	                let matCode = matmat.matCode;
                         	                let matName = matmat.matName;
                         	                
                         	                let data = {matCode, businessCode, businessName, matName}
                         	                
                         	                ordGrid.prependRow(data);
                         	                
                         	            }
                         	        }
                         	    });
                         	    

                         	    
                         	    

                         	    let ordList = [[${mList}]]
                         	    // ordGrid 초기화
                         	    ordGrid = new tui.Grid({
                         	        el: document.getElementById('ordGrid'),
                         	        data: ordList,
                         	        scrollX: false,
                         	        scrollY: false,
                         	        columns: [
                         	            { name: 'matOrCode', header: '발주코드', sortable: true, sortingType: 'desc' },
                         	            { name: 'matOrName', header: '발주명' ,
                         	            	editor : 'text'},
                         	            { name: 'matCode', header: '자재코드' },
                         	            { name: 'businessName', header: '거래처명' },
                         	            { name: 'matName', header: '자재명' },
                         	            { name: 'matOrCount', header: '발주량' , editor: 'text'},
                         	            { name: 'matOrDate', header: '발주일', formatter: formatDate,
                         	            	editor: {
                								type: 'datePicker',
                								options: {
                									format: 'yyyy-MM-dd'
                								}
                         	            }},
                         	            { name: 'matOrDueDate', header: '납기요청일', formatter: formatDate,
                         	           	editor: {
            								type: 'datePicker',
            								options: {
            									format: 'yyyy-MM-dd'
            								}
            							}},
                         	            { name: 'matOrManager', header: '담당자' },
                         	           {
                         	               header: '발주상태',
                         	               name: 'matOrState',
                         	               align: "center",
                         	               formatter: getMatOrderStatus,
                         	               filter: { type: 'text', showApplyBtn: true, showClearBtn: true },
                         	               
                         	           },
                         	            {
                         	               header: '삭제',
                         	               name: 'deleteButton',
                         	               align: "center",
                         	               renderer: {
                         	                  type: DeleteButtonRenderer
                         	              }
                						}
                         	        ],
                         	        rowHeaders: ['rowNum'],
                         	        pageOptions: {
                         	            useClient: true,
                         	            perPage: 5
                         	        }
                         	    });
                         	});

                         	// 날짜 형식 지정 함수
                         	function formatDate({ value }) {
                         	    if (value) {
                         	        let date = new Date(value);
                         	        let year = date.getFullYear();
                         	        let month = (date.getMonth() + 1).toString().padStart(2, '0');
                         	        let day = date.getDate().toString().padStart(2, '0');
                         	        return `${year}-${month}-${day}`;
                         	    }
                         	    return '';
                         	}

                         	// 발주 상태 형식 지정 함수
  						function getMatOrderStatus(value, row) {
						    let statusText, backgroundColor;
						
						    switch (value) {
						        case '1':
						            statusText = '발주완료';
						            backgroundColor = 'gray';
						            break;
						        case '2':
						            statusText = '대기중';
						            backgroundColor = 'red';
						            break;
						        default:
						            statusText = '알수없음';
						            backgroundColor = 'yellowgreen';
						            break;
						    }
						
						    return `<div style="background-color: ${backgroundColor}; ">${statusText}</div>`;
						}



//         			function addRow(){

//               			ordGrid.prependRow({isNew: true});
//               		}

                    // =============== insert ===============
                    document.querySelector('#orderInsert').addEventListener('click', function() {
                    let name = [[${session.userName}]]
                    const newData = ordGrid.getModifiedRows().createdRows;
                    console.log(newData);
        //          	const newOrder = document.querySelectorAll('.order')
        //          	console.log(newOrder);
        
        		
	                if(newData.length === 0 ){
    	             	alert("insert 할 내용이 없습니다.")
        	         	return;
            	    }
	                
	                // 데이터 유효성 검사
					for (const data of newData) {
					  if (!data.matOrName || data.matOrName.trim() === "") {
					    console.log("발주명을 확인해주세요.");
					    return;
					  }
					}
	                for (const data of newData) {
	                    if (!data.matOrCount || isNaN(data.matOrCount) || Number(data.matOrCount) <= 0) {
	                        alert("발주량을 확인해주세요.");
	                        return;
	                    }
	                    // 다른 필드에 대한 유효성 검사도 여기에 추가할 수 있습니다.
	                }
	                

                 	console.log('추가된 행의 데이터:' , newData);
        	        let data = {};
        	  
        			data.matOrCode = newData[0].matOrCode;
        			data.matOrName = newData[0].matOrName;
        			data.matCode = newData[0].matCode;
        			data.businessCode = newData[0].businessCode;
        			
        			data.matName = newData[0].matName;
        			data.matOrCount = newData[0].matOrCount;
        			data.matOrDate = newData[0].matOrDate;
        			data.matOrDueDate = newData[0].matOrDueDate;
        			data.matOrManager = name;
				
        			

        			console.log('data : ' , data);


        			console.log(data);
        			// AJAX 요청으로 서버에 데이터 전송
        			fetch('/matOrderInsert', {
        				method: 'POST',
        				headers: {
        					'Content-Type': 'application/json',

        				},
        				body: JSON.stringify(data)
        			})
        				.then(response => {
        					if (!response.ok) {
        						throw new Error('Network response was not ok');
        					}
        					return response.text();
        				})
        				.then(data => {
        					console.log('Success:', data);
        					alert(data);
        					location.href = '/matOrder'; // 성공적으로 처리된 후 리디렉트
        				})
        				.catch(error => {
        					console.error('Error:', error);
        				});



        		});


        		//plan detail update
        // 		document.querySelector('#planDUpdate').addEventListener('click', function () {
        // 			const newDetail = document.querySelector('#planDGrid .tui-grid-row-odd');
        // 			if (newDetail === null) {
        // 				alert("저장 할 내용이 없습니다.")
        // 				return;
        // 			}

        // 			let data = {};

        // 			let newPlanDetailRows = document.querySelectorAll('#planDGrid tbody tr');

        // 			let planDetailData = [];
        // 			// 인덱스 4부터 시작하여 끝까지 반복합니다.
        // 			for (let i = 4; i < newPlanDetailRows.length; i++) {
        // 				// 현재 tr 요소 내의 prodCode에 해당하는 div를 찾습니다.
        // 				let obj = {};
        // 				let target = $(newPlanDetailRows[i]);
        // 				obj.dplanCode = target.find('td:eq(0)').text();
        // 				obj.prodCode = target.find('td:eq(1)').text();
        // 				console.log("prodCode : " + obj.prodCode);

        // 				obj.dplanStartDate = target.find('td:eq(2)').text();
        // 				console.log("dplanStartDate : " + obj.dplanStartDate);
        // 				obj.dplanEndDate = target.find('td:eq(3)').text();
        // 				obj.dplanCount = target.find('td:eq(6)').text();

        // 				planDetailData.push(obj);

        // 			}
        // 			data.planDVOList = planDetailData;
        // 			console.log(data);
        // 			// AJAX 요청으로 서버에 데이터 전송
        // 			fetch('/planDUpdate', {
        // 				method: 'put',
        // 				headers: {
        // 					'Content-Type': 'application/json',

        // 				},
        // 				body: JSON.stringify(data)
        // 			})
        // 				.then(response => {
        // 					if (!response.ok) {
        // 						throw new Error('Network response was not ok');
        // 					}
        // 					return response.text();
        // 				})
        // 				.then(data => {
        // 					console.log('Success:', data);
        // 					alert(data);
        // 					location.href = '/planManage'; // 성공적으로 처리된 후 리디렉트
        // 				})
        // 				.catch(error => {
        // 					console.error('Error:', error);
        // 				});

        // 		});
        		
        		
        // 검색
        function searchFunction() {	
             let input, filter, table, tr, td, i, j, txtValue;
     	     input = document.getElementById("searchOrder");
     	     filter = input.value.toUpperCase();
     	     table = document.getElementById("ordGrid");

     	     tr = table.getElementsByTagName("tr");
     	     for (i = 0; i < tr.length; i++) {
     	         td = tr[i].getElementsByTagName("td");
     	         for (j = 0; j < td.length; j++) {
     	             txtValue = td[j].textContent || td[j].innerText;
     	             if (txtValue.toUpperCase().indexOf(filter) > -1) {
     	                 tr[i].style.display = "";
     	                 break;
     	             } else {
     	                 tr[i].style.display = "none";
     	             }
     	         }
     	     }
     	 }
        
    	// 엑셀 다운로드
    	function downloadCSV() {
            const gridData = ordGrid.getData(); // 그리드에서 데이터 가져오기
            const header = Object.keys(gridData[0]).join(','); // 헤더 생성
            const csv = gridData.map(row => Object.values(row).join(',')).join('\n'); // 데이터 생성

            const csvContent = `data:text/csv;charset=utf-8,${header}\n${csv}`; // CSV 내용 생성
            const encodedUri = encodeURI(csvContent); // URI 인코딩

            const link = document.createElement('a');
            link.setAttribute('href', encodedUri);
            link.setAttribute('download', 'data.csv');
            document.body.appendChild(link);
            link.click();
        }
    	
    	//pdf
		function downloadPDF() {
		    // 그리드에서 데이터 가져오기
		    const gridData = ordGrid.getData();
		
		    // 테이블 헤더
		    const header = ordGrid.getColumns().map(column => column.header);
		
		    // 테이블 데이터
		    const data = gridData.map(row => {
		        return ordGrid.getColumns().map(column => row[column.name]);
		    });
		
		    // PDF 문서 정의
		    const docDefinition = {
		        content: [
		            { text: 'pdf', style: 'header' },
		            {
		                style: 'table',
		                table: {
		                    headerRows: 1,
		                    widths: ['auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto'],
		                    body: [
		                        header,
		                        ...data
		                    ]
		                }
		            }
		        ],
		        styles: {
		            header: {
		                fontSize: 18,
		                bold: true,
		                margin: [0, 0, 0, 10]
		            },
		            table: {
		                margin: [0, 10, 0, 0]
		            }
		        }
		    };
		
		    // PDF 생성 및 다운로드
		    pdfMake.createPdf(docDefinition).download('data.pdf');
		}
        
        
      </script>
	</section>
</body>
</html>