<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>출고 관리^^</title>
</head>
<body>
	<section layout:fragment="content">

		<div id="grid" class="container"><h3>출고관리</h3></div>

		<script th:inline="javascript">
		let matOutList = [[${matOutList}]]
		
		 const grid = new tui.Grid({

            el: document.getElementById('grid'),
            data: matOutList, // 여기서 emps 데이터를 사용
            scrollX: false,
            scrollY: false,
	      columns: [
	        {
	          header: '출고코드',
	          name: 'matOutCode'
	        },
	        {
	          header: '거래처',
	          name: 'businessName'
	        },
	        {
	          header: '담당자',
	          name: 'matManager'
	        },
	        {
		      header: '제품명',
		      name: 'matName'
		    },
	        {
			  header: 'LOT코드',
			  name: 'matLotCode'
			},
	        {
			  header: '재고량',
			  name: 'matCount'
			},
	        {
			  header: '출고량',
			  name: 'matOutCount'
			},
			{
			  header: '출고일',
			  name: 'matOutDate',
  		      formatter : function dateFormatter(params) {
  		    	  const date = new Date(params.value);
  		    	  const isoDate = date.toISOString().split('T')[0];
  		    	  return isoDate;
  		    	}
			},
	      ],
	      rowHeaders: ['rowNum'],
            pageOptions: {
                useClient: true,
                perPage: 5
            }
	    });
		</script>
	</section>

</body>
</html>