<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>반품관리</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<h1>반품 관리</h1>
			<table class="table">
				<thead>
					<tr>
						<th>No.</th>
						<th>반품코드</th>
						<th>거래처</th>
						<th>자재코드</th>
						<th>자재 명</th>
						<th>LOT 번호</th>
						<th>재고량</th>
						<th>반품 수량</th>
						<th>반품 내용</th>
						<th>반품일자</th>
						<th>담당자</th>
						<th>취소여부</th>
					</tr>
				</thead>
			</table>
		</div>

		<script>

		</script>

	</section>
</body>
</html>