<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>반품관리</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<section layout:fragment="content" class="m-5">

		<div id="grid" class="container">
			<h3>반품 관리</h3>
		</div>

		<script th:inline="javascript">
		
		let matReList = [[${matReList}]]
				
		 const grid = new tui.Grid({

             el: document.getElementById('grid'),
             data: matReList, // 여기서 emps 데이터를 사용
             scrollX: false,
             scrollY: false,
 	      columns: [
 	        {
 	          header: '반품코드',
 	          name: 'matReCode'
 	        },
 	        {
 	          header: '거래처',
 	          name: 'businessName'
 	        },
 	        {
 	          header: '자재코드',
 	          name: 'matCode'
 	        },
 	        {
 	          header: '자재명',
 	          name: 'matName'
 	        },
 	        {
 	 	      header: 'LOT코드',
 	 	      name: 'matLotCode'
 	 	    },
 	        {
 	 	      header: '재고량',
 	 	      name: 'matCount'
 	 	    },
 	        {
 	 	      header: '반품수량',
 	 	      name: 'matReCount'
 	 	    },
 	        {
 	 	      header: '반품내용',
 	 	      name: 'matReContent'
 	 	    },
 	        {
 	 	      header: '반품일자',
 	 	      name: 'matReStartDate',
  		      formatter : function dateFormatter(params) {
  		    	  const date = new Date(params.value);
  		    	  const isoDate = date.toISOString().split('T')[0];
  		    	  return isoDate;
  		    	}
 	 	    },
 	        {
 	 	      header: '담당자',
 	 	      name: 'matReManager'
 	 	    },
 	        {
 	 	      header: '반품여부',
 	 	      name: 'matReState'
 	 	    },
 	      ],
 	      rowHeaders: ['rowNum'],
             pageOptions: {
                 useClient: true,
                 perPage: 5
             }
 	    });
		</script>
	</section>
</body>
</html>