<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.demo.material.mapper.MaterialMapper">
	<select id="getMatOrderList" resultType="MatOrderVO">
		SELECT mo.mat_or_code,
		       mo.mat_or_name, 
		       mo.mat_code, 
		       b.business_name,
		       mo.mat_or_count,
		       mo.mat_or_date,
		       moi.mat_or_due_date,
		       mo.mat_or_manager
		 FROM  mat_order      mo
		 JOIN  business       b     ON mo.business_code = b.business_code
		 JOIN  mat_order_info moi   ON mo.mat_or_code = moi.mat_or_code
	</select>
	
	<select id="getMaterialOrdInfoList" resultType="MatOrderInfoVO">
		SELECT mo.mat_or_code,
		       mo.mat_or_name, 
		       mo.mat_code, 
		       b.business_name,
		       mo.mat_or_count,
		       mo.mat_or_date,
		       moi.mat_or_due_date,
		       mo.mat_or_manager
		 FROM  mat_order      mo
		 JOIN  business       b     ON mo.business_code = b.business_code
		 JOIN  mat_order_info moi   ON mo.mat_or_code = moi.mat_or_code
	</select>
	
	<select id="getOriginMaterialList" resultType="OriginMaterialVO">
		SELECT mat_code, mat_name, mat_unit, mat_standard, mat_safe_stock
		FROM material
	</select>
	
	
	<select id="getOriginMaterialList1" resultType="OriginMaterialVO">
		SELECT m.mat_code,
			   m.mat_name,
			   m.mat_safe_stock,
			   ml.mat_count
		FROM material 	m
		JOIN mat_lot 	ml 	ON m.mat_code = ml.mat_code
	</select>
	
	<select id="getOutputList" resultType="MatOutputVO">
		SELECT b.business_code,
		 	   mo.mat_out_code, 
		 	   b.business_name, 
		 	   ml.mat_manager, 
		 	   m.mat_name, 
		 	   ml.mat_lot_code, 
		 	   ml.mat_count, 
		 	   mo.mat_out_count, 
		 	   mo.mat_out_date
		FROM mat_output mo
		left JOIN mat_lot    ml ON mo.mat_lot_code = ml.mat_lot_code
		left JOIN material   m  ON ml.mat_code = m.mat_code
		full JOIN business   b  ON ml.mat_ins_code = b.business_code;
	</select>

	<insert id="insertMatOrder" parameterType="MatOrderVO">
	INSERT INTO mat_order 
          (
             mat_code,
             business_code,
             mat_or_date, 
             mat_or_manager,
             mat_or_count,
             mat_or_name
             )
        VALUES 
        (
              #{matCode}, 
              #{businessCode},
              #{matOrDate}, 
              #{matOrManager},
              #{matOrCount},
              #{matOrName} 
        )
	</insert>
	
<!-- 	<insert id="insertMatOrder1" parameterType="MatOrderVO"> -->
<!-- 	INSERT INTO business -->
<!--           ( -->
<!--              business_name -->
<!--              ) -->
<!--         VALUES  -->
<!--         ( -->
<!--               #{businessName} -->
<!--         )	 -->
<!-- 	</insert> -->
	
<!-- 	<insert id="insertMatOrder2" parameterType="MatOrderVO"> -->
<!-- 	INSERT INTO mat_order_info -->
<!--           ( -->
<!--              mat_or_due_date -->
<!--              ) -->
<!--         VALUES  -->
<!--         ( -->
<!--               #{matOrDueDate} -->
<!--         )			 -->
<!-- 	</insert> -->

</mapper>