<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>empList.html</title>

</head>
<body>
	<section layout:fragment="content">
		<div id="grid"></div>
		
		<script th:inline="javascript">
			let emps = [[${list}]]
			console.log(emps);
		
        // TOAST UI Grid 초기화
         const grid = new tui.Grid({
            el: document.getElementById('grid'),
            data: emps, // 여기서 emps 데이터를 사용
            scrollX: false,
            scrollY: false,
            columns: [
                { header: 'Employee ID', name: 'employeeId' },
                { 
                    header: 'Name', 
                    name : 'lastName'
                },
                { header: 'Hire Date', name: 'hireDate' },
                { header: 'Salary', name: 'salary' },
                { 
                    header: 'Grade', 
                    formatter: function({row}) {
                        return row.salary > 10000 ? 'A' : 'B';
                    }
                }
            ],
            rowHeaders: ['rowNum'],
            pageOptions: {
                useClient: true,
                perPage: 5
            }
        });

       
        

       
    </script>
	
	</section>
	
</body>
</html>